Repository SonarSource/rspec, pull requests merged in 2021-10, with the labels that each got.

#411 Modify rule S6300[java]: Add Java examples
  rules/S6300/java/rule.adoc
Labels: java

#460 Deprecate rule S2039 for java
  rules/S2039/java/metadata.json
Labels: java

#428 Modify rule S4507: Add Java/Kotlin examples for WebView
  rules/S4507/ask-yourself.adoc
  rules/S4507/java/rule.adoc
  rules/S4507/kotlin/rule.adoc
  rules/S4507/recommended.adoc
Labels: java, kotlin

#458 Modify rule S5332[java]: support Android WebView insecure mixed content policy
  rules/S5332/ask-yourself.adoc
  rules/S5332/java/rule.adoc
  rules/S5332/message.adoc
  rules/S5332/recommended.adoc
Labels: java

#478 Modify rule S6287: Remove tainted key from samples
  rules/S6287/csharp/rule.adoc
  rules/S6287/java/rule.adoc
  rules/S6287/javascript/rule.adoc
  rules/S6287/php/rule.adoc
  rules/S6287/python/rule.adoc
Labels: java, python, dotnet, php, jsts

#461 Create rule S6363[java]: Enabling file access for WebViews is security-sensitive
  rules/S6363/ask-yourself.adoc
  rules/S6363/description.adoc
  rules/S6363/java/metadata.json
  rules/S6363/java/rule.adoc
  rules/S6363/message.adoc
  rules/S6363/metadata.json
  rules/S6363/recommended.adoc
  rules/S6363/see.adoc
Labels: java

#488 Modify rule S2647: remove CWE-311 from "securityStandards" to match the "See" section
  rules/S2647/metadata.json
Labels: java, xml

#520 Rule S3267: Set severity to minor and remove the clumsy tag
  rules/S3267/csharp/metadata.json
Labels: dotnet
