Repository SonarSource/rspec, pull requests merged in 2021-09, with the labels that each got.

#295 Modify rule S5868: Add PHP as covered language
  rules/S5868/metadata.json
  rules/S5868/php/metadata.json
  rules/S5868/php/rule.adoc
Labels: php

#298 Modify rule S5868: Fix regex pattern for PHP
  rules/S5868/php/rule.adoc
Labels: php

#297 Modify rule S6353[javascript]: Mention `s` flag for `[\s\S]` pattern
  rules/S6353/javascript/rule.adoc
Labels: jsts

#269 Create rule S5852[javascript]: Using slow regular expressions is security-sensitive
  rules/S5852/javascript/rule.adoc
  rules/S5852/metadata.json
Labels: jsts

#267 Create rule S5869[javascript]: Character classes in regular expressions should not contain the same character twice
  rules/S5869/javascript/metadata.json
  rules/S5869/javascript/rule.adoc
  rules/S5869/metadata.json
Labels: jsts

#308 Modify rule S874 (CPP-3133) Handle combined operation & C++20
  rules/S874/cfamily/rule.adoc
Labels: cfamily

#160 Modify rule S6275: Add description
  rules/S6275/ask-yourself.adoc
  rules/S6275/cloudformation/rule.adoc
  rules/S6275/description.adoc
  rules/S6275/metadata.json
  rules/S6275/recommended.adoc
  rules/S6275/see.adoc
  rules/S6275/terraform/rule.adoc
Labels: iac

#322 Modify rule S5996: Add PHP as covered language
  rules/S5996/description.adoc
  rules/S5996/java/rule.adoc
  rules/S5996/metadata.json
  rules/S5996/php/rule.adoc
Labels: php

#313 Modify rule S1705: FP when the returned value of postfix inc is actually used (CPP-3246)
  rules/S1705/cfamily/rule.adoc
Labels: cfamily

#330 Modify rule S4792: Fix exceptions for error_reporting
  rules/S4792/php/rule.adoc
Labels: php

#331 Delete rule S1258 for C++
  rules/S1258/cfamily/metadata.json
  rules/S1258/cfamily/rule.adoc
  rules/S1258/compliant.adoc
  rules/S1258/description.adoc
  rules/S1258/noncompliant.adoc
  rules/S1258/rule.adoc
Labels: cfamily

#335 Modify rule S6001: Add PHP as covered language
  rules/S6001/metadata.json
  rules/S6001/php/rule.adoc
Labels: php

#316 Create rule S6203[kotlin]: Multi-line string literals should not be used in complex expressions
  rules/S6203/java/metadata.json
  rules/S6203/kotlin/metadata.json
  rules/S6203/kotlin/rule.adoc
  rules/S6203/metadata.json
Labels: kotlin

#324 Create rule S6207[Kotlin]: Redundant methods should be avoided in data classes
  rules/S6207/java/metadata.json
  rules/S6207/kotlin/metadata.json
  rules/S6207/kotlin/rule.adoc
  rules/S6207/metadata.json
Labels: kotlin

#323 Create rule S4738[Kotlin]: Native features should be preferred to Guava
  rules/S4738/java/metadata.json
  rules/S4738/kotlin/metadata.json
  rules/S4738/kotlin/rule.adoc
  rules/S4738/metadata.json
Labels: kotlin

#318 Create rule S2123[Kotlin]: Values should not be uselessly incremented
  rules/S2123/kotlin/compliant.adoc
  rules/S2123/kotlin/metadata.json
  rules/S2123/kotlin/noncompliant.adoc
  rules/S2123/kotlin/rule.adoc
  rules/S2123/metadata.json
Labels: kotlin

#338 Modify rule S5856: Add PHP as covered language
  rules/S5856/metadata.json
  rules/S5856/php/metadata.json
  rules/S5856/php/rule.adoc
Labels: php

#311 Create rule S6218[kotlin]: Equals method should be overridden in data…
  rules/S6218/java/metadata.json
  rules/S6218/kotlin/metadata.json
  rules/S6218/kotlin/rule.adoc
  rules/S6218/metadata.json
Labels: kotlin

#310 Create rule S6202[kotlin]: Operator "is" should be used instead of "isInstance()"
  rules/S6202/java/metadata.json
  rules/S6202/kotlin/metadata.json
  rules/S6202/kotlin/rule.adoc
  rules/S6202/metadata.json
Labels: kotlin

#327 Create rule S2189[kotlin]: Loops should not be infinite
  rules/S2189/kotlin/metadata.json
  rules/S2189/kotlin/rule.adoc
  rules/S2189/metadata.json
Labels: kotlin

#355 Modify rule S6019: Add PHP as covered language
  rules/S6019/metadata.json
  rules/S6019/php/metadata.json
  rules/S6019/php/rule.adoc
Labels: php

#367 Modify rule S6019: Modify Java examples
  rules/S6019/java/rule.adoc
Labels: java

#366 Modify rule S6019: Modify PHP examples
  rules/S6019/php/rule.adoc
Labels: php

#364 Modify rule S6226: Disable rule on Windows
  rules/S6226/cfamily/rule.adoc
Labels: cfamily

#363 Modify rule S6229: Improve description
  rules/S6229/cfamily/rule.adoc
Labels: cfamily

#369 Modify rule S6229: Fix typo
  rules/S6229/cfamily/rule.adoc
Labels: cfamily

#368 Modify rule S6226: Add exception section
  rules/S6226/cfamily/rule.adoc
Labels: cfamily

#161 Modify rule S6270 to be more generic targeting all AWS resources
  rules/S6270/ask-yourself.adoc
  rules/S6270/cloudformation/rule.adoc
  rules/S6270/description.adoc
  rules/S6270/metadata.json
  rules/S6270/recommended.adoc
  rules/S6270/see.adoc
  rules/S6270/terraform/rule.adoc
Labels: iac

#378 Modify rule S3260
  rules/S3260/csharp/message.adoc
  rules/S3260/csharp/metadata.json
  rules/S3260/csharp/rule.adoc
Labels: dotnet

#382 Create rule S2053[kotlin]: Hashes should include an unpredictable salt
  rules/S2053/kotlin/metadata.json
  rules/S2053/kotlin/rule.adoc
  rules/S2053/metadata.json
Labels: kotlin

#375 Modify rule S5320: Add code examples to Kotlin
  rules/S5320/java/rule.adoc
  rules/S5320/kotlin/rule.adoc
  rules/S5320/rule.adoc
Labels: java, kotlin

#389 Modify rule S5322: Add code examples for Kotlin and Java
  rules/S5322/java/rule.adoc
  rules/S5322/kotlin/rule.adoc
  rules/S5322/rule.adoc
Labels: java, kotlin

#396 Modify rule S5361: fix examples for PHP
  rules/S5361/php/rule.adoc
Labels: php

#395 Modify rule S5843: Add PHP as covered language
  rules/S5843/metadata.json
  rules/S5843/php/rule.adoc
Labels: php

#345 Modify rule S5867: Add PHP as covered language
  rules/S5867/metadata.json
  rules/S5867/php/metadata.json
  rules/S5867/php/rule.adoc
Labels: php

#107 Modify rule S6291: Generalize rule for multiple databases
  rules/S6291/ask-yourself.adoc
  rules/S6291/description.adoc
  rules/S6291/java/rule.adoc
  rules/S6291/kotlin/rule.adoc
  rules/S6291/metadata.json
  rules/S6291/recommended.adoc
  rules/S6291/rule.adoc
  rules/S6291/see.adoc
Labels: java, kotlin

#127 Modify rule S5324: Add Kotlin support
  rules/S5324/ask-yourself.adoc
  rules/S5324/description.adoc
  rules/S5324/java/rule.adoc
  rules/S5324/kotlin/rule.adoc
  rules/S5324/recommended.adoc
Labels: kotlin

#105 Create rule S6288[java]: Authorizing non-authenticated users to use keys in the Android KeyStore is security-sensitive
  rules/S6288/java/rule.adoc
Labels: java, appsec

#410 Modify rule S6291[java]: Add Java examples
  rules/S6291/java/rule.adoc
Labels: java

#417 Modify rule S6195: Fix grammar and typo in code
  rules/S6195/cfamily/rule.adoc
Labels: cfamily
