Repository SonarSource/rspec, pull requests merged in 2021-06, with the labels that each got.

#102 Modify rule S5876: 'SonarWay Recommended' QP only apply to JS
  rules/S5876/javascript/metadata.json
  rules/S5876/metadata.json
Labels: java, jsts

#101 Modify rule S1176[java]: Update description
  rules/S1176/java/rule.adoc
Labels: java

#108 RULEAPI-649: Add frontend tests to CI
  .cirrus.yml
  ci/Dockerfile
  ci/frontend-tests-dockerfile
  ci/generate_html.sh
  ci/validate_asciidoc.sh
  ci/validate_links.sh
  ci/validate_metadata.sh
  frontend/src/deployment/__tests__/metadata.test.ts
  validation/schema.json
Labels: GH Page

#112 add mobile security standards, links and tags to mobile rules and add new CWEv4.4 entries
  rules/S2245/java/metadata.json
  rules/S2245/metadata.json
  rules/S2245/see.adoc
  rules/S2631/metadata.json
  rules/S2631/see.adoc
  rules/S3329/metadata.json
  rules/S3329/see.adoc
  rules/S4423/metadata.json
  rules/S4423/see.adoc
  rules/S4426/metadata.json
  rules/S4426/see.adoc
  rules/S4507/xml/metadata.json
  rules/S4507/xml/rule.adoc
  rules/S4790/metadata.json
  rules/S4790/see.adoc
  rules/S4830/metadata.json
  rules/S4830/see.adoc
  rules/S5320/metadata.json
  rules/S5320/see.adoc
  rules/S5322/metadata.json
  rules/S5322/see.adoc
  rules/S5324/metadata.json
  rules/S5324/see.adoc
  rules/S5328/php/metadata.json
  rules/S5328/php/rule.adoc
  rules/S5332/metadata.json
  rules/S5332/see.adoc
  rules/S5527/metadata.json
  rules/S5527/see.adoc
  rules/S5542/java/metadata.json
  rules/S5542/java/rule.adoc
  rules/S5542/kotlin/metadata.json
  rules/S5542/kotlin/rule.adoc
  rules/S5542/metadata.json
  rules/S5547/java/metadata.json
  rules/S5547/java/rule.adoc
  rules/S5547/kotlin/metadata.json
  rules/S5547/kotlin/rule.adoc
  rules/S5547/metadata.json
  rules/S5594/xml/metadata.json
  rules/S5594/xml/rule.adoc
  rules/S5604/xml/metadata.json
  rules/S5604/xml/rule.adoc
  rules/S5852/metadata.json
  rules/S5852/see.adoc
  rules/S6288/metadata.json
  rules/S6288/see.adoc
  rules/S6291/metadata.json
  rules/S6291/rule.adoc
Labels: appsec

#121 SONARJAVA-3870 Remove S6212 from default quality profile.
  rules/S6212/java/metadata.json
Labels: java

#93 String offset-based methods should be preferred for finding substrings from offsets (java:S4635)
  rules/S4635/compliant.adoc
  rules/S4635/description.adoc
Labels: java

#146 Modify rule S3551: Fix mismatch in CERT references between text documentation and metadata
  rules/S3551/java/metadata.json
Labels: java

#152 Modify rule S997: CPP-2396 Add exception for function definitions
  rules/S997/compliant.adoc
  rules/S997/description.adoc
  rules/S997/noncompliant.adoc
Labels: cfamily
