Repository SonarSource/rspec, pull requests merged in 2021-07, with the labels that each got.

#162 Modify rule S2057: Add an exception for Records
  rules/S2057/java/rule.adoc
Labels: java

#169 Update Java 16 rules documentation to link released documentation
  rules/S6207/java/rule.adoc
  rules/S6209/java/rule.adoc
  rules/S6210/java/rule.adoc
  rules/S6211/java/rule.adoc
  rules/S6215/java/rule.adoc
  rules/S6216/java/rule.adoc
  rules/S6217/java/rule.adoc
  rules/S6218/java/rule.adoc
  rules/S6219/java/rule.adoc
Labels: java

#170 Modify rule S1234: Amend list of supported methods for Java
  rules/S2201/java/rule.adoc
Labels: java

#171 Modify rule S2057: Update link to version 16 of the java documentation
  rules/S2057/java/rule.adoc
Labels: java

#172 Modify rule S6206: "no setters" condition is redundant with having only private final fields
  rules/S6206/java/rule.adoc
Labels: java

#199 Modify rule S6207: Replace unbreakable spaces with regular spaces
  rules/S6207/java/rule.adoc
Labels: java

#213 Modify rule S6210: Rephrase requirement on private element access
  rules/S6210/java/rule.adoc
Labels: java

#219 Modify rule S5850: Update supported anchors for JavaScript regex
  rules/S5850/javascript/rule.adoc
Labels: jsts

#225 Modify rule S6228: Fix typos
  rules/S6228/cfamily/rule.adoc
Labels: cfamily

#223 Update S6290 and S6292
  rules/S6290/description.adoc
  rules/S6290/recommended.adoc
  rules/S6290/secrets/metadata.json
  rules/S6290/secrets/rule.adoc
  rules/S6290/see.adoc
  rules/S6292/description.adoc
  rules/S6292/recommended.adoc
  rules/S6292/secrets/metadata.json
  rules/S6292/secrets/rule.adoc
  rules/S6292/see.adoc
Labels: secrets

#234 Modify rule S5860: Describe missing non-compliant pattern
  rules/S5860/description.adoc
Labels: java, jsts

#217 Modify rule S6223: Add missing "Noncompliant Code Example"
  rules/S6223/cfamily/metadata.json
  rules/S6223/cfamily/rule.adoc
Labels: cfamily
