Repository SonarSource/rspec, pull requests merged in 2021-08, with the labels that each got.

#227 Modify rule S4507: WordPress misconfigurations
  rules/S4507/php/rule.adoc
Labels: php

#261 Modify rule S2479: Remove tabs exception for Java text blocks
  rules/S2479/java/rule.adoc
Labels: java

#262 Modify rule S3723: Consider all multiline constructs
  rules/S3723/rule.adoc
Labels: jsts

#228 Modify rule S5332: WordPress misconfigurations
  rules/S5332/php/rule.adoc
Labels: php

#190 Modify rule S6294: fix YAML alignment
  rules/S6294/cloudformation/rule.adoc
Labels: iac

#273 Create rule S5843[javascript]: Regular expressions should not be too complicated
  rules/S5843/javascript/metadata.json
  rules/S5843/javascript/rule.adoc
  rules/S5843/metadata.json
Labels: jsts

#287 Modify rule S5361: Add PHP as covered language
  rules/S5361/java/metadata.json
  rules/S5361/metadata.json
  rules/S5361/php/metadata.json
  rules/S5361/php/rule.adoc
Labels: php

#284 Modify rule S1068: Document tolerated exceptions for Java
  rules/S1068/java/rule.adoc
Labels: java
