Repository SonarSource/rspec, pull requests merged in 2022-10, with the labels that each got.

#1307 Modify rule S1125: Remove second message
  rules/S1125/javascript/message.adoc
Labels: jsts

#1319 Deprecate Formatting rules for JavaScript
  rules/S103/javascript/metadata.json
  rules/S105/javascript/metadata.json
  rules/S1105/javascript/metadata.json
  rules/S1110/javascript/metadata.json
  rules/S1116/javascript/metadata.json
  rules/S113/javascript/metadata.json
  rules/S1131/javascript/metadata.json
  rules/S122/javascript/metadata.json
  rules/S139/javascript/metadata.json
  rules/S1438/javascript/metadata.json
  rules/S1441/javascript/metadata.json
  rules/S1537/javascript/metadata.json
  rules/S3723/javascript/metadata.json
  rules/S3972/javascript/metadata.json
  rules/S3973/javascript/metadata.json
Labels: jsts

#1320 Modify rule S4421: Add more deprecated functions
  rules/S4421/plsql/rule.adoc
Labels: plsql

#1322 Modify Rule S1226: Add exception for argument reassignments inside if statements
  rules/S1226/javascript/rule.adoc
Labels: jsts

#1323 Modify Rule S1226: Fix Typo
  rules/S1226/javascript/rule.adoc
Labels: jsts

#1326 Modify rule S1313: Add exceptions for IPv6 ranges used for documentation purposes
  rules/S1313/swift/rule.adoc
Labels: swift

#1315 Modify S4423[JS]: Support of AWS CDK code (APPSEC-158)
  rules/S4423/javascript/message.adoc
  rules/S4423/javascript/rule.adoc
  rules/S4423/python/rule.adoc
Labels: jsts

#1333 Deprecate Rule css:S5362 (`function-calc-no-invalid`)
  rules/S5362/css/metadata.json
Labels: css

#1062 Modify rule S2225: Add VB.NET
  rules/S2225/vbnet/metadata.json
  rules/S2225/vbnet/rule.adoc
Labels: dotnet

#1329 Modify rule S2083(Python): Update text to Education Framework structure (APPSEC-200)
  rules/S2083/common/fix/function-based-validation.adoc
  rules/S2083/common/fix/self-validation.adoc
  rules/S2083/common/pitfalls/python-path-join.adoc
  rules/S2083/python/how-to-fix-it/flask.adoc
  rules/S2083/python/rule.adoc
Labels: python

#1335 Modify rule S2083(PHP): Update text to Education Framework structure (APPSEC-202)
  rules/S2083/php/how-to-fix-it/core.adoc
  rules/S2083/php/rule.adoc
Labels: php

#1334 Modify rule S2083(JS): Update text to Education Framework structure (APPSEC-201)
  docs/allowed_framework_names.adoc
  rules/S2083/javascript/how-to-fix-it/express.adoc
  rules/S2083/javascript/how-to-fix-it/node.adoc
  rules/S2083/javascript/rule.adoc
Labels: jsts

#1354 Undeprecate rule S3972
  rules/S3972/javascript/metadata.json
Labels: jsts

#1353 Modify S5348: Update description, message and highlighting to match the rule implementation
  rules/S5348/pli/highlighting.adoc
  rules/S5348/pli/message.adoc
  rules/S5348/pli/rule.adoc
Labels: pli

#1355 Modify rule S3649(PHP): Update text to the Education Framework structure (APPSEC-190)
  rules/S3649/common/fix/secure-by-design.adoc
  rules/S3649/php/how-to-fix-it/core.adoc
  rules/S3649/php/how-to-fix-it/laravel.adoc
  rules/S3649/php/rule.adoc
Labels: php

#1362 Modify rule S107: Add exceptions to description for Java (SONARJAVA-4072)
  rules/S107/java/rule.adoc
Labels: java

#1222 Modify rule S1313: Add exceptions for ranges used for documentation purposes
  rules/S1313/csharp/rule.adoc
  rules/S1313/vbnet/rule.adoc
Labels: dotnet

#1363 Comment on rule S1132: Explain why it has been removed from Sonar Way
  rules/S1132/java/comments-and-links.adoc
Labels: java

#1219 Modify rule S1313: Add exceptions for ranges used for documentation purposes
  rules/S1313/tsql/rule.adoc
Labels: tsql
