Repository SonarSource/rspec, pull requests merged in 2022-06, with the labels that each got.

#999 Modify rule S5972 Update rule before implementation CPP-2631
  rules/S5972/cfamily/metadata.json
  rules/S5972/cfamily/rule.adoc
Labels: cfamily

#233 Modify rule S6234 Improve rule specification (CPP-3713)
  rules/S5827/cfamily/rule.adoc
  rules/S6234/cfamily/metadata.json
  rules/S6234/cfamily/rule.adoc
Labels: cfamily

#1034 RULEAPI-763: add an exception for medium.com links in probing script
  rspec-tools/rspec_tools/checklinks.py
Labels: rspec system

#1025 Modify rule S3806: Also report include directives with a trailing space (CPP-3710)
  rules/S3806/cfamily/rule.adoc
Labels: cfamily

#1040 Modify rule S6069 Correct typo CPP-3718
  rules/S6069/cfamily/rule.adoc
Labels: cfamily

#1041 Modify rule S6418: Add missing type in the "Sensitive Code Example"
  rules/S6418/java/rule.adoc
Labels: java

#1044 Modify rule S4125: multiple updates
  rules/S4125/javascript/rule.adoc
Labels: javascript

#1030 CPP-220 S3135 "sizeof" should not be called on pointer parameters
  rules/S1913/cfamily/metadata.json
  rules/S3135/cfamily/metadata.json
  rules/S3135/cfamily/rule.adoc
Labels: cfamily

#1045 [APPSEC-26] Add Kotlin specification
  rules/S6432/kotlin/highlighting.adoc
  rules/S6432/kotlin/rule.adoc
Labels: kotlin

#1068 Modify rule S1788: Add exception for Redux reducers
  rules/S1788/javascript/rule.adoc
Labels: jsts

#1067 Modify rule S6241
  rules/S6241/java/metadata.json
  rules/S6241/java/rule.adoc
Labels: java

#1076 Modify rule S5415: CPP-3695 Improve the RSPEC
  rules/S5415/cfamily/rule.adoc
Labels: cfamily

#1079 Modify rule S6295: Fix (non)compliant snippets
  rules/S6295/cloudformation/rule.adoc
Labels: iac

#1078 Modify rule S6263: Add info about scope of rule and correct upper-case tag to be lower-case.
  rules/S6263/java/message.adoc
  rules/S6263/java/metadata.json
  rules/S6263/java/rule.adoc
Labels: java

#1081 Modify rule S1854: Update Non Compliant Code Example
  rules/S1854/python/rule.adoc
Labels: python

#1086 Modify rule S6244: Fix an unsupported uppercase tag
  rules/S6244/java/metadata.json
Labels: java
