Repository SonarSource/rspec, pull requests merged in 2022-09, with the labels that each got.

#1181 Modify rule S1313: Add exceptions for ranges used for documentation purposes
  rules/S1313/python/rule.adoc
Labels: python

#1196 Modify rule S5147(Java): Add Educational content (APPSEC-95)
  docs/allowed_framework_names.adoc
  rules/S5147/description.adoc
  rules/S5147/java/how-to-fix-it/mongo-java-driver.adoc
  rules/S5147/java/rule.adoc
  rules/S5147/java/see.adoc
Labels: java

#1198 Modify rule S2091(Java): Add Educational content (APPSEC-99)
  rules/S2091/java/how-to-fix-it/java-se.adoc
  rules/S2091/java/rule.adoc
Labels: java

#1202 [APPSEC-92] Modify rule S5144: Educational content (Java)
  rules/S5144/java/how-to-fix-it/java-se.adoc
  rules/S5144/java/rule.adoc
Labels: java

#1207 Modify S5542[java]: Fix missing word in the rule description
  rules/S5542/description.adoc
Labels: java

#1228 Modify rule S5764: Remove and replace broken link
  rules/S5764/java/rule.adoc
Labels: java

#1212 Modify rule S2078(Java): Update text to Education Framework structure (APPSEC-117)
  rules/S2078/java/how-to-fix-it/java-se.adoc
  rules/S2078/java/rule.adoc
Labels: java

#1223 Modify rule S2631(Java): Update text to Education Framework structure (APPSEC-126)
  rules/S2631/java/how-to-fix-it/java-se.adoc
  rules/S2631/java/rule.adoc
Labels: java

#1225 Modify rule S2631(C#): Update text to Education Framework structure (APPSEC-127)
  rules/S2631/csharp/how-to-fix-it/dotnet.adoc
  rules/S2631/csharp/rule.adoc
Labels: dotnet

#1231 Modify rule S6173(PHP): Add more code examples
  rules/S6173/php/rule.adoc
Labels: php

#1247 Modify rule S2068: Fix Apex sensitive code sample
  rules/S2068/apex/rule.adoc
Labels: slang

#1180 Modify rule S1313: Add exceptions for ranges used for documentation purposes
  rules/S1313/php/rule.adoc
Labels: php

#1250 Modify S4423: Fix See section for CF and TF
  rules/S4423/cloudformation/rule.adoc
  rules/S4423/terraform/rule.adoc
Labels: iac

#1260 Modify rule S107: Add an exception for TypeScript constructors
  rules/S107/javascript/rule.adoc
Labels: jsts

#1263 Modify Rule S6258(IAC): Add additionnal util recommendation
  rules/S6258/recommended.adoc
Labels: iac

#1268 Modify rule S2068: Adjust samples to new rule behavior
  rules/S2068/java/rule.adoc
Labels: java

#1220 Modify rule S1313: Add exceptions for ranges used for documentation purposes
  rules/S1313/abap/rule.adoc
Labels: abap

#1272 Drop PHP profiles PSR-2 and Drupal
  rspec-tools/tests/resources/rules/S100/php/metadata.json
  rules/S100/php/metadata.json
  rules/S101/php/metadata.json
  rules/S103/php/metadata.json
  rules/S105/php/metadata.json
  rules/S1124/php/metadata.json
  rules/S113/php/metadata.json
  rules/S1131/php/metadata.json
  rules/S115/php/metadata.json
  rules/S128/php/metadata.json
  rules/S1757/php/metadata.json
  rules/S1765/php/metadata.json
  rules/S1766/php/metadata.json
  rules/S1779/php/metadata.json
  rules/S1780/php/metadata.json
  rules/S1781/php/metadata.json
  rules/S1784/php/metadata.json
  rules/S1788/php/metadata.json
  rules/S1793/php/metadata.json
  rules/S1808/php/metadata.json
Labels: php

#1271 Modify S1117: Deprecate rule for PHP
  rules/S1117/php/metadata.json
Labels: php

#1273 Modify S4423[Python]: Support of AWS CDK code (APPSEC-103)
  rules/S4423/python/message.adoc
  rules/S4423/python/rule.adoc
Labels: python

#1282 Modify rule S2589: Make sure Python code raises expected issues
  rules/S2589/python/rule.adoc
Labels: python

#1283 Modify rule S5633: Fix typo in description
  rules/S5633/python/rule.adoc
Labels: python

#1291 Modify rule S1192: Remove artifact
  rules/S1192/php/rule.adoc
Labels: php

#1182 Modify rule S1313: Add exceptions for ranges used for documentation purposes
  rules/S1313/apex/rule.adoc
  rules/S1313/go/rule.adoc
  rules/S1313/ruby/rule.adoc
  rules/S1313/scala/rule.adoc
Labels: slang

#1292 Modify rule S107: Add exception for Angular component constructors
  rules/S107/javascript/rule.adoc
Labels: jsts
