Repository SonarSource/rspec, pull requests merged in 2022-12, with the labels that each got.

#1446 Readme: Clarify rule deprecation
  README.adoc
Labels: rspec system

#1450 Modify Rule S6474(Docker): Remove obsolete crypto hash reco
  rules/S6474/docker/rule.adoc
Labels: iac

#1456 Modify rule S3353: Mark quickfix for CSharp as partially covered
  rules/S3353/csharp/metadata.json
Labels: dotnet

#1178 Modify rule S1313: Add exceptions for ranges used for documentation purposes
  rules/S1313/java/rule.adoc
Labels: java

#342 Update rule S2097: "equals(other: Any?)" should test argument type
  rules/S2097/java/metadata.json
  rules/S2097/java/rule.adoc
  rules/S2097/kotlin/metadata.json
  rules/S2097/kotlin/rule.adoc
  rules/S2097/metadata.json
Labels: kotlin

#1433 Modify S5594(XML - Android): Improve text understandability (APPSEC-134)
  rules/S5594/xml/metadata.json
  rules/S5594/xml/rule.adoc
Labels: xml

#1474 Modify rule S5411 Stop having two compliant code sections
  rules/S5411/java/rule.adoc
Labels: java

#1478 Modify Rule S3175: fix typo
  rules/S3715/cfamily/rule.adoc
Labels: cfamily

#1479 Modify rule S3654: Improve on rule description (CPP-3734)
  rules/S3654/cfamily/rule.adoc
Labels: cfamily

#1463 Modify Rule S6389: Update status
  rules/S6389/text/metadata.json
Labels: text

#1485 Modify rule S3539: Access specifiers should not be redundant
  rules/S3539/cfamily/metadata.json
Labels: cfamily
