Repository SonarSource/rspec, pull requests merged in 2022-04, with the labels that each got.

#919 Add missing CWE link to See section
  rules/S2819/javascript/rule.adoc
Labels: javascript

#912 Modify rule S3574: Update rule and add Sonar Way quality profile
  rules/S3574/cfamily/highlighting.adoc
  rules/S3574/cfamily/message.adoc
  rules/S3574/cfamily/metadata.json
  rules/S3574/cfamily/rule.adoc
Labels: cfamily

#923 Modify rule S5332: Fix tags
  rules/S5332/terraform/metadata.json
Labels: iac

#921 Modify rule S6408: Fix cwe tag
  rules/S6408/terraform/metadata.json
Labels: iac

#920 Modify rule S6400: Fix Terraform tags
  rules/S6400/terraform/metadata.json
Labels: iac

#927 Mock analyzer repos for the coverage test
  rspec-tools/rspec_tools/coverage.py
  rspec-tools/rspec_tools/utils.py
  rspec-tools/tests/test_coverage.py
Labels: rspec system

#930 Add styling guide to docs
  docs/styling_guide.adoc
Labels: rspec system

#823 Modify Rule S6173: add php code samples
  rules/S6173/php/rule.adoc
Labels: php

#283 Update rule S5122 [python/php/csharp] taint/user-controlled code examples
  rules/S5122/csharp/rule.adoc
  rules/S5122/php/rule.adoc
  rules/S5122/python/rule.adoc
Labels: python, dotnet, php

#291 Update rule S5122 [java/js] taint/user-controlled code examples
  rules/S5122/java/rule.adoc
  rules/S5122/javascript/rule.adoc
Labels: java, jsts

#872 Modify rule S6317: Add message, highlighting and the list of supported privilege escalation vector details
  rules/S6317/cloudformation/rule.adoc
  rules/S6317/description.adoc
  rules/S6317/highlighting.adoc
  rules/S6317/message.adoc
  rules/S6317/terraform/rule.adoc
Labels: iac

#938 Modify rule S1289: Rectify code example
  rules/S1289/cobol/rule.adoc
Labels: cobol

#942 Modify rule S138: Ignore React Functional Components
  rules/S138/javascript/rule.adoc
Labels: jsts

#944 Modify rule S4650: Activate rule by default
  rules/S4650/css/metadata.json
Labels: css

#947 Adjust literals in styling guide to SC Design System
  docs/styling_guide.adoc
Labels: rspec system

#949 Modify rule S100: Ignore React Functional Components
  rules/S100/javascript/rule.adoc
Labels: jsts

#924 Modify rule S6412: Fix tags
  rules/S6412/metadata.json
Labels: iac

#925 Support of PCI DSS v3.2
  rspec-tools/rspec_tools/validation/rule-metadata-schema.json
  rules/S6249/metadata.json
Labels: rspec system

#940 Fix PL/SQL broken links
  rules/S3618/plsql/rule.adoc
  rules/S3641/plsql/rule.adoc
  rules/S3651/plsql/rule.adoc
Labels: plsql

#955 Modify rule S6212: Fix typos
  rules/S6212/java/rule.adoc
Labels: java

#959 Modify rule S5131: Specific patch instructions for Django Template Language
  rules/S5131/python/dtl/rule.adoc
Labels: python

#965 S4581 cleanup
  rules/S4581/compliant.adoc
  rules/S4581/csharp/rule.adoc
  rules/S4581/description.adoc
  rules/S4581/noncompliant.adoc
  rules/S4581/rule.adoc
  rules/S4581/vbnet/rule.adoc
Labels: dotnet

#943 Modify rule S5131: Add PHP text
  rules/S5131/common/pitfalls/content-types.adoc
  rules/S5131/php/laravel/rule.adoc
  rules/S5131/php/native/rule.adoc
  rules/S5131/php/symfony/rule.adoc
Labels: php

#766 Modify rule S6353: Add Java as covered language
  rules/S6353/java/metadata.json
  rules/S6353/java/rule.adoc
  rules/S6353/metadata.json
Labels: java

#762 Modify rule S6326: Add Java as covered language
  rules/S6326/java/metadata.json
  rules/S6326/java/rule.adoc
  rules/S6326/metadata.json
Labels: java

#765 Modify rule S6397: Add Java as covered language
  rules/S6397/java/metadata.json
  rules/S6397/java/rule.adoc
  rules/S6397/metadata.json
Labels: java

#961 Modify rule S5131: DTL autoescapeing globably disabled
  rules/S5131/python/dtl/rule.adoc
  rules/S5131/python/jinja/rule.adoc
Labels: python

#975 Modify rule S5131: Add context specific patch instructions for Flask and Django
  rules/S5131/python/django/rule.adoc
  rules/S5131/python/flask/rule.adoc
Labels: python

#945 Modify rule S5131(C#): Education Framework
  rules/S5131/common/fix/data_encoding.adoc
  rules/S5131/common/images/browser.png
  rules/S5131/common/images/url.png
  rules/S5131/common/pitfalls/validation.adoc
  rules/S5131/common/resources/docs.adoc
  rules/S5131/common/resources/standards.adoc
  rules/S5131/csharp/razor/rule.adoc
  rules/S5131/csharp/system.web/rule.adoc
  rules/S5131/python/dtl/rule.adoc
  rules/S5131/python/jinja/rule.adoc
  rules/S5131/rationale.adoc
  rules/S5131/resources.adoc
Labels: dotnet

#954 Modify rule S5131: Education Framework
  rules/S5131/java/javax.servlet.http/rule.adoc
  rules/S5131/java/jsp/rule.adoc
  rules/S5131/java/spring/rule.adoc
  rules/S5131/java/thymeleaf/rule.adoc
Labels: java
