Repository SonarSource/rspec, pull requests merged in 2022-05, with the labels that each got.

#763 Modify rule S6396: Add Java as covered language
  rules/S6396/java/metadata.json
  rules/S6396/java/rule.adoc
  rules/S6396/metadata.json
Labels: java

#977 Modify rule S5131: add patch instructions for expressjs
  rules/S5131/javascript/expressjs/rule.adoc
  rules/S5131/javascript/rule.adoc
Labels: jsts

#978 Modify rule S5131: align with other rules structure
  rules/S5131/common/pitfalls/content-types.adoc
  rules/S5131/python/django/rule.adoc
  rules/S5131/python/dtl/rule.adoc
  rules/S5131/python/flask/rule.adoc
  rules/S5131/python/jinja/rule.adoc
Labels: python

#979 Modify S2083 & S4639: update security standards and fix typo
  rules/S2083/metadata.json
  rules/S4639/metadata.json
Labels: security

#773 Modify rule S6331: Add Java as covered language
  rules/S6331/java/metadata.json
  rules/S6331/java/rule.adoc
  rules/S6331/metadata.json
Labels: java

#973 Modify rule S6281: Add Python as covered language
  rules/S6281/python/description.adoc
  rules/S6281/python/highlighting.adoc
  rules/S6281/python/message.adoc
  rules/S6281/python/metadata.json
  rules/S6281/python/recommended.adoc
  rules/S6281/python/rule.adoc
Labels: python, mmf-2774

#972 Modify rule S6245: Add python as covered language
  rules/S6245/python/metadata.json
  rules/S6245/python/rule.adoc
  rules/S6245/see.adoc
Labels: python, mmf-2774

#971 Modify rule S6252: Add python as covered language
  rules/S6252/python/metadata.json
  rules/S6252/python/rule.adoc
  rules/S6252/see.adoc
Labels: python, mmf-2774

#970 Modify rule S6249: Add Python as covered language
  rules/S6249/python/metadata.json
  rules/S6249/python/rule.adoc
Labels: python, mmf-2774

#983 Modify rule S4524: highlight src and set quickfix to targeted
  rules/S4524/cfamily/metadata.json
  rules/S4524/compliant.adoc
  rules/S4524/noncompliant.adoc
Labels: cfamily

#982 Modify rule S6395: Fix non-capturing group characters in description
  rules/S6395/description.adoc
Labels: java, python, php

#990 Modify rule S2738,S1181: Add exception for destructors
  rules/S1181/cfamily/rule.adoc
  rules/S2738/cfamily/rule.adoc
Labels: cfamily

#988 Modify rule S1121: add example for relational expression
  rules/S1121/java/rule.adoc
Labels: java

#951 Modify rule S6418: change parameter to Randomness Sensibility
  rules/S6418/description.adoc
  rules/S6418/parameters.adoc
Labels: java

#993 Modify rule S3230: Apply assigment and default initialization to C++03
  rules/S3230/cfamily/metadata.json
  rules/S3230/cfamily/rule.adoc
Labels: cfamily

#1008 Modify rule S3504: Enable in SonarWay profile
  rules/S3504/javascript/metadata.json
Labels: jsts

#998 Modify rule S5271: Only enable the rule for C++11+ CPP-3463
  rules/S5271/cfamily/metadata.json
Labels: cfamily

#992 RULEAPI-760: Add a new language identifier for kubernetes rules
  frontend/src/RulePage.tsx
  frontend/src/utils/useRuleCoverage.ts
  rspec-tools/rspec_tools/utils.py
  supported_languages.adoc
Labels: rspec system

#1009 Modify rules S1774,S3358: Add exception for C++11 constexpr functions
  rules/S1774/cfamily/rule.adoc
  rules/S3358/cfamily/rule.adoc
Labels: cfamily

#1015 BUILD-1577 migrate to new infra and BUILD-1551 update repox credentials
  .cirrus.yml
Labels: rspec system
