Repository SonarSource/rspec, pull requests merged in 2023-08, with the labels that each got.

#2736 Modify JS/TS rules: Uniform links to TypeScript and MDN references
  rules/S1481/javascript/rule.adoc
  rules/S6535/javascript/rule.adoc
  rules/S6544/javascript/rule.adoc
  rules/S6551/javascript/rule.adoc
  rules/S6565/javascript/rule.adoc
  rules/S6568/javascript/rule.adoc
  rules/S6569/javascript/rule.adoc
  rules/S6571/javascript/rule.adoc
  rules/S6572/javascript/rule.adoc
  rules/S6578/javascript/rule.adoc
  rules/S6582/javascript/rule.adoc
  rules/S6583/javascript/rule.adoc
  rules/S6598/javascript/rule.adoc
  rules/S6606/javascript/rule.adoc
  rules/S6637/javascript/rule.adoc
  rules/S6643/javascript/rule.adoc
  rules/S6657/javascript/rule.adoc
  rules/S6661/javascript/rule.adoc
Labels: jsts, layc

#2735 Modify rule S6657: Replace 'var' with 'let' in snippets and fix case
  rules/S6657/javascript/rule.adoc
Labels: jsts, layc

#2733 Modify rule S108: Fix exceptions section and replace 'var' with 'let'
  rules/S108/javascript/code-example.adoc
  rules/S108/javascript/rule.adoc
Labels: jsts, layc

#2732 Modify rule S6671: Fix related rules section
  rules/S6671/javascript/rule.adoc
Labels: jsts, layc

#2738 Modify rule S1128: Fix related rules section
  rules/S1128/javascript/rule.adoc
Labels: jsts, layc

#2744 Modify rule S6647: Add diff-tag and fix noncompliant comment
  rules/S6647/javascript/rule.adoc
Labels: jsts, layc

#2739 Modify rule S6676: Quote methods' names in rule title
  rules/S6676/javascript/metadata.json
Labels: jsts, layc

#2729 Modify rule S6635: Fix link title
  rules/S6635/javascript/rule.adoc
Labels: jsts, layc

#2742 Modify rule S6645: Fix noncompliant comments and links' titles
  rules/S6645/javascript/rule.adoc
Labels: jsts, layc

#2724 Modify rule S1763: Fix compliant diff-tag
  rules/S1763/javascript/rule.adoc
Labels: jsts, layc

#2730 Modify rule S3799: Use let instead of var in noncompliant snippet
  rules/S3799/javascript/rule.adoc
Labels: jsts, layc

#2741 Modify rule S6650: Add diff-tag
  rules/S6650/javascript/rule.adoc
Labels: jsts, layc

#2737 Do not clone the repo in all_required_checks_task
  .cirrus.yml
Labels: rspec system

#2685 Run include and cross-references validation on all files
  ci/custom-asciidoctor
  ci/replace_variables_in_path.sh
  ci/validate_asciidoc.sh
Labels: rspec system

#2755 Modify rule S4023: Fix spelling
  rules/S4023/csharp/rule.adoc
Labels: dotnet

#2711 Modify rule S1916: LaYC format
  rules/S1916/cfamily/rule.adoc
  rules/S2323/cfamily/rule.adoc
  shared_content/cfamily/line_splicing.adoc
Labels: cfamily, layc

#2277 Modify rule S6648: Add language AzureResourceManager (Bicep)
  docs/header_names/allowed_framework_names.adoc
  rules/S6648/azureresourcemanager/how-to-fix-it/arm.adoc
  rules/S6648/azureresourcemanager/how-to-fix-it/bicep.adoc
  rules/S6648/azureresourcemanager/rule.adoc
Labels: iac

#2244 Modify rule S6379: Add language AzureResourceManager (Bicep)
  rules/S6379/azureresourcemanager/rule.adoc
Labels: iac

#2757 Modify rule S5489: modernize example
  rules/S5489/cfamily/rule.adoc
Labels: cfamily

#2647 Modify rule S2107: Expand and adjust for LaYC
  rules/S2107/cfamily/metadata.json
  rules/S2107/cfamily/rule.adoc
  rules/S2107/java/metadata.json
  rules/S2107/java/rule.adoc
  rules/S2107/metadata.json
  rules/S836/cfamily/rule.adoc
  shared_content/cfamily/garbage_value_impact.adoc
Labels: cfamily, layc

#2748 Modify rule S5314: Expand and adjust for LaYC
  rules/S5314/cfamily/metadata.json
  rules/S5314/cfamily/rule.adoc
Labels: cfamily, layc

#2743 Modify rule S6413: Defining a short log retention duration is security-sensitive, add Bicep format
  rules/S6413/azureresourcemanager/rule.adoc
Labels: iac

#2616 Modify S5727: LaYC format
  rules/S5727/python/rule.adoc
Labels: python, layc

#2615 Modify rule S5781: LaYC format
  rules/S5781/rule.adoc
Labels: python, layc

#1872 Create rule S5332: Add BICEP for AzureResourceManager
  rules/S5332/azureresourcemanager/ask-yourself.adoc
  rules/S5332/azureresourcemanager/recommended.adoc
  rules/S5332/azureresourcemanager/rule.adoc
  rules/S5332/azureresourcemanager/see.adoc
Labels: iac

#2625 Modify S5886: LaYC format
  rules/S5886/python/rule.adoc
Labels: python, layc

#1889 Modify rule S6329: Add language AzureResourceManager (Bicep)
  rules/S6329/azureresourcemanager/highlight.adoc
  rules/S6329/azureresourcemanager/message.adoc
  rules/S6329/azureresourcemanager/rule.adoc
Labels: iac

#2747 Modify rule S1913: LaYC format
  rules/S1913/cfamily/rule.adoc
Labels: cfamily, layc

#2715 Modify rule S1135: LaYC format
  rules/S1135/description.adoc
Labels: iac, layc

#2648 Modify Rule S5795: LaYC Format
  rules/S5795/python/metadata.json
  rules/S5795/python/rule.adoc
Labels: python, layc

#2772 Modify rule S6661: Python: Remove from Sonar Way
  rules/S6661/python/metadata.json
Labels: python

#2773 Modify rule S1128: Python: Remove rule from Sonar way
  rules/S1128/python/metadata.json
Labels: python

#2777 Modify rule S6476: LaYC format
  rules/S6476/docker/rule.adoc
Labels: iac, layc

#2750 Modify rule S3807: Expand and adjust for LaYC
  rules/S3807/cfamily/rule.adoc
Labels: cfamily, layc

#1921 Modify rule S6382: Add language AzureResourceManager (Bicep)
  rules/S6382/azureresourcemanager/docs.adoc
  rules/S6382/azureresourcemanager/highlighting.adoc
  rules/S6382/azureresourcemanager/message.adoc
  rules/S6382/azureresourcemanager/remarks.adoc
  rules/S6382/azureresourcemanager/rule.adoc
  rules/S6382/terraform/highlighting.adoc
  rules/S6382/terraform/message.adoc
  rules/S6382/terraform/rule.adoc
Labels: iac

#2774 Modify rule S2734: Python: Don't replace with S935
  rules/S2734/python/metadata.json
Labels: python

#2768 Add CI task to test CI tests
  .cirrus.yml
  ci/asciidoc_validation/custom-asciidoctor
  ci/asciidoc_validation/validate.sh
  ci/validate_asciidoc.sh
  ci_tests/asciidoc_validation/run_tests.sh
  ci_tests/asciidoc_validation/test_bad_cross_ref/rules/S100/cfamily/rule.adoc
  ci_tests/asciidoc_validation/test_bad_cross_ref/rules/S100/java/bad.adoc
  ci_tests/asciidoc_validation/test_bad_cross_ref/rules/S100/java/rule.adoc
  ci_tests/asciidoc_validation/test_bad_cross_ref/rules/S1000/bad.adoc
  ci_tests/asciidoc_validation/test_bad_cross_ref/rules/S1000/java/rule.adoc
  ci_tests/asciidoc_validation/test_bad_cross_ref/shared_content/java/shared.adoc
  ci_tests/asciidoc_validation/test_unused_adoc/rules/S100/cfamily/rule.adoc
  ci_tests/asciidoc_validation/test_unused_adoc/rules/S100/cfamily/used.adoc
  ci_tests/asciidoc_validation/test_unused_adoc/rules/S100/java/rule.adoc
  ci_tests/asciidoc_validation/test_unused_adoc/rules/S100/java/unused.adoc
  ci_tests/asciidoc_validation/test_unused_adoc/rules/S100/unused.adoc
  ci_tests/asciidoc_validation/test_unused_adoc/shared_content/java/included.adoc
  ci_tests/asciidoc_validation/test_unused_adoc/shared_content/unused.adoc
  ci_tests/asciidoc_validation/test_valid/rules/S100/cfamily/another.adoc
  ci_tests/asciidoc_validation/test_valid/rules/S100/cfamily/rule.adoc
  ci_tests/asciidoc_validation/test_valid/rules/S100/rule.adoc
  ci_tests/asciidoc_validation/test_valid/rules/S200/java/rule.adoc
  ci_tests/asciidoc_validation/test_valid/shared_content/anything.adoc
Labels: rspec system

#1922 Modify rule S6381: Add language AzureResourceManager (Bicep)
  rules/S6381/azureresourcemanager/rule.adoc
Labels: iac

#2485 Modify rule S3749: update issue type to Code-Smell (APPSEC-523)
  rules/S3749/java/metadata.json
  rules/S3749/java/rule.adoc
Labels: java

#2698 Modify rule S1048,S3654: LaYC format
  rules/S1048/cfamily/documentation.adoc
  rules/S1048/cfamily/how_to_fix_it.adoc
  rules/S1048/cfamily/related_rules.adoc
  rules/S1048/cfamily/rule.adoc
  rules/S3654/cfamily/documentation.adoc
  rules/S3654/cfamily/how_to_fix_it.adoc
  rules/S3654/cfamily/related_rules.adoc
  rules/S3654/cfamily/rule.adoc
  shared_content/cfamily/exception_in_destructor.adoc
Labels: cfamily, layc

#2752 Modify rule S5272: Expand and adjust for LaYC
  rules/S5272/cfamily/metadata.json
  rules/S5272/cfamily/rule.adoc
Labels: cfamily, layc

#2789 Modify rule S100: Revert accidental change
  rules/S100/csharp/metadata.json
Labels: dotnet

#2751 Modify rule S5486: Adapt to LaYC
  rules/S5486/cfamily/metadata.json
  rules/S5486/cfamily/rule.adoc
Labels: cfamily, layc

#2707 Modify rule S6464: LaYC format
  rules/S6464/python/rule.adoc
Labels: python, layc

#2633 Modify rule S6214: Convert to LaYC format
  rules/S6214/cfamily/metadata.json
  rules/S6214/cfamily/rule.adoc
Labels: cfamily, layc

#2779 Modify rule S5485: Expand and adjust for LaYC
  rules/S5485/cfamily/metadata.json
  rules/S5485/cfamily/rule.adoc
Labels: cfamily, layc

#2745 SONARIAC-761 Rule S6383 Disable RBAC on AKS ad Bicept
  rules/S6383/azureresourcemanager/rule.adoc
Labels: iac

#2612 Modify rule S3584: Expand to cover LaYC
  rules/S3584/cfamily/metadata.json
  rules/S3584/cfamily/rule.adoc
Labels: cfamily, layc

#2787 Modify rule S5283: Adapt to LaYC
  rules/S5283/cfamily/metadata.json
  rules/S5283/cfamily/rule.adoc
Labels: cfamily, layc

#2771 Modify S6002: LaYC format
  rules/S6002/description.adoc
  rules/S6002/java/lookahead.adoc
  rules/S6002/java/rule.adoc
  rules/S6002/php/lookahead.adoc
  rules/S6002/php/rule.adoc
  rules/S6002/python/lookahead.adoc
  rules/S6002/python/rule.adoc
Labels: java, python, php, layc

#2627 Modify rule S5799: LaYC format
  rules/S5799/python/rule.adoc
Labels: python, layc

#2756 Modify S6417: LaYC format
  rules/S6417/java/rule.adoc
  rules/S6417/python/rule.adoc
Labels: python, layc

#2662 Modify rule S5754: LaYC format
  rules/S5754/python/rule.adoc
Labels: python, layc

#2792 Add clean code taxonomy properties to metadata schema
  docs/metadata.adoc
  rspec-tools/rspec_template/multi_language/common/metadata.json
  rspec-tools/rspec_template/single_language/language_specific/metadata.json
  rspec-tools/rspec_tools/validation/rule-metadata-schema.json
  rspec-tools/tests/resources/invalid-rules/S503/metadata.json
  rspec-tools/tests/resources/invalid-rules/S504/metadata.json
  rspec-tools/tests/resources/invalid-rules/S504/scala/metadata.json
  rspec-tools/tests/resources/invalid-rules/S505/metadata.json
  rspec-tools/tests/resources/invalid-rules/S505/scala/metadata.json
  rspec-tools/tests/resources/invalid-rules/S506/metadata.json
  rspec-tools/tests/resources/invalid-rules/S506/scala/metadata.json
  rspec-tools/tests/resources/invalid-rules/S507/metadata.json
  rspec-tools/tests/resources/invalid-rules/S507/scala/metadata.json
  rspec-tools/tests/resources/rules/S100/metadata.json
  rspec-tools/tests/resources/rules/S101/metadata.json
  rspec-tools/tests/resources/rules/S1033/cfamily/metadata.json
  rspec-tools/tests/resources/rules/S120/metadata.json
  rspec-tools/tests/resources/rules/S200/metadata.json
  rspec-tools/tests/resources/rules/S4727/metadata.json
  rspec-tools/tests/validation/test_metadata_validation.py
Labels: rspec system

#2709 Modify rule S6466: LaYC format
  rules/S6466/python/rule.adoc
Labels: python, layc

#2623 Modify rule S3520: Convert to LaYC format
  rules/S3520/cfamily/metadata.json
  rules/S3520/cfamily/rule.adoc
Labels: cfamily, layc

#1901 Modify rule S6385: Add language AzureResourceManager (Bicep)
  rules/S6385/azureresourcemanager/how_to_fix_it.adoc
  rules/S6385/azureresourcemanager/rule.adoc
Labels: iac

#2716 Modify rule S3871: fix orthography
  rules/S3871/why-dotnet.adoc
Labels: dotnet

#2808 Modify rule S4004: Fix code samples
  rules/S4004/rule.adoc
Labels: dotnet

#2673 Modify rule S5806: LaYC format
  rules/S5806/python/rule.adoc
Labels: python, layc

#2651 Modify rule S5914: LaYC format
  rules/S5914/python/rule.adoc
Labels: python, layc

#2690 Modify rule S2318: LaYC format
  rules/S2318/python/rule.adoc
Labels: python, layc

#2810 Modify rule S6652: Move content to shared directory
  rules/S6652/secrets/metadata.json
  rules/S6652/secrets/rule.adoc
  shared_content/secrets/description.adoc
  shared_content/secrets/examples.adoc
  shared_content/secrets/fix/recent_use.adoc
  shared_content/secrets/fix/revoke.adoc
  shared_content/secrets/fix/vault.adoc
  shared_content/secrets/impact/financial_loss.adoc
  shared_content/secrets/impact/security_downgrade.adoc
  shared_content/secrets/rationale.adoc
  shared_content/secrets/resources.adoc
Labels: secrets

#2811 Modify S2083(js): Fix code samples
  rules/S2083/javascript/how-to-fix-it/express.adoc
  rules/S2083/javascript/how-to-fix-it/node.adoc
Labels: jsts

#2659 Modify rule S5717: LaYC format
  rules/S5717/python/rule.adoc
Labels: python, layc

#2610 Modify rule S5655: LaYC format
  rules/S5655/python/rule.adoc
Labels: python, layc

#2609 Modify rule S5720: LaYC format
  rules/S5720/python/rule.adoc
Labels: python, layc

#2815 Modify S5496(Python): Migrate to LayC
  rules/S5496/python/metadata.json
  rules/S5496/python/rule.adoc
Labels: python

#2833 Modify rule S2276: Update in line with LaYC (SONARJAVA-4495)
  rules/S2276/java/rule.adoc
Labels: java

#2823 Modify rule S2293: Update in line with LayC (SONARJAVA-4495)
  rules/S2293/java/rule.adoc
Labels: java

#2832 Modify rule S6338: Use common text
  rules/S6338/secrets/metadata.json
  rules/S6338/secrets/rule.adoc
Labels: secrets

#2790 RULEAPI-788 Validate use of diff-id and diff-type
  .cirrus.yml
  ci/asciidoc_validation/custom-asciidoctor
  ci/asciidoc_validation/validate.sh
  ci_tests/asciidoc_validation/run_tests.sh
  ci_tests/asciidoc_validation/test_diff_source/rules/S100/cfamily/local.adoc
  ci_tests/asciidoc_validation/test_diff_source/rules/S100/cfamily/rule.adoc
  ci_tests/asciidoc_validation/test_diff_source/rules/S100/java/rule.adoc
  ci_tests/asciidoc_validation/test_diff_source/rules/S200/rule.adoc
  ci_tests/asciidoc_validation/test_diff_source/shared_content/cfamily/shared.adoc
  ci_tests/asciidoc_validation/test_diff_source/shared_content/java/example.adoc
  ci_tests/asciidoc_validation/test_valid/rules/S100/cfamily/rule.adoc
Labels: rspec system

#2776 Modify rule S1265: LaYC format
  rules/S1265/cfamily/rule.adoc
Labels: cfamily, layc

#2781 Modify rule S6321: Add language AzureResourceManager (Bicep)
  rules/S6321/azureresourcemanager/rule.adoc
Labels: iac

#2798 Diff blocks: fix incorrect use for cloudformation
  rules/S4423/cloudformation/how-to-fix-it/opensearch.adoc
Labels: iac

#2800 Diff blocks: fix some incorrect use for docker
  rules/S4423/docker/how-to-fix-it/wget.adoc
  rules/S6579/docker/rule.adoc
Labels: iac

#2804 Diff blocks: fix some incorrect use for php
  rules/S2076/php/how-to-fix-it/symfony.adoc
  rules/S2078/php/how-to-fix-it/symfony.adoc
  rules/S3649/php/how-to-fix-it/laravel.adoc
  rules/S4830/php/how-to-fix-it/curl.adoc
  rules/S5131/php/how-to-fix-it/laravel.adoc
  rules/S5131/php/how-to-fix-it/symfony.adoc
  rules/S5135/php/how-to-fix-it/laminas.adoc
  rules/S5144/php/how-to-fix-it/guzzle.adoc
  rules/S5146/php/how-to-fix-it/laravel.adoc
  rules/S5146/php/how-to-fix-it/symfony.adoc
  rules/S5542/php/how-to-fix-it/openssl.adoc
  rules/S5547/php/how-to-fix-it/openssl.adoc
  rules/S6287/php/how-to-fix-it/laravel.adoc
  rules/S6287/php/how-to-fix-it/symfony.adoc
Labels: php

#2806 Diff blocks: fix some incorrect use for terraform
  rules/S4423/terraform/how-to-fix-it/aws-opensearch.adoc
  rules/S4423/terraform/how-to-fix-it/azure-mssql.adoc
  rules/S4423/terraform/how-to-fix-it/gcp-lb.adoc
Labels: iac

#2801 Diff blocks: fix some incorrect use for java
  rules/S1214/java/rule.adoc
  rules/S1602/java/rule.adoc
  rules/S2076/java/how-to-fix-it/java-se.adoc
  rules/S2157/java/rule.adoc
  rules/S2186/java/rule.adoc
  rules/S2230/java/rule.adoc
  rules/S2254/java/rule.adoc
  rules/S2272/java/rule.adoc
  rules/S2755/java/how-to-fix-it/jdom2.adoc
  rules/S3649/java/how-to-fix-it/java-se.adoc
  rules/S3649/java/how-to-fix-it/spring-jdbc.adoc
  rules/S4423/java/how-to-fix-it/okhttp.adoc
  rules/S5131/java/how-to-fix-it/servlet.adoc
  rules/S5131/java/how-to-fix-it/spring.adoc
  rules/S5131/java/how-to-fix-it/thymeleaf.adoc
  rules/S5527/java/how-to-fix-it/java-ee.adoc
  rules/S5527/java/how-to-fix-it/java-se.adoc
  rules/S5659/java/how-to-fix-it/jjwt.adoc
  rules/S5883/java/how-to-fix-it/java-se.adoc
  rules/S6398/java/how-to-fix-it/gson.adoc
  rules/S6398/java/how-to-fix-it/java-se.adoc
Labels: java

#2714 Modify rule S5912: LaYC format
  rules/S5912/cfamily/rule.adoc
Labels: cfamily, layc

#2841 Modify rule S2274: Update in line with LayC (SONARJAVA-4495)
  rules/S2274/java/rule.adoc
Labels: java

#2871 Add multiple impacts for CCT
  rules/S1523/metadata.json
  rules/S2077/metadata.json
  rules/S5782/cfamily/metadata.json
Labels: common

#2802 Diff blocks: fix some incorrect use for javascript
  rules/S1314/javascript/rule.adoc
  rules/S2076/javascript/how-to-fix-it/ssh2.adoc
  rules/S2083/javascript/how-to-fix-it/node.adoc
  rules/S2999/javascript/rule.adoc
  rules/S3649/javascript/how-to-fix-it/sequelize.adoc
  rules/S4423/javascript/how-to-fix-it/node-js.adoc
  rules/S4830/javascript/how-to-fix-it/request.adoc
  rules/S5147/javascript/how-to-fix-it/mongoose.adoc
  rules/S5334/javascript/how-to-fix-it/node.adoc
  rules/S6439/javascript/rule.adoc
Labels: javascript

#2794 Diff blocks: fix incorrect use for cfamily
  rules/S2755/cfamily/how-to-fix-it/xerces.adoc
  rules/S4423/cfamily/how-to-fix-it/curl.adoc
  rules/S4423/cfamily/how-to-fix-it/openssl.adoc
  rules/S4426/cfamily/how-to-fix-it/cryptopp.adoc
  rules/S4426/cfamily/how-to-fix-it/openssl.adoc
  rules/S4830/cfamily/how-to-fix-it/curl.adoc
  rules/S4830/cfamily/how-to-fix-it/openssl.adoc
  rules/S5527/cfamily/how-to-fix-it/curl.adoc
  rules/S5527/cfamily/how-to-fix-it/openssl.adoc
  rules/S5542/cfamily/how-to-fix-it/cryptopp.adoc
  rules/S5542/cfamily/how-to-fix-it/openssl.adoc
  rules/S5547/cfamily/how-to-fix-it/cryptopp.adoc
  rules/S5547/cfamily/how-to-fix-it/openssl.adoc
  rules/S5553/cfamily/rule.adoc
Labels: cfamily

#2805 Diff blocks: fix incorrect use for swift
  rules/S5547/swift/how-to-fix-it/cryptoswift.adoc
  rules/S5547/swift/how-to-fix-it/idzswiftcommoncrypto.adoc
Labels: swift

#2882 Diff blocks: fix incorrect use for cfamily
  rules/S1265/cfamily/rule.adoc
  rules/S3584/cfamily/rule.adoc
Labels: cfamily, layc

#2799 Diff blocks: fix some incorrect use for csharp
  rules/S2187/csharp/how-nunit.adoc
  rules/S3649/csharp/how-to-fix-it/entity-framework.adoc
  rules/S3877/csharp/rule.adoc
  rules/S5131/csharp/how-to-fix-it/razor.adoc
  rules/S5547/csharp/how-to-fix-it/dot-net.adoc
Labels: dotnet

#2807 Diff blocks: fix incorrect use for vbnet
  rules/S3904/vbnet/rule.adoc
  rules/S5547/vbnet/how-to-fix-it/dot-net.adoc
Labels: dotnet

#2880 Modify rule S2189: Update rule description according to the LaYC
  rules/S2189/java/rule.adoc
Labels: java, layc

#2873 Modify rule S4348: reworked rule description for LaYC format
  rules/S4348/java/rule.adoc
Labels: java, layc

#2872 Modify rule S2272: reworked rule description for LaYC format
  rules/S2272/java/rule.adoc
Labels: java, layc

#2881 Modify rule S1751: Update rule description according to the LaYC
  rules/S1751/java/rule.adoc
Labels: java, layc

#2885 Modify rule S4838: reworked rule description for LayC format [SONARJAVA-4578]
  rules/S4838/java/rule.adoc
Labels: java, layc

#2890 Modify rule S6466: Fix typos
  rules/S6466/java/metadata.json
  rules/S6466/java/rule.adoc
Labels: java

#2888 Modify rule S135: Update rule description according to the LaYC
  rules/S135/description.adoc
  rules/S135/java/rule.adoc
Labels: java, layc

#2895 Modify rule S935: Fix ruleSpecification value in metadata
  rules/S935/python/metadata.json
Labels: python

#2899 SONARJAVA-4563 update documentation to support new annotation
  rules/S1258/java/rule.adoc
Labels: java

#2889 Modify rule S1994: reworked rule description for LaYC format
  rules/S1994/java/rule.adoc
Labels: java, layc

#2891 Modify rule S1264: Update rule description according to the LaYC
  rules/S1264/java/rule.adoc
Labels: java, layc

#2900 SONARJAVA-4463 add significant example to rule S2589
  rules/S2589/java/rule.adoc
Labels: java

#2894 Modify rule S127: reworked rule description for LaYC format
  rules/S127/java/rule.adoc
Labels: java, layc

#2901 Modify S2598(javascript): Convert to LayC
  docs/header_names/allowed_framework_names.adoc
  rules/S2598/comments-and-links.adoc
  rules/S2598/common/fix/allowed-folder.adoc
  rules/S2598/description.adoc
  rules/S2598/impact.adoc
  rules/S2598/java/metadata.json
  rules/S2598/java/rule.adoc
  rules/S2598/javascript/how-to-fix-it/formidable.adoc
  rules/S2598/javascript/how-to-fix-it/multer.adoc
  rules/S2598/javascript/rule.adoc
  rules/S2598/message.adoc
  rules/S2598/metadata.json
  rules/S2598/rationale.adoc
  rules/S2598/rule.adoc
  rules/S2598/see.adoc
Labels: jsts

#2902 Modify rule S2589: Fix typo and formatting in code examples [SONARJAVA-4463]
  rules/S2589/java/rule.adoc
Labels: java

#2905 Modify rule S5413: reworked rule description for LaYC format
  rules/S5413/java/rule.adoc
Labels: java, layc

#2893 Fix rule coverage on a rule page: include all rule keys to metadata
  frontend/src/deployment/__tests__/metadata.test.ts
  frontend/src/deployment/metadata.ts
Labels: rspec system

#2904 APPSEC-843 Modify S3329: Mention FIPS-compliant PRNG
  rules/S3329/common/fix/fix.adoc
Labels: cfamily, java, python, dotnet, kotlin, vb6

#2909 Modify rule S1488: add code example when returning awaited promise
  rules/S1488/javascript/rule.adoc
Labels: jsts

#2912 Modify S5144&S6547: Improve fixes
  rules/S5144/common/fix/how-does-this-work.adoc
  rules/S5144/common/fix/pre-approved-list.adoc
  rules/S5144/csharp/how-to-fix-it/dotnet.adoc
  rules/S5144/java/how-to-fix-it/java-se.adoc
  rules/S5144/javascript/how-to-fix-it/node.adoc
  rules/S5144/php/how-to-fix-it/core.adoc
  rules/S5144/php/how-to-fix-it/guzzle.adoc
  rules/S5144/python/how-to-fix-it/python.adoc
  rules/S5144/python/how-to-fix-it/requests.adoc
  rules/S6547/common/fix/how-does-this-work.adoc
  rules/S6547/common/fix/pre-approved-list.adoc
  rules/S6547/csharp/how-to-fix-it/dotnet.adoc
  rules/S6547/java/how-to-fix-it/java-se.adoc
  rules/S6680/csharp/rule.adoc
Labels: java, python, dotnet, php, jsts

#2795 Diff blocks: fix incorrect use for python
  rules/S2076/python/how-to-fix-it/python.adoc
  rules/S2091/python/how-to-fix-it/python.adoc
  rules/S2755/python/how-to-fix-it/std.adoc
  rules/S3329/python/how-to-fix-it/pycryptodome.adoc
  rules/S3649/python/how-to-fix-it/sqlite3.adoc
  rules/S4423/python/how-to-fix-it/openssl.adoc
  rules/S4423/python/how-to-fix-it/ssl.adoc
  rules/S4830/python/how-to-fix-it/openssl.adoc
  rules/S4830/python/how-to-fix-it/requests.adoc
  rules/S4830/python/how-to-fix-it/std.adoc
  rules/S5131/python/how-to-fix-it/dtl.adoc
  rules/S5131/python/how-to-fix-it/flask.adoc
  rules/S5131/python/how-to-fix-it/jinja.adoc
  rules/S5135/python/how-to-fix-it/yaml.adoc
  rules/S5144/python/how-to-fix-it/requests.adoc
  rules/S5145/python/how-to-fix-it/python.adoc
  rules/S5146/python/how-to-fix-it/flask.adoc
  rules/S5542/python/how-to-fix-it/pycrypto.adoc
  rules/S5542/python/how-to-fix-it/pycryptodome.adoc
  rules/S5542/python/how-to-fix-it/pydes.adoc
  rules/S5547/python/how-to-fix-it/pyca.adoc
  rules/S5547/python/how-to-fix-it/pycrypto.adoc
  rules/S5547/python/how-to-fix-it/pydes.adoc
  rules/S5659/python/how-to-fix-it/python-jwt.adoc
Labels: python

#2915 Modify rule S6661: Quote the method's name in the title
  rules/S6661/javascript/metadata.json
Labels: jsts

#2914 Modify rule S5488: Expand and adjust for LaYC
  rules/S5488/cfamily/metadata.json
  rules/S5488/cfamily/rule.adoc
Labels: cfamily, layc

#2916 Modify rule S5308: Expand and adjust for LaYC
  rules/S5308/cfamily/metadata.json
  rules/S5308/cfamily/rule.adoc
Labels: cfamily, layc

#2921 Modify rule S3588: Expand and adjust for LaYC
  rules/S3588/cfamily/metadata.json
  rules/S3588/cfamily/rule.adoc
Labels: cfamily, layc

#2931 Modify rule S2589: fix missing diff-id
  rules/S2589/vbnet/rule.adoc
Labels: dotnet

#2826 Modify rule S6416: Also check for IllegalStateException
  rules/S6416/java/metadata.json
  rules/S6416/java/rule.adoc
Labels: java

#2930 Modify S2255: Delete
  rules/S2255/csharp/metadata.json
  rules/S2255/vbnet/metadata.json
Labels: dotnet

#2903 Modify rule S4347: Update to LayC format (APPSEC-975)
  rules/S4347/common/how-does-it-work.adoc
  rules/S4347/common/resources/articles.adoc
  rules/S4347/common/resources/docs.adoc
  rules/S4347/common/resources/presentations.adoc
  rules/S4347/common/resources/standards.adoc
  rules/S4347/description.adoc
  rules/S4347/impact.adoc
  rules/S4347/java/how-to-fix-it/java-se.adoc
  rules/S4347/java/metadata.json
  rules/S4347/java/rule.adoc
  rules/S4347/kotlin/how-to-fix-it/java-se.adoc
  rules/S4347/kotlin/metadata.json
  rules/S4347/kotlin/rule.adoc
  rules/S4347/rationale.adoc
  rules/S4347/summary.adoc
Labels: java, kotlin, layc

#2929 Modify rule S5273: Expand and adjust for LaYC
  rules/S5273/cfamily/metadata.json
  rules/S5273/cfamily/rule.adoc
Labels: cfamily, layc

#2939 Modify rule S2259: Expand and adjust for LaYC
  rules/S2259/cfamily/metadata.json
  rules/S2259/cfamily/rule.adoc
  rules/S2259/description.adoc
  rules/S3807/cfamily/rule.adoc
Labels: cfamily, layc

#2933 Modify rule S3588: Expand and adjust for LaYC
  rules/S3588/cfamily/rule.adoc
Labels: cfamily, layc

#2950 Create Shared content: Make impacts consistents across messenger secrets
  rules/S6688/secrets/rule.adoc
  rules/S6695/secrets/rule.adoc
  rules/S6701/secrets/rule.adoc
  rules/S6708/secrets/rule.adoc
  shared_content/secrets/impact/malware_distribution.adoc
  shared_content/secrets/impact/personal_data_compromise.adoc
  shared_content/secrets/impact/phishing.adoc
Labels: secrets

#2959 Modify S6497(docker): Remove from SonarWay
  rules/S6497/docker/metadata.json
Labels: iac

#2962 Modify rule S6326: Add support for quick fixes
  rules/S6326/javascript/metadata.json
Labels: jsts

#2963 Modify rule S2566: Fix code example
  rules/S2566/plsql/rule.adoc
Labels: plsql

#2964 Modify rule S2095: Expand and adjust for LaYC
  rules/S2095/cfamily/rule.adoc
  rules/S2095/metadata.json
  rules/S3588/cfamily/rule.adoc
  shared_content/cfamily/c_file_io_raii_extra_mile.adoc
Labels: cfamily, layc

#2926 Modify rule S5785: add examples with boolean literals
  rules/S5785/php/rule.adoc
Labels: php

#2927 Modify rule S2115: Update to LaYC format (APPSEC-799)
  docs/header_names/allowed_framework_names.adoc
  rules/S2115/common/fix/windows-authentication.adoc
  rules/S2115/common/pitfalls/hard-coded.adoc
  rules/S2115/common/resources/articles.adoc
  rules/S2115/common/resources/docs.adoc
  rules/S2115/common/resources/presentations.adoc
  rules/S2115/common/resources/standards.adoc
  rules/S2115/csharp/how-to-fix-it/sql-server.adoc
  rules/S2115/csharp/how-to-fix-it/web-config.adoc
  rules/S2115/csharp/metadata.json
  rules/S2115/csharp/rule.adoc
  rules/S2115/description.adoc
  rules/S2115/impact.adoc
  rules/S2115/java/how-to-fix-it/java-se.adoc
  rules/S2115/java/metadata.json
  rules/S2115/java/rule.adoc
  rules/S2115/metadata.json
  rules/S2115/php/how-to-fix-it/mysql.adoc
  rules/S2115/php/metadata.json
  rules/S2115/php/rule.adoc
  rules/S2115/python/how-to-fix-it/django.adoc
  rules/S2115/python/how-to-fix-it/flask-sqlalchemy.adoc
  rules/S2115/python/how-to-fix-it/mysql.adoc
  rules/S2115/python/rule.adoc
  rules/S2115/rationale.adoc
  rules/S2115/rule.adoc
  rules/S2115/summary.adoc
Labels: java, appsec, python, dotnet, php, layc

#2911 Modify S5689: Clarify the rule stakes
  rules/S5689/ask-yourself.adoc
  rules/S5689/description.adoc
  rules/S5689/java/rule.adoc
  rules/S5689/javascript/rule.adoc
  rules/S5689/message.adoc
  rules/S5689/recommended.adoc
Labels: java, jsts

#2971 Modify S5693: Add syntax highlighting
  rules/S5693/csharp/rule.adoc
  rules/S5693/javascript/rule.adoc
  rules/S5693/php/rule.adoc
  rules/S5693/vbnet/rule.adoc
Labels: dotnet, php, jsts, vb6

#2968 Modify rule S3590: LaYC format
  rules/S3590/cfamily/metadata.json
  rules/S3590/cfamily/rule.adoc
Labels: cfamily, layc

#2975 Modify S6437(docker): Improve the samples
  rules/S6437/docker/rule.adoc
Labels: iac

#2980 Modify rule S6661(Python): Fixing typo in title
  rules/S6661/python/metadata.json
Labels: python

#2949 Modify rule S6317: Update to LayC format (APPSEC-968)
  docs/header_names/allowed_framework_names.adoc
  rules/S6317/cloudformation/how-to-fix-it/aws-iam.adoc
  rules/S6317/cloudformation/rule.adoc
  rules/S6317/common/fix/least-privilege.adoc
  rules/S6317/common/resources/articles.adoc
  rules/S6317/common/resources/docs.adoc
  rules/S6317/common/resources/presentations.adoc
  rules/S6317/common/resources/standards.adoc
  rules/S6317/description.adoc
  rules/S6317/impact.adoc
  rules/S6317/javascript/how-to-fix-it/aws-cdk.adoc
  rules/S6317/javascript/metadata.json
  rules/S6317/javascript/rule.adoc
  rules/S6317/metadata.json
  rules/S6317/python/how-to-fix-it/aws-cdk.adoc
  rules/S6317/python/metadata.json
  rules/S6317/python/rule.adoc
  rules/S6317/rationale.adoc
  rules/S6317/summary.adoc
  rules/S6317/terraform/how-to-fix-it/aws-iam.adoc
  rules/S6317/terraform/metadata.json
  rules/S6317/terraform/rule.adoc
Labels: appsec, python, jsts, iac, layc

#2984 Modify rule S6301: update to LaYC format (APPSEC-973)
  docs/header_names/allowed_framework_names.adoc
  rules/S6301/common/extra-mile/avoid-local-data.adoc
  rules/S6301/common/fix/android-apis.adoc
  rules/S6301/common/fix/dynamic-retrieval.adoc
  rules/S6301/common/resources/articles.adoc
  rules/S6301/common/resources/docs.adoc
  rules/S6301/common/resources/presentations.adoc
  rules/S6301/common/resources/standards.adoc
  rules/S6301/description.adoc
  rules/S6301/impact.adoc
  rules/S6301/java/how-to-fix-it/realm.adoc
  rules/S6301/java/how-to-fix-it/sqlcipher.adoc
  rules/S6301/java/rule.adoc
  rules/S6301/kotlin/how-to-fix-it/realm.adoc
  rules/S6301/kotlin/how-to-fix-it/sqlcipher.adoc
  rules/S6301/kotlin/rule.adoc
  rules/S6301/rationale.adoc
  rules/S6301/summary.adoc
Labels: java, appsec, kotlin, layc

#2972 Modify rule S6432: update to LaYC format (APPSEC-974)
  docs/header_names/allowed_framework_names.adoc
  rules/S6432/common/fix/deterministic-nonce.adoc
  rules/S6432/common/fix/randomized-nonce.adoc
  rules/S6432/common/how-does-this-work.adoc
  rules/S6432/common/resources/articles.adoc
  rules/S6432/common/resources/docs.adoc
  rules/S6432/common/resources/presentations.adoc
  rules/S6432/common/resources/standards.adoc
  rules/S6432/csharp/highlighting.adoc
  rules/S6432/csharp/how-to-fix-it/dotnet.adoc
  rules/S6432/csharp/message.adoc
  rules/S6432/csharp/rule.adoc
  rules/S6432/description.adoc
  rules/S6432/impact.adoc
  rules/S6432/java/highlighting.adoc
  rules/S6432/java/how-to-fix-it/bouncy-castle.adoc
  rules/S6432/java/how-to-fix-it/jce.adoc
  rules/S6432/java/rule.adoc
  rules/S6432/kotlin/highlighting.adoc
  rules/S6432/kotlin/how-to-fix-it/jce.adoc
  rules/S6432/kotlin/rule.adoc
  rules/S6432/python/highlighting.adoc
  rules/S6432/python/how-to-fix-it/pyca.adoc
  rules/S6432/python/how-to-fix-it/pycryptodome.adoc
  rules/S6432/python/rule.adoc
  rules/S6432/rationale.adoc
  rules/S6432/summary.adoc
Labels: java, appsec, python, dotnet, kotlin, layc

#2996 Modify S6723(secrets): Fix docs links
  rules/S6723/secrets/rule.adoc
Labels: secrets
