Repository SonarSource/rspec, pull requests merged in 2023-09, with the labels that each got.

#3002 Modify S6173(Java): Improve samples
  rules/S6173/java/how-to-fix-it/java-se.adoc
Labels: java

#3004 Modify S6388(IAC): Fix diff IDs
  rules/S6321/terraform/rule.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_disks.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_disks.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_snapshots.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_virtualMachineScaleSets.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_virtualMachines.compliant.adoc
  rules/S6506/docker/rule.adoc
Labels: iac

#3011 Deprecate rule S3884
  rules/S3884/metadata.json
Labels: dotnet

#2917 Modify rule S2647: Update to LaYC format (APPSEC-970)
  docs/header_names/allowed_framework_names.adoc
  rules/S2647/common/fix/ssl.adoc
  rules/S2647/common/fix/token-auth.adoc
  rules/S2647/common/resources/articles.adoc
  rules/S2647/common/resources/docs.adoc
  rules/S2647/common/resources/presentations.adoc
  rules/S2647/common/resources/standards.adoc
  rules/S2647/description.adoc
  rules/S2647/impact.adoc
  rules/S2647/java/how-to-fix-it/apache-httpclient.adoc
  rules/S2647/java/how-to-fix-it/java-se.adoc
  rules/S2647/java/rule.adoc
  rules/S2647/metadata.json
  rules/S2647/python/metadata.json
  rules/S2647/python/rule.adoc
  rules/S2647/rationale.adoc
  rules/S2647/summary.adoc
  rules/S2647/xml/how-to-fix-it/java-ee.adoc
  rules/S2647/xml/rule.adoc
Labels: java, xml, layc

#2991 Update rule S5808: update to LaYC format (APPSEC-972)
  rules/S5808/common/resources/articles.adoc
  rules/S5808/common/resources/docs.adoc
  rules/S5808/common/resources/presentations.adoc
  rules/S5808/common/resources/standards.adoc
  rules/S5808/description.adoc
  rules/S5808/impact.adoc
  rules/S5808/java/how-to-fix-it/spring-security.adoc
  rules/S5808/java/rule.adoc
  rules/S5808/php/highlighting.adoc
  rules/S5808/php/how-to-fix-it/laravel.adoc
  rules/S5808/php/how-to-fix-it/symfony.adoc
  rules/S5808/php/message.adoc
  rules/S5808/php/rule.adoc
  rules/S5808/rationale.adoc
  rules/S5808/rule.adoc
  rules/S5808/summary.adoc
Labels: java, appsec, php, layc

#3003 Modify rule S2254: update to LaYC format (APPSEC-1043)
  rules/S2254/java/metadata.json
  rules/S2254/java/rule.adoc
  rules/S2254/metadata.json
Labels: java, appsec

#2998 Modify rule S1764: update to LaYC and sync with implementation
  rules/S1764/cfamily/rule.adoc
Labels: cfamily

#3000 Modify S4787: Delete
  rules/S4787/csharp/metadata.json
  rules/S4787/vbnet/metadata.json
Labels: dotnet

#3008 APPSEC-1061 Modify S6292(secrets): Make text compliant
  rules/S6292/secrets/rule.adoc
Labels: secrets

#3001 Pull requests list Modify S4818: Delete
  rules/S4818/csharp/metadata.json
  rules/S4818/vbnet/metadata.json
Labels: dotnet

#3030 Modify rule S1048: remove extra space in code snippet
  rules/S1048/cfamily/how_to_fix_it.adoc
Labels: cfamily

#3037 Modify rule S1599: remove extra diff-view
  rules/S1599/php/rule.adoc
Labels: php

#3038 Modify rule S2004: remove extra diff-view
  rules/S2004/php/rule.adoc
Labels: php

#3039 Modify rule S6600: remove extra diff-view
  rules/S6600/php/rule.adoc
Labels: php

#1879 Modify rule S4423: Add language AzureResourceManager (Bicep)
  rules/S4423/azureresourcemanager/how-to-fix-it/azure-mysql.adoc
  rules/S4423/azureresourcemanager/how-to-fix-it/azure-storage-account.adoc
Labels: iac

#1907 Modify rule S6387: Add language AzureResourceManager (Bicep)
  rules/S6387/azureresourcemanager/highlighting.adoc
  rules/S6387/azureresourcemanager/rule.adoc
Labels: iac

#1913 Modify rule S6364: Add language AzureResourceManager (Bicep)
  rules/S6364/azureresourcemanager/rule.adoc
Labels: iac

#2255 Modify rule S6378: Add language AzureResourceManager (Bicep)
  rules/S6378/azureresourcemanager/rule.adoc
Labels: iac

#2356 Modify rule S6656: add language AzureResourceManager (Bicep)
  docs/header_names/allowed_framework_names.adoc
  rules/S6656/azureresourcemanager/how-to-fix-it/bicep.adoc
  rules/S6656/azureresourcemanager/rule.adoc
Labels: iac

#2298 Modify rule S6380: Add language AzureResourceManager (Bicep)
  rules/S6380/azureresourcemanager/rule.adoc
Labels: iac

#1925 Modify rule S6388: Add language AzureResourceManager (Bicep)
  rules/S6388/azureresourcemanager/examples/Microsoft.AzureArcData_sqlServerInstances_databases.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.AzureArcData_sqlServerInstances_databases.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_disks.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_snapshots.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_snapshots.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_virtualMachineScaleSets.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_virtualMachineScaleSets.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_virtualMachines.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Compute_virtualMachines.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.ContainerService_managedClusters.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.ContainerService_managedClusters.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.DBforMySQL_servers.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.DBforMySQL_servers.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.DBforPostgreSQL_servers.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.DBforPostgreSQL_servers.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.DataLakeStore_accounts.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.DataLakeStore_accounts.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.DocumentDB_cassandraClusters_dataCenters.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.DocumentDB_cassandraClusters_dataCenters.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.HDInsight_clusters.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.HDInsight_clusters.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Kusto_clusters.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Kusto_clusters.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.RecoveryServices.vaults.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.RecoveryServices.vaults.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.RedHatOpenShift_openShiftClusters.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.RedHatOpenShift_openShiftClusters.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.SqlVirtualMachine_sqlVirtualMachines.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.SqlVirtualMachine_sqlVirtualMachines.noncompliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Storage_storageAccounts.compliant.adoc
  rules/S6388/azureresourcemanager/examples/Microsoft.Storage_storageAccounts.noncompliant.adoc
Labels: iac

#3036 Modify rule S2251: fix diff-id
  rules/S2251/java/rule.adoc
Labels: java

#3035 Modify rule S127: fix diff-id and diff-type
  rules/S127/java/rule.adoc
Labels: java

#3067 Modify rule S4423, S6378, S6387, S6656: Fix diff view errors in ARM examples
  rules/S4423/azureresourcemanager/how-to-fix-it/azure-storage-account.adoc
  rules/S6378/azureresourcemanager/rule.adoc
  rules/S6387/azureresourcemanager/rule.adoc
  rules/S6656/azureresourcemanager/how-to-fix-it/arm.adoc
  rules/S6656/azureresourcemanager/how-to-fix-it/bicep.adoc
Labels: appsec, iac

#3072 Modify S6338: Improve samples
  rules/S6338/secrets/rule.adoc
Labels: secrets

#2883 RULEAPI-788 Turn diff-view validation on
  ci/asciidoc_validation/validate.sh
  ci_tests/asciidoc_validation/run_tests.sh
Labels: rspec system

#3054 Modify rule S5523: Correct spec and update metadata
  rules/S5523/cfamily/metadata.json
  rules/S5523/cfamily/rule.adoc
Labels: cfamily

#3079 Modify S6290(secrets): Validation
  rules/S6290/secrets/rule.adoc
  shared_content/secrets/impact/malware_distribution.adoc
Labels: secrets

#3069 Modify S6334: Make the description consistent and add sample
  rules/S6334/secrets/rule.adoc
Labels: secrets

#3081 Modify rule S905: Adapt for LaYC
  rules/S905/cfamily/rule.adoc
  rules/S905/description.adoc
  rules/S905/how-to-fix.adoc
  rules/S905/summary.adoc
Labels: cfamily, layc

#3083 Modify S6335: Validation
  rules/S6335/secrets/rule.adoc
Labels: secrets

#3071 Modify rule S6584: Add message and highlighting, remove `apk` in favor of `apt`
  rules/S6584/docker/rule.adoc
Labels: iac

#3085 Modify S6337: Validation
  rules/S6337/secrets/rule.adoc
Labels: secrets

#2712 Modify rule S4999,S5000: LaYC format
  rules/S4999/cfamily/rule.adoc
  rules/S5000/cfamily/rule.adoc
  shared_content/cfamily/trivially_copyable_types.adoc
Labels: cfamily, layc

#3097 Modify rule S1763: Adapt to LaYC
  rules/S1763/apex/rule.adoc
  rules/S1763/cfamily/rule.adoc
  rules/S1763/compliant.adoc
  rules/S1763/go/rule.adoc
  rules/S1763/kotlin/rule.adoc
  rules/S1763/noncompliant.adoc
  rules/S1763/php/rule.adoc
  rules/S1763/plsql/rule.adoc
  rules/S1763/python/rule.adoc
  rules/S1763/ruby/rule.adoc
  rules/S1763/rule.adoc
  rules/S1763/scala/rule.adoc
  rules/S1763/summary.adoc
  rules/S1763/swift/rule.adoc
  rules/S1763/tsql/rule.adoc
Labels: cfamily, layc

#3102 Modify rule S6759: Restrict the scope to functional components
  rules/S6759/javascript/rule.adoc
Labels: jsts

#3112 Modify (fake) rule S6620: Document limitation with multiple compliant solutions in diff-view
  rules/S6620/java/rule.adoc
Labels: rspec system

#3107 Modify rule S1871: LaYC on identical if branches
  rules/S1871/rule.adoc
Labels: cfamily, layc

#3115 Modify S4823: Delete
  rules/S4823/csharp/metadata.json
  rules/S4823/vbnet/metadata.json
Labels: dotnet

#3116 Modify S4829: Delete
  rules/S4829/csharp/metadata.json
  rules/S4829/vbnet/metadata.json
Labels: dotnet

#3108 Modify rule S5276: LaYC - narrowing conversions
  rules/S5276/cfamily/rule.adoc
Labels: cfamily, layc

#3109 Modify rule S1659: LaYC - one decl per line
  rules/S1659/cfamily/metadata.json
  rules/S1659/cfamily/rule.adoc
Labels: cfamily, layc

#3106 Modify rule S3457: LaYC on printf errors
  rules/S3457/cfamily/rule.adoc
Labels: cfamily, layc

#3114 Modify rule S6584: apply LaYC format
  rules/S6584/docker/rule.adoc
Labels: iac, layc

#3121 Modify S6698&S6703&S6697: Add a warning against default values
  rules/S6697/secrets/rule.adoc
  rules/S6698/secrets/rule.adoc
  rules/S6703/secrets/rule.adoc
  shared_content/secrets/fix/default.adoc
Labels: secrets

#3126 Modify S6723(secrets): Improve code sample
  rules/S6723/secrets/rule.adoc
Labels: secrets

#3128 Modify S6710: Improve the sample
  rules/S6710/secrets/rule.adoc
Labels: secrets

#3118 Fix Sonar warnings
  frontend/src/RulePage.tsx
  frontend/src/deployment/metadata.ts
  frontend/src/testutils.ts
  frontend/src/types/RuleMetadata.ts
  frontend/src/utils/useRuleCoverage.ts
  rspec-tools/rspec_tools/checklinks.py
  rspec-tools/rspec_tools/utils.py
  rspec-tools/rspec_tools/validation/description.py
  rules/S5870/plsql/rule.adoc
Labels: rspec system

#3110 Modify rule S995: LaYC - const pointers
  rules/S995/cfamily/rule.adoc
Labels: cfamily, layc

#3131 Modify S6710(secrets): Improve sample
  rules/S6710/secrets/rule.adoc
Labels: secrets

#3129 Modify S6721(secrets): Add samples
  rules/S6721/secrets/rule.adoc
Labels: secrets

#3095 Modify rule S5332: Improve RSPEC text and examples (APPSEC-1089)
  rules/S5332/azureresourcemanager/rule.adoc
Labels: appsec

#3135 Modify rule S4822: Avoid repetitive usage of 'await'
  rules/S4822/javascript/rule.adoc
Labels: jsts

#3127 Modify rule S6570: Convert to LaYC format
  rules/S6570/docker/rule.adoc
Labels: iac

#2897 Modify rule S5899: Add exception on public static method that return data
  rules/S5899/php/rule.adoc
Labels: iac

#3141 Modify rule S6500: Update code example
  rules/S6500/docker/rule.adoc
Labels: iac

#3143 Modify rule S6504: Update code example
  rules/S6500/docker/rule.adoc
  rules/S6504/docker/rule.adoc
Labels: iac

#3124 Modify rule S6579: apply LaYC format
  rules/S6579/docker/rule.adoc
Labels: iac, layc

#3139 Modify rule S6597: Update wording for LaYC
  rules/S6597/docker/rule.adoc
Labels: iac

#3132 Modify rule: Delete S4784
  rules/S4784/csharp/metadata.json
  rules/S4784/vbnet/metadata.json
Labels: dotnet

#3130 Modify rule: Delete S2228
  rules/S2228/csharp/metadata.json
Labels: dotnet

#3136 Modify rule: Delete S4564
  rules/S4564/csharp/metadata.json
Labels: dotnet

#2981 SONARIAC-583 Modify S6437(docker): Add Wget samples
  rules/S6437/docker/rule.adoc
Labels: iac

#3100 Update GitHub actions to avoid deprecated Node version
  .github/workflows/add_language.yml
  .github/workflows/create_new_rspec.yml
  .github/workflows/main.yml
  .github/workflows/update_coverage.yml
Labels: rspec system

#3133 Frontend: Simplify the code a little
  frontend/src/SearchPage.tsx
Labels: rspec system

#3156 Modify rule S6466: Extend LaYC content
  rules/S6466/impact.adoc
  rules/S6466/java/rule.adoc
  rules/S6466/python/metadata.json
  rules/S6466/python/rule.adoc
Labels: java, python, layc

#3158 Modify rule S6320: Adapt to LaYC format
  rules/S6320/java/rule.adoc
Labels: java, layc

#3149 Modify S4684: Change text to education framework format (APPSEC-1104)
  rules/S4684/java/rule.adoc
Labels: java, layc

#3150 Modify rule S1854: Expand and adjust for LaYC
  rules/S1854/cfamily/rule.adoc
  rules/S1854/metadata.json
Labels: cfamily, layc

#3171 Modify rule S6322: Migrate to LaYC format
  rules/S6322/java/rule.adoc
Labels: java, layc

#3175 Modify rule S3471: LaYC - virtual / override
  rules/S3471/cfamily/rule.adoc
Labels: cfamily, layc

#3173 Modify rule S2589: Extend LaYC content for Python
  rules/S2589/python/rule.adoc
  rules/S2589/see.adoc
Labels: python, layc

#3152 Modify rule S5344: Change text to education framework format (APPSEC-1106)
  rules/S5344/description.adoc
  rules/S5344/java/rule.adoc
  rules/S5344/message.adoc
  rules/S5344/rule.adoc
  rules/S5344/see.adoc
Labels: java, layc

#3168 Modify rule S6416: Adapt to LaYC format
  rules/S6416/java/rule.adoc
Labels: java, layc

#3178 Modify rule S2259: Extend LaYC content for Python
  rules/S2259/python/rule.adoc
Labels: java, python

#3166 Modify rule S5773: Change text to education framework format (APPSEC-1112)
  rules/S5773/common/extra-mile/formatters.adoc
  rules/S5773/common/resources/articles.adoc
  rules/S5773/common/resources/docs.adoc
  rules/S5773/common/resources/standards.adoc
  rules/S5773/csharp/how-to-fix/formatters.adoc
  rules/S5773/csharp/metadata.json
  rules/S5773/csharp/rule.adoc
  rules/S5773/impact.adoc
  rules/S5773/rationale.adoc
  rules/S5773/resources.adoc
  rules/S5773/rule.adoc
  rules/S5773/summary.adoc
  rules/S5773/vbnet/how-to-fix/formatters.adoc
  rules/S5773/vbnet/metadata.json
  rules/S5773/vbnet/rule.adoc
  rules/S5773/why-dotnet.adoc
Labels: dotnet, layc

#3164 Modify rule S6377: Change text to education framework format (APPSEC-1110)
  rules/S6377/description.adoc
  rules/S6377/java/metadata.json
  rules/S6377/java/rule.adoc
  rules/S6377/rule.adoc
Labels: java, layc
