Repository SonarSource/rspec, pull requests merged in 2023-11, with the labels that each got.

#3394 Modify rule S6798: remove example razor file, breaking master CI
  rules/S6798/csharp/S6798.razor
Labels: dotnet

#3396 Modify rule S6818: Update rule title to match guidelines
  rules/S6818/java/metadata.json
Labels: java

#3392 Modify rule S3330: Add FastAPI (APPSEC-1260)
  rules/S3330/python/rule.adoc
Labels: appsec, python

#3391 Modify rule S2092: Add FastAPI (APPSEC-1260)
  rules/S2092/python/rule.adoc
Labels: appsec, python

#3386 Modify rule S5131: Add FastAPI (APPSEC-1250)
  docs/header_names/allowed_framework_names.adoc
  rules/S5131/python/how-to-fix-it/fastapi.adoc
  rules/S5131/python/rule.adoc
Labels: appsec, python

#3403 Modify rule S6789: Fix code snippet with parsing error
  rules/S6789/javascript/rule.adoc
Labels: jsts

#3404 Modify S3394(COBOL): Fix wording and typos
  rules/S3394/cobol/rule.adoc
Labels: cobol

#3405 Modify Rule S5144: Revert Changes (APPSEC-1248)
  rules/S5144/python/how-to-fix-it/aiohttp.adoc
  rules/S5144/python/rule.adoc
Labels: appsec, python

#3408 Modify rule S2092, S3330, S4830, S5131, S5144: Revert FastAPI changes
  docs/header_names/allowed_framework_names.adoc
  rules/S2092/python/rule.adoc
  rules/S3330/python/rule.adoc
  rules/S4830/python/how-to-fix-it/httpx.adoc
  rules/S4830/python/rule.adoc
  rules/S5131/python/how-to-fix-it/fastapi.adoc
  rules/S5131/python/rule.adoc
  rules/S5144/python/how-to-fix-it/httpx.adoc
  rules/S5144/python/rule.adoc
Labels: appsec, python

#3407 Don't crash when the asciidoc logger receives a string
  frontend/src/deployment/description.ts
Labels: rspec system

#3416 Modify rule S6012: fix some typos
  rules/S6012/cfamily/rule.adoc
Labels: cfamily

#3420 Fix S6790: Use method definition in code snippets
  rules/S6790/javascript/rule.adoc
Labels: jsts

#3415 Modify S3394(COBOL): Remove compliant samples
  rules/S3394/cobol/rule.adoc
Labels: cobol

#3042 Modify rule S4507: Add examples for Python Flask
  rules/S4507/python/rule.adoc
Labels: python

#3113 Modify rule S5547: Add ssl module
  docs/header_names/allowed_framework_names.adoc
  rules/S5547/python/how-to-fix-it/ssl.adoc
  rules/S5547/python/rule.adoc
Labels: python

#1640 Modify rule S3353: Added Kotlin (Use val instead of var if local variable is never re-assigned)
  rules/S3353/kotlin/metadata.json
  rules/S3353/kotlin/rule.adoc
Labels: kotlin

#3450 Modify rule S4790: Remove tag spring
  rules/S4790/metadata.json
Labels: common

#3451 Modify rule S1456: Fix JavaScript spelling in the title
  rules/S1456/html/metadata.json
Labels: html

#3454 Modify rule S5148: Adjust code example format
  rules/S5148/html/rule.adoc
  rules/S5148/javascript/rule.adoc
Labels: appsec

#3452 Modify rule S6802: Add a code example
  rules/S6802/csharp/metadata.json
  rules/S6802/csharp/rule.adoc
Labels: dotnet

#3457 Fix rule S1077: Correct `sqKey` for JS/TS
  rules/S1077/html/metadata.json
  rules/S1077/metadata.json
Labels: jsts, html

#3460 Modify rule S2230: Software Quality should only have Reliability attribute
  rules/S2230/java/metadata.json
Labels: java

#3456 Modify rule S6619: Improve rule description (SONARJAVA-286)
  rules/S6619/kotlin/rule.adoc
Labels: java

#3468 Modify rule S3743(cfamily): remove a dead link
  rules/S3743/cfamily/rule.adoc
Labels: cfamily
