Repository SonarSource/rspec, pull requests merged in 2023-05, with the labels that each got.

#1789 Modify rule S2326: Remove CERT tag
  rules/S2326/java/metadata.json
Labels: java

#1791 Modify rule S2589: Remove CERT tag
  rules/S2589/java/metadata.json
Labels: java

#1827 Add language AzureResourceManager as a supported language
  frontend/src/RulePage.tsx
  frontend/src/utils/useRuleCoverage.ts
  rspec-tools/rspec_tools/utils.py
  rules/S2260/azureresourcemanager/metadata.json
  rules/S2260/azureresourcemanager/rule.adoc
  supported_languages.adoc
Labels: iac

#1828 Modify rule S1912: CPP-4028 Take namespace into consideration
  rules/S1912/cfamily/parameters.adoc
  rules/S1912/cfamily/rule.adoc
Labels: cfamily

#1834 Modify rule S6544: remove mention of error handling, which we will not cover anymore
  rules/S6544/javascript/rule.adoc
Labels: jsts

#1845 Modify rule S6349: Update for educational format
  docs/header_names/allowed_framework_names.adoc
  rules/S6349/php/rule.adoc
Labels: php

#1855 Modify rule S4824: Update for educational format
  rules/S4824/php/highlighting.adoc
  rules/S4824/php/rule.adoc
Labels: php

#1861 Modify rule S1808: Migration to new educational format
  rules/S1808/php/metadata.json
  rules/S1808/php/rule.adoc
Labels: php

#1863 Modify rule S2003: Migration to new educational format
  rules/S2003/php/rule.adoc
Labels: php

#1860 Modify rule S1599: Migration to new educational format
  rules/S1599/php/rule.adoc
Labels: php

#1862 Modify rule S1998: Migration to new educational format
  rules/S1998/php/rule.adoc
  rules/S4824/php/rule.adoc
Labels: php

#1844 Modify rule S6393: Update for educational format
  rules/S6393/php/rule.adoc
Labels: php

#1853 Modify rule S5911: Update for educational format
  rules/S5911/php/message.adoc
  rules/S5911/php/rule.adoc
Labels: php

#1894 Modify rule S1766: Migrate to new educational format
  rules/S1766/php/metadata.json
  rules/S1766/php/rule.adoc
Labels: php

#1893 Modify rule S1793: Migrate to new educational format
  rules/S1793/php/metadata.json
  rules/S1793/php/rule.adoc
Labels: php

#1890 Modify rule S1765: Migrate to new educational format
  rules/S1765/php/rule.adoc
Labels: php

#1891 Modify rule S2004: Migration to new educational format
  rules/S2004/php/rule.adoc
Labels: php

#1895 Modify rule S1600: Migrate to new educational format
  rules/S1600/php/rule.adoc
Labels: php

#1896 Modify rule S2014: Migration to new educational format
  rules/S2014/php/rule.adoc
Labels: php

#1899 Modify rule S1605: Migrate to new educational format
  rules/S1605/php/rule.adoc
Labels: php

#1900 Modify rule S1603: Migration to new educational format
  rules/S1603/php/metadata.json
  rules/S1603/php/rule.adoc
Labels: php

#1867 Modify rule S6424: Migrate to new educational format
  rules/S6424/csharp/rule.adoc
Labels: dotnet

#1887 Modify rule S6329: Add language AzureResourceManager (JSON)
  rules/S6329/azureresourcemanager/highlight.adoc
  rules/S6329/azureresourcemanager/message.adoc
  rules/S6329/azureresourcemanager/metadata.json
  rules/S6329/azureresourcemanager/rule.adoc
Labels: iac

#1903 Modify rule S6191: LaYC format
  rules/S6191/cfamily/rule.adoc
Labels: cfamily

#1906 Modify rule S3654: LaYC format
  rules/S3654/cfamily/rule.adoc
Labels: cfamily

#1904 Modify rule S6493: LaYC format
  rules/S6493/cfamily/rule.adoc
Labels: cfamily

#1908 Modify rule S6487: LaYC format
  rules/S6487/cfamily/rule.adoc
Labels: cfamily

#1911 Modify rule S1155: Migrate to new educational format
  rules/S1155/php/rule.adoc
Labels: php

#1909 Modify rule S5000: LaYC format
  rules/S5000/cfamily/rule.adoc
Labels: cfamily

#1918 Fix the bugs and codesmells reported by SC on the search page
  frontend/src/RulePage.tsx
  frontend/src/SearchPage.tsx
  frontend/src/deployment/metadata.ts
  frontend/src/deployment/searchIndex.ts
Labels: rspec system

#1929 Modify rule S4043: Cover the method Array.prototype.splice()
  rules/S4043/javascript/rule.adoc
Labels: jsts

#1941 Revert "Modify rule S4043: Cover the method Array.prototype.splice() …
  rules/S4043/javascript/rule.adoc
Labels: jsts

#1946 Modify rule S3796: add new array methods
  rules/S3796/javascript/rule.adoc
Labels: jsts

#1850 Modify rule S1048: Migrate to new educational format
  rules/S1048/csharp/metadata.json
  rules/S1048/csharp/rule.adoc
  rules/S1048/vbnet/metadata.json
  rules/S1048/vbnet/rule.adoc
Labels: dotnet

#1352 BUILD-1970 Use Vault
  .cirrus.yml
Labels: rspec system

#1825 Modify rule S3949: Remove CBDE from C#, add VB.NET
  rules/S3949/csharp/metadata.json
  rules/S3949/csharp/rule.adoc
  rules/S3949/description.adoc
  rules/S3949/java/rule.adoc
  rules/S3949/rspecator.adoc
  rules/S3949/rule.adoc
  rules/S3949/swift/rule.adoc
  rules/S3949/vbnet/rule.adoc
Labels: dotnet

#1959 Modify rule S2755 Add missing space between asciidoc inclusion and header
  rules/S2755/java/rule.adoc
Labels: java

#1957 Modify rule S3427: Migrate to new educational format
  rules/S3427/cfamily/metadata.json
  rules/S3427/cfamily/rule.adoc
  rules/S3427/comments-and-links.adoc
  rules/S3427/csharp/metadata.json
  rules/S3427/csharp/rule.adoc
  rules/S3427/metadata.json
  rules/S3427/rule.adoc
Labels: cfamily, dotnet

#1974 Modify rule S1150: Rewrite why is this an issue
  rules/S1150/java/rule.adoc
Labels: java

#1972 Modify rule S1149: Update code samples
  rules/S1149/java/rule.adoc
Labels: java

#1979 Modify rule S2857: LaYC format
  rules/S2857/cfamily/metadata.json
  rules/S2857/cfamily/rule.adoc
  rules/S2857/comments-and-links.adoc
  rules/S2857/csharp/rule.adoc
  rules/S2857/description.adoc
  rules/S2857/java/metadata.json
  rules/S2857/java/rule.adoc
  rules/S2857/message.adoc
  rules/S2857/metadata.json
  rules/S2857/php/metadata.json
  rules/S2857/php/rule.adoc
  rules/S2857/python/metadata.json
  rules/S2857/python/rule.adoc
  rules/S2857/rule.adoc
  rules/S2857/swift/metadata.json
  rules/S2857/swift/rule.adoc
  rules/S2857/vbnet/metadata.json
  rules/S2857/vbnet/rule.adoc
Labels: dotnet, layc
