Repository SonarSource/rspec, pull requests merged in 2023-10, with the labels that each got.

#3169 Modify rule S3776: Add cog complexity blog post link
  rules/S3776/resources.adoc
Labels: cfamily, java, python, dotnet, php, jsts, kotlin, abap, swift, go, apex

#3183 Modify S6471(docker): Improve fix section
  rules/S6471/docker/rule.adoc
Labels: iac

#3189 Modify rule S2190: Extend LaYC content for Java
  rules/S2190/java/rule.adoc
Labels: java, layc

#3147 Modify rule S3518: Expand and adjust for LaYC
  rules/S3518/cfamily/metadata.json
  rules/S3518/cfamily/rule.adoc
  rules/S3518/metadata.json
Labels: cfamily, layc

#3145 Modify rule S2637: Expand and adjust for LaYC
  rules/S2259/cfamily/rule.adoc
  rules/S2637/cfamily/rule.adoc
  rules/S2637/java/rule.adoc
  rules/S2637/metadata.json
  rules/S2637/see.adoc
  rules/S2637/standards.adoc
  shared_content/cfamily/reference_over_nonnull_pointer.adoc
Labels: cfamily, layc

#3199 Modify rule S115: Extend LaYC content
  rules/S115/common/comments-and-links.adoc
  rules/S115/common/how-to-fix-it.adoc
  rules/S115/common/introduction.adoc
  rules/S115/common/message.adoc
  rules/S115/common/parameters.adoc
  rules/S115/common/rule-behaviour.adoc
  rules/S115/common/what-is-the-potential-impact.adoc
  rules/S115/common/why-is-this-an-issue-thread-safety.adoc
  rules/S115/common/why-is-this-an-issue.adoc
  rules/S115/description.adoc
  rules/S115/flex/rule.adoc
  rules/S115/java/rule.adoc
  rules/S115/php/rule.adoc
  rules/S115/plsql/rule.adoc
  rules/S115/rule.adoc
  rules/S115/swift/rule.adoc
  rules/S115/vb6/rule.adoc
Labels: java, php, flex, plsql, swift, vb6, layc

#3198 Modify rule S2583: Migrate Python description to LaYC format
  rules/S2583/python/rule.adoc
Labels: python, layc

#3163 Modify rule S946: Expand and adjust for LaYC
  rules/S946/cfamily/metadata.json
  rules/S946/cfamily/rule.adoc
Labels: cfamily, layc

#3160 Modify rule S3519: Expand and adjust for LaYC
  rules/S3519/cfamily/metadata.json
  rules/S3519/cfamily/rule.adoc
Labels: cfamily, layc

#3205 Fix attribute and impact classification of MMF-2857 rules
  rules/S6746/javascript/metadata.json
  rules/S6747/javascript/metadata.json
  rules/S6748/javascript/metadata.json
  rules/S6749/javascript/metadata.json
  rules/S6750/javascript/metadata.json
  rules/S6754/javascript/metadata.json
  rules/S6756/javascript/metadata.json
  rules/S6757/javascript/metadata.json
  rules/S6759/javascript/metadata.json
  rules/S6761/javascript/metadata.json
  rules/S6763/javascript/metadata.json
  rules/S6766/javascript/metadata.json
  rules/S6767/javascript/metadata.json
  rules/S6770/javascript/metadata.json
  rules/S6772/javascript/metadata.json
  rules/S6774/javascript/metadata.json
  rules/S6775/javascript/metadata.json
Labels: jsts

#3208 Modify rule S6774: Add missing "How to fix it" section
  rules/S6774/javascript/rule.adoc
Labels: jsts

#3212 Modify rule S6700: Fix broken link
  rules/S6700/secrets/rule.adoc
Labels: secrets

#3223 Modify rule S1854: Update 'quickfix' field
  rules/S1854/cfamily/metadata.json
  rules/S1854/csharp/metadata.json
  rules/S1854/metadata.json
Labels: cfamily, dotnet, layc

#3230 Modify S4204: Migrate To LayC
  rules/S4204/javascript/rule.adoc
Labels: jsts

#3232 Modify S3498: Migrate To LayC
  rules/S3498/javascript/rule.adoc
Labels: jsts

#3239 Modify S1068: Migrate to LayC - unused private fields
  rules/S1068/cfamily/rule.adoc
  rules/S1068/description.adoc
  rules/S1068/flex/rule.adoc
  rules/S1068/java/rule.adoc
  rules/S1068/php/rule.adoc
  rules/S1068/rpg/rule.adoc
  rules/S1068/rule.adoc
  rules/S1068/vb6/rule.adoc
Labels: cfamily, java, dotnet, php, jsts, flex, plsql, rpg

#3233 Modify S1199: Migrate to LayC - Nested code blocks should not be used
  rules/S1199/cfamily/rule.adoc
  rules/S1199/csharp/rule.adoc
  rules/S1199/description.adoc
  rules/S1199/java/rule.adoc
  rules/S1199/javascript/rule.adoc
  rules/S1199/rule.adoc
Labels: cfamily, java, dotnet, jsts, layc

#3228 Modify S1131: Migrate to LayC - trailing spaces
  rules/S1131/cfamily/rule.adoc
  rules/S1131/description.adoc
  rules/S1131/javascript/rule.adoc
  rules/S1131/plsql/rule.adoc
  rules/S1131/python/rule.adoc
  rules/S1131/rule.adoc
  rules/S1131/swift/rule.adoc
  rules/S1131/vb6/rule.adoc
Labels: cfamily, python, jsts, plsql, swift, vb6

#3256 Modify S4666: Migrate To LayC
  rules/S4666/css/rule.adoc
Labels: css

#3248 Modify S878: Migrate to LayC - comma operator
  rules/S878/cfamily/rule.adoc
  rules/S878/compliant.adoc
  rules/S878/description.adoc
  rules/S878/javascript/rule.adoc
  rules/S878/noncompliant.adoc
Labels: cfamily, jsts

#3238 Modify S1104: Migrate To LayC - avoid public field
  rules/S1104/compliant.adoc
  rules/S1104/csharp/rule.adoc
  rules/S1104/description.adoc
  rules/S1104/impacts.adoc
  rules/S1104/java/rule.adoc
  rules/S1104/noncompliant.adoc
  rules/S1104/rule.adoc
Labels: java, dotnet

#3261 Modify S2933: Migrate to LayC
  rules/S2933/csharp/rule.adoc
  rules/S2933/how.adoc
  rules/S2933/javascript/metadata.json
  rules/S2933/javascript/rule.adoc
  rules/S2933/why.adoc
Labels: dotnet, jsts

#3272 Modify S4649: Migrate to LayC
  rules/S4649/css/rule.adoc
Labels: css, layc

#3245 Modify S1481: Migrate to LaYC
  rules/S1481/abap/rule.adoc
  rules/S1481/apex/rule.adoc
  rules/S1481/cfamily/rule.adoc
  rules/S1481/comments-and-links.adoc
  rules/S1481/csharp/rule.adoc
  rules/S1481/description.adoc
  rules/S1481/flex/rule.adoc
  rules/S1481/how-to-fix-it.adoc
  rules/S1481/java/rule.adoc
  rules/S1481/javascript/rule.adoc
  rules/S1481/kotlin/rule.adoc
  rules/S1481/message.adoc
  rules/S1481/php/rule.adoc
  rules/S1481/plsql/rule.adoc
  rules/S1481/python/rule.adoc
  rules/S1481/rationale.adoc
  rules/S1481/ruby/rule.adoc
  rules/S1481/rule.adoc
  rules/S1481/scala/rule.adoc
  rules/S1481/swift/rule.adoc
  rules/S1481/tsql/rule.adoc
  rules/S1481/vbnet/rule.adoc
Labels: cfamily, java, python, dotnet, php, kotlin, slang, abap, flex, plsql, swift, tsql, vb6, layc, apex

#3267 Modify S3257: Migrate to LayC
  rules/S3257/comments-and-links.adoc
  rules/S3257/csharp/rule.adoc
  rules/S3257/highlighting.adoc
  rules/S3257/javascript/rule.adoc
  rules/S3257/message.adoc
Labels: dotnet, jsts, layc

#3260 Modify S1066: Migrate to LayC - merge if
  rules/S1066/abap/rule.adoc
  rules/S1066/apex/rule.adoc
  rules/S1066/cfamily/rule.adoc
  rules/S1066/cobol/rule.adoc
  rules/S1066/csharp/rule.adoc
  rules/S1066/description.adoc
  rules/S1066/flex/rule.adoc
  rules/S1066/go/rule.adoc
  rules/S1066/java/rule.adoc
  rules/S1066/javascript/rule.adoc
  rules/S1066/kotlin/rule.adoc
  rules/S1066/metadata.json
  rules/S1066/noncompliant.adoc
  rules/S1066/php/rule.adoc
  rules/S1066/plsql/rule.adoc
  rules/S1066/python/rule.adoc
  rules/S1066/ruby/rule.adoc
  rules/S1066/rule.adoc
  rules/S1066/scala/rule.adoc
  rules/S1066/swift/rule.adoc
  rules/S1066/tsql/rule.adoc
  rules/S1066/vb6/rule.adoc
  rules/S1066/vbnet/rule.adoc
Labels: cfamily, java, python, dotnet, jsts, kotlin, abap, cobol, flex, plsql, swift, vb6, layc, go, apex

#3270 Modify S1117: Migrate To LayC - shadow variables
  rules/S1117/cfamily/metadata.json
  rules/S1117/cfamily/rule.adoc
  rules/S1117/csharp/rule.adoc
  rules/S1117/flex/rule.adoc
  rules/S1117/java/metadata.json
  rules/S1117/java/rule.adoc
  rules/S1117/javascript/metadata.json
  rules/S1117/javascript/rule.adoc
  rules/S1117/metadata.json
  rules/S1117/php/rule.adoc
  rules/S1117/plsql/metadata.json
  rules/S1117/plsql/rule.adoc
  rules/S1117/problems.adoc
  rules/S1117/rspecator.adoc
  rules/S1117/swift/rule.adoc
  rules/S1117/why-fields.adoc
  rules/S1117/why-general.adoc
  rules/S1117/why.adoc
Labels: cfamily, java, dotnet, php, jsts, flex, plsql, swift, layc

#3281 Modify S1110: Migrate To LayC - redundant parentheses
  rules/S1110/apex/rule.adoc
  rules/S1110/cfamily/rule.adoc
  rules/S1110/compliant.adoc
  rules/S1110/csharp/rule.adoc
  rules/S1110/go/rule.adoc
  rules/S1110/java/rule.adoc
  rules/S1110/javascript/rule.adoc
  rules/S1110/kotlin/rule.adoc
  rules/S1110/noncompliant.adoc
  rules/S1110/php/rule.adoc
  rules/S1110/python/rule.adoc
  rules/S1110/rule.adoc
  rules/S1110/scala/rule.adoc
  rules/S1110/why.adoc
Labels: cfamily, java, python, php, jsts, kotlin, layc, go, apex

#3280 Modify rule S106: Migrate to LayC - Standard outputs should not be used directly to log anything
  rules/S106/cfamily/rule.adoc
  rules/S106/csharp/rule.adoc
  rules/S106/description.adoc
  rules/S106/java/rule.adoc
  rules/S106/javascript/rule.adoc
Labels: cfamily, java, dotnet, jsts, layc

#3284 Modify S3524: Migrate to LayC
  rules/S3524/javascript/rule.adoc
Labels: jsts, layc

#3263 Modify S117: Migrate to LaYC
  rules/S117/apex/rule.adoc
  rules/S117/cfamily/rule.adoc
  rules/S117/description.adoc
  rules/S117/flex/rule.adoc
  rules/S117/go/rule.adoc
  rules/S117/how-to-fix-it.adoc
  rules/S117/introduction.adoc
  rules/S117/java/rule.adoc
  rules/S117/javascript/rule.adoc
  rules/S117/kotlin/rule.adoc
  rules/S117/message.adoc
  rules/S117/parameters.adoc
  rules/S117/php/rule.adoc
  rules/S117/plsql/rule.adoc
  rules/S117/python/rule.adoc
  rules/S117/ruby/metadata.json
  rules/S117/ruby/rule.adoc
  rules/S117/rule.adoc
  rules/S117/scala/rule.adoc
  rules/S117/swift/rule.adoc
  rules/S117/tsql/rule.adoc
  rules/S117/vbnet/rule.adoc
  rules/S117/what-is-the-potential-impact.adoc
  rules/S117/why-is-this-an-issue.adoc
Labels: cfamily, java, python, php, jsts, kotlin, slang, flex, plsql, swift, tsql, vb6, layc, go, apex

#3300 Modify docs: Add showcase rules
  docs/description.adoc
Labels: rspec system

#3276 Modify S5738: Migrate to LayC - `@Deprecated` code marked for removal should never be used
  rules/S5738/java/rule.adoc
Labels: java

#3306 Modify S1488: Migrate to LayC
  rules/S1488/description.adoc
  rules/S1488/how-to-fix.adoc
  rules/S1488/java/rule.adoc
  rules/S1488/javascript/rule.adoc
Labels: java, jsts, layc

#3298 Normalize links to C++ reference
  docs/link_formatting.adoc
  rules/S1039/cfamily/rule.adoc
  rules/S1232/cfamily/rule.adoc
  rules/S3457/cfamily/rule.adoc
  rules/S3529/cfamily/rule.adoc
  rules/S3584/cfamily/rule.adoc
  rules/S5272/cfamily/rule.adoc
  rules/S5403/cfamily/rule.adoc
  rules/S5417/cfamily/rule.adoc
  rules/S5524/cfamily/rule.adoc
  rules/S5553/cfamily/rule.adoc
  rules/S5558/cfamily/rule.adoc
  rules/S5570/cfamily/rule.adoc
  rules/S5972/cfamily/rule.adoc
  rules/S6197/cfamily/rule.adoc
  rules/S6427/cfamily/rule.adoc
  rules/S6458/cfamily/rule.adoc
  rules/S6459/cfamily/rule.adoc
  rules/S6490/cfamily/rule.adoc
  rules/S6655/cfamily/rule.adoc
  rules/S836/cfamily/rule.adoc
  rules/S878/cfamily/rule.adoc
  rules/S961/cfamily/rule.adoc
Labels: cfamily

#3317 Modify S5147(python): Improved the description
  rules/S5147/python/how-to-fix-it/dynamoDB.adoc
Labels: python

#3302 Modify S3353: Migrate To LayC
  rules/S3353/csharp/metadata.json
  rules/S3353/csharp/rule.adoc
  rules/S3353/how.adoc
  rules/S3353/javascript/metadata.json
  rules/S3353/javascript/rule.adoc
  rules/S3353/metadata.json
  rules/S3353/why.adoc
Labels: dotnet, jsts, layc

#3299 Modify S5693: Fix issue in noncompliant code example
  rules/S5693/csharp/rule.adoc
  rules/S5693/description.adoc
  rules/S5693/vbnet/rule.adoc
Labels: dotnet

#3279 Modify S2208: Migrate To LayC - wildcard imports
  rules/S2208/java/rule.adoc
  rules/S2208/javascript/rule.adoc
  rules/S2208/python/rule.adoc
Labels: java, python, jsts

#3311 Validate asciidoc ifdef/endif
  ci/asciidoc_validation/validate_environment.py
  ci/validate_asciidoc.sh
  rules/S1048/rspecator-dotnet.adoc
  rules/S1128/python/rule.adoc
  rules/S1155/vbnet/rule.adoc
  rules/S1199/cfamily/rule.adoc
  rules/S1199/csharp/rule.adoc
  rules/S1206/csharp/rule.adoc
  rules/S1479/rspecator-dotnet.adoc
  rules/S1656/csharp/rule.adoc
  rules/S1751/rspecator-dotnet.adoc
  rules/S1862/csharp/rule.adoc
  rules/S1862/vbnet/rule.adoc
  rules/S2076/csharp/rule.adoc
  rules/S2076/javascript/rule.adoc
  rules/S2076/php/rule.adoc
  rules/S2076/python/rule.adoc
  rules/S2183/rspecator.adoc
  rules/S2190/csharp/rule.adoc
  rules/S2225/rspecator.adoc
  rules/S2251/rspecator.adoc
  rules/S2252/rspecator.adoc
  rules/S2259/rspecator-dotnet.adoc
  rules/S2291/rspecator.adoc
  rules/S2318/python/rule.adoc
  rules/S2551/rspecator.adoc
  rules/S2688/csharp/rule.adoc
  rules/S2934/csharp/rule.adoc
  rules/S2995/csharp/rule.adoc
  rules/S3168/csharp/rule.adoc
  rules/S3244/rspecator.adoc
  rules/S3343/csharp/rule.adoc
  rules/S3453/rspecator.adoc
  rules/S3466/rspecator.adoc
  rules/S3598/csharp/rule.adoc
  rules/S3598/vbnet/rule.adoc
  rules/S3610/csharp/rule.adoc
  rules/S3904/rspecator.adoc
  rules/S3925/csharp/rule.adoc
  rules/S4015/rspecator.adoc
  rules/S4487/python/rule.adoc
  rules/S6321/azureresourcemanager/rule.adoc
  rules/S6321/cloudformation/rule.adoc
  rules/S6321/javascript/rule.adoc
  rules/S6321/python/rule.adoc
  rules/S6321/terraform/rule.adoc
  rules/S6422/csharp/rule.adoc
  rules/S6506/docker/rule.adoc
  rules/S6511/kotlin/rule.adoc
  rules/S6639/csharp/rule.adoc
  rules/S6639/python/rule.adoc
  rules/S6641/csharp/rule.adoc
Labels: rspec system

#3296 Remove link to CERT Java from CFamily
  rules/S1075/cfamily/metadata.json
  rules/S1075/cfamily/rule.adoc
  rules/S1116/cfamily/rule.adoc
  rules/S112/cfamily/rule.adoc
  rules/S1143/cfamily/rule.adoc
  rules/S1163/cfamily/rule.adoc
  rules/S126/cfamily/rule.adoc
  rules/S128/cfamily/rule.adoc
  rules/S1313/cfamily/rule.adoc
  rules/S1314/cfamily/rule.adoc
  rules/S1659/cfamily/rule.adoc
  rules/S1699/cfamily/rule.adoc
  rules/S1763/cfamily/rule.adoc
  rules/S1854/cfamily/rule.adoc
  rules/S1917/cfamily/rule.adoc
  rules/S2068/cfamily/rule.adoc
  rules/S2095/cfamily/rule.adoc
  rules/S2184/cfamily/rule.adoc
  rules/S2245/cfamily/rule.adoc
  rules/S2259/cfamily/rule.adoc
  rules/S2278/cfamily/rule.adoc
  rules/S2574/cfamily/metadata.json
  rules/S2574/cfamily/rule.adoc
  rules/S2612/cfamily/rule.adoc
  rules/S3518/cfamily/rule.adoc
  rules/S3807/cfamily/rule.adoc
  rules/S3955/cfamily/rule.adoc
  rules/S5042/cfamily/rule.adoc
  rules/S5485/cfamily/rule.adoc
  rules/S800/cfamily/rule.adoc
  rules/S818/cfamily/rule.adoc
  rules/S825/cfamily/rule.adoc
  rules/S864/cfamily/rule.adoc
  rules/S867/cfamily/rule.adoc
  rules/S881/cfamily/rule.adoc
  rules/S901/cfamily/rule.adoc
Labels: cfamily, appsec

#3320 Modify S1116: Migrate to LayC
  rules/S1116/cfamily/rule.adoc
  rules/S1116/csharp/rule.adoc
  rules/S1116/description.adoc
  rules/S1116/java/rule.adoc
Labels: cfamily, java, dotnet, layc

#3321 Normalize Wikipedia and Microsoft links in CFamily
  docs/link_formatting.adoc
  rules/S4263/cfamily/rule.adoc
  rules/S4436/cfamily/rule.adoc
  rules/S5314/cfamily/rule.adoc
Labels: cfamily

#3324 Normalize Open Group links in CFamily
  rules/S5487/cfamily/rule.adoc
Labels: cfamily

#3285 Modify S1186: Migrate to LayC - empty methods
  rules/S1186/apex/rule.adoc
  rules/S1186/cfamily/rule.adoc
  rules/S1186/csharp/comment-code.adoc
  rules/S1186/csharp/empty-code.adoc
  rules/S1186/csharp/notimplemented-code.adoc
  rules/S1186/csharp/notsupported-code.adoc
  rules/S1186/csharp/rule.adoc
  rules/S1186/description.adoc
  rules/S1186/flex/rule.adoc
  rules/S1186/go/rule.adoc
  rules/S1186/java/rule.adoc
  rules/S1186/javascript/rule.adoc
  rules/S1186/kotlin/rule.adoc
  rules/S1186/php/rule.adoc
  rules/S1186/python/rule.adoc
  rules/S1186/ruby/rule.adoc
  rules/S1186/scala/rule.adoc
  rules/S1186/swift/rule.adoc
  rules/S1186/vb6/comment-code.adoc
  rules/S1186/vb6/empty-code.adoc
  rules/S1186/vb6/notimplemented-code.adoc
  rules/S1186/vb6/notsupported-code.adoc
  rules/S1186/vb6/rule.adoc
  rules/S1186/vbnet/comment-code.adoc
  rules/S1186/vbnet/empty-code.adoc
  rules/S1186/vbnet/notimplemented-code.adoc
  rules/S1186/vbnet/notsupported-code.adoc
  rules/S1186/vbnet/rule.adoc
  rules/S1186/why-dotnet.adoc
Labels: layc

#3313 Modify S2230: extends with all Spring proxy
  rules/S2230/java/metadata.json
  rules/S2230/java/rule.adoc
Labels: java

#3336 Modify S1125: Remove strict comparison operators for javascript
  rules/S1125/javascript/rule.adoc
Labels: jsts

#3327 Modify S1155: Migrate to LaYC
  rules/S1155/cfamily/rule.adoc
  rules/S1155/csharp/rule.adoc
  rules/S1155/java/rule.adoc
  rules/S1155/metadata.json
  rules/S1155/rule.adoc
Labels: cfamily, java, dotnet, layc

#3318 Modify S4212(C#): Deprecation
  rules/S4212/csharp/metadata.json
Labels: dotnet

#3348 Fix links format and tag names in React accessibility rules of MMF-2996
  rules/S6793/javascript/metadata.json
  rules/S6793/javascript/rule.adoc
  rules/S6807/javascript/metadata.json
  rules/S6807/javascript/rule.adoc
  rules/S6811/javascript/metadata.json
  rules/S6811/javascript/rule.adoc
  rules/S6819/javascript/metadata.json
  rules/S6819/javascript/rule.adoc
  rules/S6821/javascript/metadata.json
  rules/S6821/javascript/rule.adoc
  rules/S6822/javascript/metadata.json
  rules/S6822/javascript/rule.adoc
  rules/S6823/javascript/metadata.json
  rules/S6823/javascript/rule.adoc
  rules/S6824/javascript/metadata.json
  rules/S6824/javascript/rule.adoc
  rules/S6825/javascript/metadata.json
  rules/S6825/javascript/rule.adoc
Labels: jsts

#3326 Modify rule S3457: rewrite description
  rules/S3457/cfamily/rule.adoc
Labels: cfamily

#3358 Modify S5547(PL/SQL): Migrate to LayC - code re-creation
  docs/header_names/allowed_framework_names.adoc
  rules/S5547/plsql/how-to-fix-it/dbms-crypto.adoc
  rules/S5547/plsql/metadata.json
  rules/S5547/plsql/rule.adoc
Labels: plsql

#3368 Modify S6469(docker): Migrate to LayC
  rules/S6469/docker/rule.adoc
Labels: iac

#3370 Modify S3355(xml): Migrate to LayC
  rules/S3355/xml/metadata.json
  rules/S3355/xml/rule.adoc
Labels: xml

#3365 Modify rule S5144: Add HTTPX support (APPSEC-1247)
  docs/header_names/allowed_framework_names.adoc
  rules/S5144/python/how-to-fix-it/httpx.adoc
  rules/S5144/python/rule.adoc
Labels: appsec, python

#3372 Modify S3281(xml): Migrate to LayC
  rules/S3281/xml/metadata.json
  rules/S3281/xml/rule.adoc
Labels: xml

#3376 Modify S3394(COBOL): Migrate to LayC
  rules/S3394/cobol/metadata.json
  rules/S3394/cobol/rule.adoc
Labels: cobol

#3373 Modify rule S5144: Add aiohttp support (APPSEC-1248)
  docs/header_names/allowed_framework_names.adoc
  rules/S5144/python/how-to-fix-it/aiohttp.adoc
  rules/S5144/python/rule.adoc
Labels: appsec, python

#3382 Modify rule S5869: Mention character class escapes
  rules/S5869/javascript/rule.adoc
Labels: jsts

#3387 Modify rule S5487: Fix example code
  rules/S5487/cfamily/rule.adoc
Labels: cfamily, layc

#3383 Modify Rule S4830: Add aiohttp support (APPSEC-1361)
  rules/S4830/python/how-to-fix-it/aiohttp.adoc
  rules/S4830/python/rule.adoc
Labels: appsec, python
