Repository SonarSource/rspec, pull requests merged in 2023-02, with the labels that each got.

#1508 Modify rule S5935: Fix dead link
  rules/S5935/php/rule.adoc
Labels: php

#1509 Modify rule S1244: improve C# message for special floating point values (NaN, PositiveInfinity, ...)
  rules/S1244/csharp/message.adoc
Labels: dotnet

#1538 Modify rule S1181: Correct the "See" section
  rules/S1181/cfamily/rule.adoc
  rules/S1181/see.adoc
Labels: cfamily, java

#1531 Modify rule S3400: Methods should not return constants
  rules/S3400/java/rule.adoc
Labels: java

#1530 Modify rule S1110: Add custom python message (SONARPY-1259)
  rules/S1110/python/message.adoc
  rules/S1110/python/rule.adoc
Labels: python

#1541 Modify rule S5810 (SONARJAVA-3920)
  rules/S5810/java/metadata.json
Labels: java

#1546 Modify rule S5860: Improve documentation
  rules/S5860/javascript/rule.adoc
Labels: jsts

#1544 Modify S4719: update quickfix status (SONARJAVA-3938)
  rules/S4719/java/metadata.json
Labels: java

#1533 Modify rule S3937: Add Java exception and improve rule description (SONARJAVA-4327)
  rules/S3937/compliant.adoc
  rules/S3937/csharp/rule.adoc
  rules/S3937/java/exceptions.adoc
  rules/S3937/java/rule.adoc
  rules/S3937/noncompliant.adoc
  rules/S3937/rule.adoc
Labels: java

#1548 S2166: Add C# and VB.NET
  rules/S2166/csharp/rule.adoc
  rules/S2166/vbnet/rule.adoc
Labels: dotnet

#1550 SONARJAVA-4319 Add quick fix
  rules/S2116/java/metadata.json
Labels: java

#1539 Modify rule S1699 Rewrite the RSPEC to use C++ vocabulary
  rules/S1699/cfamily/metadata.json
  rules/S1699/cfamily/rule.adoc
Labels: cfamily

#1543 Modify S1217: update 'quickfix' status (SONARJAVA-4311)
  rules/S1217/java/metadata.json
Labels: java

#1551 Modify S1656: Update quickfix status (SONARJAVA-3959)
  rules/S1656/java/metadata.json
Labels: java

#1565 Improve S2166: update message and sample code
  rules/S2166/csharp/message.adoc
  rules/S2166/csharp/rule.adoc
  rules/S2166/vbnet/message.adoc
  rules/S2166/vbnet/rule.adoc
Labels: dotnet

#1534 S2198: Add C#
  rules/S2198/csharp/comments-and-links.adoc
  rules/S2198/csharp/rule.adoc
  rules/S2198/rule.adoc
Labels: dotnet

#1579 Modify rule S3937: Add missing semicolon
  rules/S3937/noncompliant.adoc
Labels: dotnet

#1580 Modify rule S4426: Remove link in french
  rules/S4426/python/rule.adoc
Labels: python

#1582 Modify S4433: fix the broken link
  rules/S4433/description.adoc
  rules/S4433/see.adoc
Labels: java, python, dotnet, php

#1577 Modify rule S6181: Fix typos (CPP-4112)
  rules/S6181/cfamily/rule.adoc
Labels: cfamily

#1564 Modify rule S6191 CPP-3876 Update the RSPEC with de-deprecation of these uses in C++23
  rules/S6191/cfamily/rule.adoc
Labels: cfamily

#1583 Modify rule S2223: Update description to include also the case of global state
  rules/S2223/csharp/rule.adoc
Labels: dotnet

#1585 Modify rule S4423: Add Docker (APPSEC-460)
  rules/S4423/docker/message.adoc
  rules/S4423/docker/metadata.json
  rules/S4423/docker/rule.adoc
Labels: appsec, iac

#1518 Modify rule S2970: Improve description of supported test library functions
  rules/S2970/csharp/rule.adoc
  rules/S2970/description.adoc
Labels: dotnet

#1589 Modify rule S131(PLSQL): Change title to fit implementation
  rules/S131/plsql/metadata.json
  rules/S131/plsql/rule.adoc
  rules/S5663/java/rule.adoc
  rules/S5664/java/rule.adoc
  rules/S5665/java/rule.adoc
  rules/S6126/java/rule.adoc
  rules/S6203/java/rule.adoc
Labels: plsql

#1575 Improve S2094: Add exceptions
  rules/S2094/csharp/rule.adoc
  rules/S2094/vbnet/rule.adoc
Labels: dotnet

#356 Create rule S3958[kotlin]: Intermediate Sequence functions should not be left unused
  rules/S3958/java/metadata.json
  rules/S3958/java/rule.adoc
  rules/S3958/kotlin/metadata.json
  rules/S3958/kotlin/rule.adoc
  rules/S3958/metadata.json
Labels: kotlin

#1591 AsciiDoc Dos & Don'ts
  docs/asciidoc_dos_and_donts.adoc
Labels: rspec system
