Repository SonarSource/rspec, pull requests merged in 2024-06, with the labels that each got.

#3949 Modify rule S1699: Improve rule description for CPP-5114
  rules/S1699/cfamily/metadata.json
  rules/S1699/cfamily/rule.adoc
Labels: cfamily

#3962 Modify rule S5254: Remove dead link
  rules/S5254/html/rule.adoc
Labels: html

#3954 CPP-4070 S2807 Make rule SonarWay and enforce hidden friends and cover free func operators
  rules/S2807/cfamily/metadata.json
  rules/S2807/cfamily/rule.adoc
Labels: cfamily

#3967 Modify rule S6974: fix grammar
  rules/S6974/python/rule.adoc
Labels: python

#3964 Modify rule S2094: add exception for classes ending with Query
  rules/S2094/exceptions-dotnet.adoc
Labels: dotnet

#3953 Modify rule S960 Make an exception for code location macros and `#` and `##` operators (CPP-5112)
  rules/S960/cfamily/rule.adoc
Labels: cfamily

#3969 Logging rules: add "how to fix" section
  rules/S1312/rule-dotnet.adoc
  rules/S2629/csharp/rule.adoc
  rules/S6668/csharp/rule.adoc
  rules/S6669/csharp/rule.adoc
  rules/S6669/why-dotnet.adoc
  rules/S6670/csharp/rule.adoc
  rules/S6670/why-dotnet.adoc
  rules/S6672/csharp/how-code-example.adoc
  rules/S6672/rule.adoc
  rules/S6674/csharp/rule.adoc
  rules/S6674/how-dotnet.adoc
  rules/S6677/csharp/rule.adoc
  rules/S6677/how-dotnet.adoc
Labels: dotnet

#3963 Modify rule S5122: Update code snippets about user-controlled origin
  rules/S5122/javascript/rule.adoc
Labels: jsts

#3974 Modify rule S6711: Corrected impacts
  rules/S6711/python/metadata.json
Labels: python

#3965 CPP-5126 S3630 Add exceptions and updated description
  rules/S3630/cfamily/rule.adoc
Labels: cfamily

#3980 S6608: Update benchmarks code sample and results
  rules/S6608/resources-dotnet.adoc
Labels: dotnet

#3979 CPP-5375 S6459 Add exception for `std::convertible_to` concept
  rules/S6459/cfamily/rule.adoc
Labels: cfamily

#3960 S1694: Promote C# to SonarWay and remove protected constructor
  rules/S1694/csharp/metadata.json
  rules/S1694/csharp/rule.adoc
Labels: dotnet

#3986 Modify rule S6418: Fix link
  rules/S6418/java/rule.adoc
Labels: java

#3987 Modify rule S5769: Remove dead link
  rules/S5769/abap/rule.adoc
Labels: abap

#3983 RULEAPI-770 Fix bug due to multiple sonarpedia.json files
  rspec-tools/rspec_tools/coverage.py
  rspec-tools/tests/test_coverage.py
Labels: rspec system

#3989 Modify S1871: Improve codes examples
  rules/S1871/csharp/exceptions.adoc
  rules/S1871/vbnet/exceptions.adoc
Labels: dotnet

#3957 Modify rule S4201: Update rule title
  rules/S4201/csharp/metadata.json
  rules/S4201/vbnet/metadata.json
Labels: dotnet

#3764 Modify rule S5334: Add Spring example
  rules/S5334/java/how-to-fix-it/spring.adoc
  rules/S5334/java/metadata.json
  rules/S5334/java/rule.adoc
Labels: java

#3971 Modify Rule S3624 description and deprecate S4963 (CPP-5113)
  rules/S3624/cfamily/metadata.json
  rules/S3624/cfamily/rule.adoc
  rules/S4963/cfamily/metadata.json
Labels: cfamily

#3993 Modify rule S4963 (CPP-5113)
  rules/S4963/cfamily/metadata.json
  rules/S5018/cfamily/rule.adoc
Labels: cfamily

#3992 Update S1144: Add exception for DynamicallyAccessedMembersAttribute
  rules/S1144/csharp/rule.adoc
Labels: dotnet

#3994 Modify rule S3624: fix rendering and capitalization
  rules/S3624/cfamily/rule.adoc
Labels: cfamily

#3995 Modify rule S3624: fix error in documentation visibility
  rules/S3624/cfamily/rule.adoc
Labels: cfamily

#3998 Modify rules S1236,S3490: Remove reference to deprecated S4963
  rules/S1236/cfamily/rule.adoc
  rules/S3490/cfamily/rule.adoc
Labels: cfamily

#3999 Modify rule S1694: Update dead link
  rules/S1694/csharp/rule.adoc
Labels: dotnet

#4001 Modify rule S2259: Correct the impact (CPP-5409)
  rules/S2259/cfamily/metadata.json
Labels: cfamily

#4003 Modify rule S1135: Update rule scope to All
  rules/S1135/java/metadata.json
Labels: java

#3773 Modify rule S5334: Add JSP example
  rules/S5334/java/how-to-fix-it/jsp.adoc
  rules/S5334/java/metadata.json
  rules/S5334/java/rule.adoc
Labels: java

#4006 BUILD-4733: update secrets to use vault instead of github
  .github/workflows/update_coverage.yml
Labels: common

#3996 Create specialized single-language rules
  rspec-tools/rspec_template/single_language/secrets/metadata.json
  rspec-tools/rspec_template/single_language/secrets/rule.adoc
  rspec-tools/rspec_tools/create_rule.py
Labels: rspec system

#4008 Modify rule S6909: Fix errors in code examples
  rules/S6909/java/rule.adoc
Labels: java

#4002 Modify rule S6864: Add examples for LimitRange
  rules/S6864/kubernetes/rule.adoc
Labels: iac

#4007 Modify rule S2807: Add a longer explanation of the hidden friend pattern
  rules/S2807/cfamily/rule.adoc
Labels: cfamily

#4013 Modify rule S6914: Remove "timeero.com" because CI see it as a broken link
  rules/S6914/java/rule.adoc
Labels: java

#4015 Modify rule S6873: Add examples for LimitRange
  rules/S6873/kubernetes/rule.adoc
Labels: iac

#4005 Modifiy S1144: Improve C# exception
  rules/S1144/csharp/rule.adoc
Labels: dotnet

#4012 Modify Rule S1542: Update default regex for PL/SQL
  rules/S1542/plsql/parameters.adoc
  rules/S1542/plsql/rule.adoc
Labels: plsql

#4014 SONARIAC-1228 S6870: Should not raise with LimitRange in the same namespace setting Storage Limits
  rules/S6870/kubernetes/rule.adoc
Labels: iac

#4004 Modify rule S6869: Add examples for LimitRange
  rules/S6869/kubernetes/rule.adoc
Labels: iac

#4017 Modify rule S6892: Add examples for LimitRange
  rules/S6864/kubernetes/rule.adoc
  rules/S6892/kubernetes/rule.adoc
Labels: iac

#4018 Modify rule S6897: Add examples for LimitRange
  rules/S6897/kubernetes/rule.adoc
Labels: iac
