Repository SonarSource/rspec, pull requests merged in 2024-04, with the labels that each got.

#3840 Deprecate rule S6339
  rules/S4792/metadata.json
  rules/S6339/php/metadata.json
Labels: php

#3841 Update CODEOWNERS
  .github/CODEOWNERS
Labels: common

#3842 Modify rules S6878,S6913,S6915: add tag java21
  rules/S6878/java/metadata.json
  rules/S6913/java/metadata.json
  rules/S6915/java/metadata.json
Labels: java

#3844 Modify rule S6906: remove "native" from title
  rules/S6906/java/metadata.json
Labels: java

#3848 Modify rule S6437: Fix compliant message in Java
  rules/S6437/java/rule.adoc
Labels: java, appsec

#3853 Fix Azure Resource Manager rules coverage
  .cirrus.yml
  frontend/src/RulePage.tsx
  frontend/src/utils/useRuleCoverage.ts
Labels: rspec system

#3860 Document local deployment of the search page
  frontend/README.adoc
  frontend/README.md
Labels: rspec system

#3862 Modify rules S6830, S1452: Update dead links
  rules/S1452/java/rule.adoc
  rules/S6830/java/rule.adoc
Labels: java

#3864 Modify rule S6931: Deprecate VB for
  rules/S6931/vbnet/metadata.json
Labels: dotnet

#3539 Modify rule S1104: Add exception for [Serializable]
  rules/S1104/csharp/rule.adoc
Labels: dotnet

#3871 Modify rule S1192: Add exception for ARM
  rules/S1192/azureresourcemanager/exceptions-arm.adoc
Labels: iac

#3867 Modify rule S2094: Add an exception
  rules/S2094/csharp/rule.adoc
  rules/S2094/exceptions-dotnet.adoc
  rules/S2094/vbnet/rule.adoc
Labels: dotnet

#3875 SONARIAC-1381 S6956 improve description
  rules/S6956/azureresourcemanager/rule.adoc
Labels: iac

#3874 Resolve SONARHTML-231 - Deprecate S1085:html
  rules/S1085/html/metadata.json
Labels: html

#3877 Resolve SONARHTML-232 (Deprecate S1092)
  rules/S1092/html/metadata.json
Labels: html

#3880 Mark S1091 HTML variant as deprecated
  rules/S1091/html/metadata.json
Labels: html

#3878 Mark S1089 HTML variant as deprecated
  rules/S1089/html/metadata.json
Labels: html

#3879 Mark S1086 HTML variant as deprecated
  rules/S1086/html/metadata.json
Labels: html

#3893 Modify rule S935: fix typo
  rules/S935/python/rule.adoc
Labels: python

#3870 Modify rule S5147: Adding a how to fix section for Spring Data Redis (APPSEC-1565)
  docs/header_names/allowed_framework_names.adoc
  rules/S5147/java/how-to-fix-it/spring-data-redis.adoc
  rules/S5147/java/rule.adoc
Labels: java, appsec

#3899 Modify rule S3740: added examples and explanation about "cast", "instanceof" and wildcards
  rules/S3740/java/rule.adoc
Labels: java

#3901 S2951: Rename
  rules/S2951/vbnet/metadata.json
Labels: dotnet

#3900 Modify rule S5496: Add an how to fix session for Java and Groovy (APPSEC-1587)
  docs/header_names/allowed_framework_names.adoc
  rules/S5496/java/how-to-fix-it/groovy.adoc
  rules/S5496/java/rule.adoc
Labels: java, appsec

#3904 Fix S5254: Wrong RSPEC on metadata.json
  rules/S5254/javascript/metadata.json
Labels: jsts

#3909 Fix S2699: Fix list format
  rules/S2699/javascript/rule.adoc
Labels: jsts

#3905 Fix S6822: Missing resources
  rules/S6822/common/fix.adoc
  rules/S6822/common/introduction.adoc
  rules/S6822/common/resources.adoc
  rules/S6822/html/rule.adoc
  rules/S6822/javascript/rule.adoc
Labels: jsts

#3902 Close S2353
  rules/S2353/vbnet/metadata.json
Labels: dotnet

#3910 Deprecate S6803
  rules/S6803/csharp/metadata.json
  rules/S6803/csharp/rule.adoc
Labels: dotnet
