Repository SonarSource/rspec, pull requests merged in 2024-03, with the labels that each got.

#3714 Modify S5344: Improve common text
  rules/S5344/common/fix/password-hashing.adoc
  rules/S5344/common/fix/plaintext-password.adoc
  rules/S5344/impact.adoc
  rules/S5344/metadata.json
  rules/S5344/rationale.adoc
  rules/S5344/summary.adoc
Labels: java

#3696 CPP-4962 S6169 Update rspec to cover if consteval and its effects on is_constant_evaluated
  rules/S6169/cfamily/metadata.json
  rules/S6169/cfamily/rule.adoc
Labels: cfamily

#3736 Modify rule S1696: Fix link
  rules/S1696/csharp/rule.adoc
Labels: dotnet

#3700 Modify rule S2053: Add an exception section for key derivation use case of KDFs
  rules/S2053/common/fix/salt.adoc
  rules/S2053/csharp/rule.adoc
  rules/S2053/exceptions.adoc
  rules/S2053/java/rule.adoc
  rules/S2053/kotlin/rule.adoc
  rules/S2053/metadata.json
  rules/S2053/php/rule.adoc
  rules/S2053/python/rule.adoc
  rules/S2053/vbnet/rule.adoc
Labels: appsec

#3735 CPP-4910 Fix links to C++ Core Guideline with double dashes
  rules/S1236/cfamily/rule.adoc
  rules/S3657/cfamily/rule.adoc
  rules/S3692/cfamily/rule.adoc
  rules/S5019/cfamily/rule.adoc
  rules/S5829/cfamily/rule.adoc
  rules/S867/cfamily/rule.adoc
  rules/S877/cfamily/rule.adoc
Labels: cfamily

#3680 Modify rule S1764: Add CFamily exception for left shift operator
  rules/S1764/cfamily/rule.adoc
Labels: cfamily

#3759 Modify S3649(js): Fix code samples
  rules/S3649/javascript/how-to-fix-it/sequelize.adoc
Labels: jsts

#3752 Modify rules S1871 and S3923: Update description in accordance with the new understanding
  rules/S1871/cfamily/exceptions.adoc
  rules/S1871/cfamily/rule.adoc
  rules/S3923/cfamily/metadata.json
  rules/S3923/cfamily/rule.adoc
Labels: cfamily

#2528 Modify rule S3416: add C# and VB.NET
  rules/S3416/comments-and-links.adoc
  rules/S3416/csharp/how.adoc
  rules/S3416/csharp/metadata.json
  rules/S3416/csharp/rule.adoc
  rules/S3416/csharp/why-code-example.adoc
  rules/S3416/csharp/why-exception-example.adoc
  rules/S3416/java/metadata.json
  rules/S3416/java/rule.adoc
  rules/S3416/metadata.json
  rules/S3416/rspecator-dotnet.adoc
  rules/S3416/rule-dotnet.adoc
Labels: dotnet

#3712 Modify rule S3927: Update rule description
  rules/S3927/description.adoc
Labels: dotnet

#3713 Modify rule S2551: clarify example used in the description
  rules/S2551/csharp/rule.adoc
  rules/S2551/vbnet/rule.adoc
  rules/S2551/why-dotnet.adoc
Labels: dotnet

#3777 Modify rule S5566: Cover std::ranges::contains (CPP-5058)
  rules/S5566/cfamily/rule.adoc
Labels: cfamily

#3762 Modify rule S5500: Accept conditional move and C++23 new features (CPP-4621,CPP-4623)
  rules/S5500/cfamily/rule.adoc
Labels: cfamily

#3785 Modify rule S6494: Cover std::print interface family (CPP-5026)
  rules/S6494/cfamily/rule.adoc
Labels: cfamily

#3794 Modify S2955 C#: Fix compliant solution
  rules/S2955/csharp/rule.adoc
Labels: dotnet

#3799 Modify rule S1706: Mention std::expected as an alternative to exceptions (CPP-5054)
  rules/S1706/cfamily/rule.adoc
Labels: cfamily

#3792 Modify S6786(python): Improve description
  rules/S6786/python/metadata.json
  rules/S6786/python/rule.adoc
Labels: python

#3780 Modify rule S6881: SONARJAVA-4832 Modify description of S6881 to reflect reduced scope
  rules/S6881/java/rule.adoc
Labels: java

#3804 Modify rule S106: Add std::print to language standard outputs (CPP-5025)
  rules/S106/cfamily/rule.adoc
Labels: cfamily

#3806 Modify rule S6229 Add example with locale (CPP-5045)
  rules/S6229/cfamily/rule.adoc
Labels: cfamily

#3797 Modify rule S6045: Use LaYC format and update description for C++23 (CPP-5024)
  rules/S6045/cfamily/metadata.json
  rules/S6045/cfamily/rule.adoc
Labels: cfamily

#3815 Modify rule S2589,S3516,S3626: Remove them from CFamily (CPP-5165)
  rules/S1854/cfamily/rule.adoc
  rules/S2589/cfamily/metadata.json
  rules/S2589/comments-and-links.adoc
  rules/S3516/cfamily/metadata.json
  rules/S3516/comments-and-links.adoc
  rules/S3626/cfamily/metadata.json
  rules/S3626/comments-and-links.adoc
Labels: cfamily

#3786 S5148: Adjust description to fit improved detection
  rules/S5148/html/rule.adoc
  rules/S5148/recommended.adoc
Labels: appsec

#3827 Modify rule S5194: change specified Java version from 12 to 14
  rules/S5194/java/metadata.json
  rules/S5194/java/rule.adoc
Labels: java

#3820 Modiful rules S5281,S2275: Mention the safer std::print alternative in the RSPEC (CPP-5027)
  rules/S2275/cfamily/rule.adoc
  rules/S5281/cfamily/rule.adoc
Labels: cfamily

#3816 Modify rules S6185,S6484,S6494,S6495: RSPEC improvements (CPP-5056)
  rules/S6185/cfamily/rule.adoc
  rules/S6484/cfamily/rule.adoc
  rules/S6494/cfamily/rule.adoc
  rules/S6495/cfamily/rule.adoc
Labels: cfamily

#3825 Modify rule S6495 Avoid "cout << format" and use std::print (CPP-5028)
  rules/S6495/cfamily/rule.adoc
Labels: cfamily

#3829 Modify S5135(Python): Fix code samples
  rules/S5135/python/how-to-fix-it/python.adoc
  rules/S5135/python/how-to-fix-it/yaml.adoc
Labels: python

#3828 Modify rule S3470: Clarify that we allow std class specialization
  rules/S3470/cfamily/rule.adoc
Labels: cfamily

#3833 Modify S2076(python): Improve code samples
  rules/S2076/python/how-to-fix-it/paramiko.adoc
  rules/S2076/python/how-to-fix-it/python.adoc
Labels: python

#3831 Avoid hitting "Next" downtime by postponing the job later in the night
  .github/workflows/update_coverage.yml
Labels: rspec system

#3834 Make sure a label is added to each PR
  .github/workflows/ensure_label.yml
Labels: rspec system

#3836 Modify rule S4347: Change rule to be programming language agnostic
  rules/S4347/highlighting.adoc
  rules/S4347/impact.adoc
  rules/S4347/message.adoc
  rules/S4347/metadata.json
  rules/S4347/rationale.adoc
  rules/S4347/summary.adoc
Labels: java, appsec, kotlin
