Repository SonarSource/rspec, pull requests merged in 2024-12, with the labels that each got.

#4547 Modify rule S3168: Add more exceptions
  rules/S3168/csharp/rule.adoc
Labels: dotnet

#4555 [NO-JIRA] Fix rule coverage for Text and Secrets
  frontend/src/RulePage.tsx
  rspec-tools/rspec_tools/coverage.py
Labels: secrets, text

#4554 Update severities in S6524, S6527, S6528 to be aligned with CCT
  rules/S6524/kotlin/metadata.json
  rules/S6527/kotlin/metadata.json
  rules/S6528/kotlin/metadata.json
Labels: kotlin

#4556 Modify rule S1948: clarify that only non-static fields are serialized.
  rules/S1948/java/rule.adoc
Labels: java

#4557 Update S6473 to add parameter ports to kubernetes
  rules/S6473/ansible/rule.adoc
  rules/S6473/docker/rule.adoc
  rules/S6473/kubernetes/rule.adoc
  rules/S6473/parameters.adoc
Labels: iac

#4561 Deprecate rule S5742
  rules/S5742/metadata.json
Labels: javascript

#4562 SONARIAC-1701 Update RSPEC description for S6587
  rules/S6587/docker/rule.adoc
Labels: iac

#4564 Modify rule S1199: Deprecate this rule with the intent of removing it when possible CPP-4895
  rules/S1199/cfamily/metadata.json
Labels: cfamily

#4565 Modify rule S6984: Update einsum link
  rules/S6984/python/rule.adoc
Labels: python

#4568 Modify rule S1172 Fix FP for Objective-C block definitions CPP-5916
  rules/S1172/cfamily/rule.adoc
Labels: cfamily

#4566 Update rule S6437: add multi-stage build exceptions
  rules/S6437/docker/rule.adoc
  rules/S6587/docker/rule.adoc
Labels: iac

#4569 Modify rule S1199 Remove tags after deprecation CPP-4895
  rules/S1199/cfamily/metadata.json
Labels: cfamily

#4574 Update rule S7031: add multi-stage build exceptions
  rules/S7031/docker/rule.adoc
Labels: iac

#4573 Modify rule S6290: Remove reference to AWS Access Key ID (APPSEC-526)
  rules/S6290/secrets/rule.adoc
Labels: appsec, secrets

#4567 [DO NOT SQUASH]Improve coverage calculation
  rspec-tools/rspec_tools/coverage.py
Labels: rspec system

#4560 S1448 Updating default value
  rules/S1448/flex/rule.adoc
  rules/S1448/java/rule.adoc
  rules/S1448/parameters.adoc
  rules/S1448/php/rule.adoc
Labels: php

#4577 Modify rule S1190: Replace misplaced NonCompliant comment (SONARJAVA-5029)
  rules/S1190/java/rule.adoc
Labels: java

#4578 Modify rule S3749: Update rule description to add new javax and jakarta annotations (SONARJAVA-5036)
  rules/S3749/java/rule.adoc
Labels: java

#4581 Modify rule S907: vb6 LaYC
  rules/S907/vb6/rule.adoc
Labels: vb6

#4583 Modify S1542 (VB6): Update rule Regex
  rules/S1542/vb6/rule.adoc
Labels: vb6

#4585 Modify rule S1542: Prevent strong substitution
  rules/S1542/vb6/rule.adoc
Labels: vb6

#4586 NET-912 Modify rule S4039: Improve description to match the implementation
  rules/S4039/csharp/rule.adoc
Labels: dotnet

#4588 NET-915 Modify rule S2930: Include tracked types in the description
  rules/S2930/csharp/rule.adoc
Labels: dotnet

#4587 NET-913 Modify rule S1264: Improve description to match the implementation
  rules/S1264/csharp/rule.adoc
Labels: dotnet

#4589 NET-920 Modify rule S125: Add dotnet example
  rules/S125/csharp/rule.adoc
Labels: dotnet
