Repository SonarSource/rspec, pull requests merged in 2024-08, with the labels that each got.

#4107 Update rule S2807: typos
  rules/S2807/cfamily/rule.adoc
Labels: cfamily

#4108 Modify Rule S6606: Update description for Dart
  rules/S6606/dart/rule.adoc
Labels: dart

#4110 Modify Rule S6582: Update description for Dart
  rules/S6582/dart/rule.adoc
Labels: dart

#4112 Modify Rule S6582: Add link to the rule prefer_null_aware_method_calls
  rules/S6582/dart/rule.adoc
Labels: dart

#4118 Modify Rule S927: Add implementation detail to the rspec
  rules/S927/dart/rule.adoc
Labels: dart

#4119 Modify rule S7036: Add tags
  rules/S7036/text/metadata.json
Labels: text

#4121 margo/S1679-dart
  rules/S1679/dart/rule.adoc
Labels: dart

#4114 CPP-4967 S1314 Cover C++23 escape syntax in RSPEC
  rules/S1314/cfamily/rule.adoc
Labels: cfamily

#4109 Deprecate rule S2387
  rules/S2387/csharp/metadata.json
  rules/S2387/vbnet/metadata.json
Labels: dotnet

#4120 Modifiy S2674: Promote it to SonarWay
  rules/S2674/csharp/metadata.json
  rules/S2674/csharp/rule.adoc
Labels: dotnet

#4124 Modify Rule S1155: Improve description for Dart
  rules/S1155/dart/rule.adoc
Labels: dart

#4125 Modify Rule S1155: Add more links
  rules/S1155/dart/rule.adoc
Labels: dart

#4126 Update MASVS references to point to mas.owasp.org
  rules/S2245/cfamily/rule.adoc
  rules/S2245/java/rule.adoc
  rules/S2245/see.adoc
  rules/S3329/java/rule.adoc
  rules/S3329/kotlin/rule.adoc
  rules/S4423/java/rule.adoc
  rules/S4423/kotlin/rule.adoc
  rules/S4426/common/resources/standards.adoc
  rules/S4507/xml/rule.adoc
  rules/S4790/see.adoc
  rules/S4830/common/resources/standards.adoc
  rules/S5320/see.adoc
  rules/S5322/see.adoc
  rules/S5324/see.adoc
  rules/S5332/common/resources/standards.adoc
  rules/S5527/common/resources/standards.adoc
  rules/S5542/java/rule.adoc
  rules/S5542/kotlin/rule.adoc
  rules/S5547/kotlin/rule.adoc
  rules/S5594/xml/rule.adoc
  rules/S5604/xml/rule.adoc
  rules/S6288/see.adoc
  rules/S6291/see.adoc
  rules/S6293/see.adoc
  rules/S6300/see.adoc
  rules/S6301/common/resources/docs.adoc
  rules/S6301/common/resources/standards.adoc
  rules/S6358/xml/rule.adoc
  rules/S6359/xml/rule.adoc
  rules/S6361/xml/rule.adoc
  rules/S6384/common/resources/standards.adoc
  rules/S6432/common/resources/standards.adoc
Labels: cfamily, java, appsec, kotlin, swift, xml

#4127 Modify S3431: Promote C# rule to SonarWay
  rules/S3431/csharp/flow-example.adoc
  rules/S3431/csharp/how-mstest.adoc
  rules/S3431/csharp/how-nunit.adoc
  rules/S3431/csharp/rule.adoc
  rules/S3431/description.adoc
  rules/S3431/exceptions.adoc
  rules/S3431/metadata.json
  rules/S3431/resources.adoc
  rules/S3431/vbnet/flow-example.adoc
  rules/S3431/vbnet/how-mstest.adoc
  rules/S3431/vbnet/how-nunit.adoc
  rules/S3431/vbnet/rule.adoc
  shared_content/dotnet/csharp_dictionary.adoc
  shared_content/dotnet/vbnet_dictionary.adoc
Labels: dotnet

#4130 Modify S3993: Promote C# rule to Sonar-way
  rules/S2674/csharp/rule.adoc
  rules/S3993/csharp/rule.adoc
  rules/S3993/metadata.json
  rules/S3993/rule.adoc
Labels: dotnet

#4131 Modify rule S100: adapt PHP explanation to include Drupal exception
  rules/S100/php/rule.adoc
Labels: php

#4134 Modify S4052: Promote C# rule to Sonar way
  rules/S4052/csharp/metadata.json
  rules/S4052/csharp/rule.adoc
Labels: dotnet

#4132 Modify rule S1781: add drupal conventions support
  rules/S1781/php/rule.adoc
Labels: php

#4123 Modify S2325: Promote C# rule to Sonar-Way
  rules/S2325/csharp/metadata.json
  rules/S2325/csharp/rule.adoc
Labels: dotnet

#4140 Modifiy S2325 & S2674: Fix typo and missing links
  rules/S2325/csharp/rule.adoc
  rules/S2674/csharp/rule.adoc
Labels: dotnet

#4097 Modify rules S6169,S6171,S1314,S2335 (CPP-5503)
  rules/S1314/cfamily/rule.adoc
  rules/S2335/cfamily/rule.adoc
  rules/S6169/cfamily/rule.adoc
  rules/S6171/cfamily/rule.adoc
Labels: cfamily

#4141 Modify Rule S1192: Add Dart language
  rules/S1192/dart/metadata.json
  rules/S1192/dart/rule.adoc
Labels: dart

#4122 Modify rule S6649: Fix rule id
  rules/S6649/java/metadata.json
Labels: java

#4137 Modify rule S6646: Fix non compliant examples
  rules/S6646/java/rule.adoc
Labels: java

#4144 Modify rule S7001: Rename STIG metadata section
  rules/S7001/secrets/metadata.json
Labels: secrets

#4147 Modify rule S7003: Rename STIG metadata section
  rules/S7003/secrets/metadata.json
Labels: secrets

#4129 Modify rule S3776: add Dart
  rules/S3776/dart/metadata.json
  rules/S3776/dart/rule.adoc
Labels: dart

#4146 Modify rule S3358: Add Dart language
  rules/S3358/dart/metadata.json
  rules/S3358/dart/rule.adoc
Labels: dart

#4149 Modify rule S2971: Add Dart language
  rules/S2971/dart/rule.adoc
Labels: dart

#4148 Modify rule S6207: Add Dart language
  rules/S6207/dart/rule.adoc
Labels: dart

#4150 Modify rule S4123: Add Dart language
  rules/S4123/dart/rule.adoc
Labels: dart

#4153 Modify rule S2159: Add Dart language
  rules/S2159/dart/rule.adoc
  rules/S2159/metadata.json
Labels: java, python, dart

#4152 Modify Rule S3257: Add Dart language
  rules/S3257/dart/rule.adoc
Labels: dart

#4155 Modify rule S3257: add rspecator and fix resources layout
  rules/S3257/dart/rule.adoc
Labels: dart

#4157 Modify rule S4123: remove ref to other RSPEC
  rules/S4123/dart/rule.adoc
Labels: dart

#4145 Modify rules S1314,S7035,S7040: small improvements (CPP-5503)
  rules/S1314/cfamily/rule.adoc
  rules/S7035/cfamily/metadata.json
  rules/S7035/cfamily/rule.adoc
  rules/S7040/cfamily/metadata.json
  rules/S7040/cfamily/rule.adoc
Labels: cfamily

#4154 Modify rule S6619: Add Dart language
  rules/S6619/dart/rule.adoc
Labels: dart

#4161 Modify rule S7039: Change language from csharp to html
  rules/S7039/html/metadata.json
  rules/S7039/html/rule.adoc
Labels: html

#4138 Deprecate rule S1772 (CPP-4874)
  rules/S1772/metadata.json
Labels: cfamily

#4159 Modify rule S1854: Add Dart language
  rules/S1854/dart/metadata.json
  rules/S1854/dart/rule.adoc
Labels: dart

#4115 CPP-5564 S2335 Make more characters properly terminate an escape sequence
  rules/S2335/cfamily/rule.adoc
Labels: cfamily

#4168 Modify rule S3715: Mention empty initializer before C23
  rules/S3715/cfamily/rule.adoc
Labels: cfamily

#4160 Modify Rule S1118: Add Dart language
  rules/S1118/dart/metadata.json
  rules/S1118/dart/rule.adoc
Labels: dart

#4167 Modify Rule S3240: Update Dart description
  rules/S3240/dart/rule.adoc
Labels: dart

#4172 Modify rule S6004: CPP-5608 don't raise for for-range
  rules/S6004/cfamily/metadata.json
  rules/S6004/cfamily/rule.adoc
Labels: cfamily

#4173 Modify Rule S3962: Update Dart description
  rules/S3962/dart/metadata.json
  rules/S3962/dart/rule.adoc
Labels: dart

#4163 Modify rule S2068: Update documentation to not recommend the customization
  rules/S2068/description-no-recommend.adoc
  rules/S2068/description.adoc
  rules/S2068/python/rule.adoc
Labels: python

#4176 Modify Rule S2963: Update Dart description
  rules/S2963/dart/rule.adoc
Labels: dart

#4174 Modify Rule S4647: Update Dart description
  rules/S4647/dart/rule.adoc
Labels: dart

#4185 Modify rule S3512: Update Dart examples and resources
  rules/S3512/dart/rule.adoc
Labels: dart

#4184 Modify rule S2471: improve resources and add rspecator
  rules/S2471/dart/rule.adoc
Labels: dart

#4183 Modify rule S2175: improve resources and add rspecator
  rules/S2175/dart/rule.adoc
Labels: dart

#4180 Modify rule S5416: improve resources and add rspecator
  rules/S5416/dart/rule.adoc
Labels: dart

#4182 Modify Rule S5856: Update Dart description
  rules/S5856/dart/rule.adoc
Labels: dart

#4178 Modify rule S3562: improve resources and add rspecator
  rules/S3562/dart/rule.adoc
Labels: dart

#4187 Modify rule S1065: Fix resources
  rules/S1065/dart/rule.adoc
Labels: dart

#4189 Modify rule S2432: Fix resources and add rspecator
  rules/S2432/dart/rule.adoc
Labels: dart

#4143 Modify Rule S107: Add Dart language
  rules/S107/dart/metadata.json
  rules/S107/dart/noncompliant.adoc
  rules/S107/dart/rule.adoc
  rules/S107/dart/split-example.adoc
  rules/S107/dart/struct-example.adoc
Labels: dart

#4190 Modify rules S6320;S6416;S6555;S6707;S6976 Update examples
  rules/S6320/java/rule.adoc
  rules/S6416/java/rule.adoc
  rules/S6555/java/rule.adoc
  rules/S6707/java/rule.adoc
  rules/S6976/java/rule.adoc
Labels: java

#4191 Modify rules S6886, S2589, S5633, S6417: Fix examples
  rules/S2589/python/rule.adoc
  rules/S5633/python/rule.adoc
  rules/S6417/python/rule.adoc
  rules/S6466/python/rule.adoc
  rules/S6886/python/rule.adoc
Labels: python

#4192 Modify rule S6651: fix erroneous inclusion in SonarWay
  rules/S6651/java/metadata.json
Labels: java

#4194 Modify rule S2175: add spaces to the why section
  rules/S2175/dart/rule.adoc
Labels: dart

#4195 Modify rule S5416: add spaces to the why section
  rules/S5416/dart/rule.adoc
Labels: dart

#4202 Modify rule S7045: fix list formatting in Why section
  rules/S7045/dart/rule.adoc
Labels: dart

#4177 SONARJAVA-5102 Deprecate Java SE rules implemented by DBD
  rules/S2259/java/metadata.json
  rules/S2583/java/metadata.json
  rules/S2589/java/metadata.json
  rules/S3518/java/metadata.json
  rules/S3655/java/metadata.json
  rules/S3959/java/metadata.json
Labels: java

#4207 Modify rules S2259;S2583;S2589;S3518;S3655;S3959 Remove replacement rules and update description for deprecated SE rules
  rules/S2259/java/metadata.json
  rules/S2259/java/rule.adoc
  rules/S2583/java/metadata.json
  rules/S2583/java/rule.adoc
  rules/S2589/java/metadata.json
  rules/S2589/java/rule.adoc
  rules/S3518/java/metadata.json
  rules/S3518/java/rule.adoc
  rules/S3655/java/metadata.json
  rules/S3655/java/rule.adoc
  rules/S3959/java/metadata.json
  rules/S3959/java/rule.adoc
Labels: java

#4209 Modify rule S7045: Fix underscore escaping in rule description
  rules/S7045/dart/rule.adoc
Labels: dart

#4210 Modify rule S7046: Add a link to "camel case" in the rule description
  rules/S7046/dart/rule.adoc
Labels: dart

#4203 [S4502|S5131] Add resources and fix resources style
  rules/S4502/see.adoc
  rules/S5131/common/resources/articles.adoc
Labels: java, appsec, python, dotnet, php, jsts, layc

#4213 Modify rule S6024: Remove useless paretheses
  rules/S6024/cfamily/rule.adoc
Labels: cfamily

#4211 Modify rule S7047: Fix formatting of inline code
  rules/S7047/dart/rule.adoc
Labels: dart
