Repository SonarSource/rspec, pull requests merged in 2024-10, with the labels that each got.

#4324 Modify S6321: Add Ansible
  rules/S6321/ansible/metadata.json
  rules/S6321/ansible/rule.adoc
  rules/S6321/common/resources/standards.adoc
  rules/S6321/metadata.json
Labels: iac

#4355 Modify rule S5553: Update tags and add missing SE tag
  rules/S5553/cfamily/metadata.json
Labels: cfamily

#4337 Include "sonar-architecture" in the list of repos for updating rules coverage script
  rspec-tools/rspec_tools/coverage.py
Labels: java

#4360 Modify S2260: add Ansible
  frontend/src/RulePage.tsx
  rspec-tools/rspec_tools/coverage.py
  rules/S2260/ansible/metadata.json
  rules/S2260/ansible/rule.adoc
Labels: iac

#4366 Modify rule S7105: Fix ellipses escaping in rule description
  rules/S7105/dart/rule.adoc
Labels: dart

#4362 Modify S6781(C#): Add alternative message
  rules/S6781/csharp/rule.adoc
Labels: dotnet

#4370 Modify rule S7112: Fix spelling in description
  rules/S7111/dart/rule.adoc
Labels: dart

#4376 [NO-JIRA] Fix rule coverage for Apex, Go, Ruby and Scala
  frontend/src/RulePage.tsx
  rspec-tools/rspec_tools/coverage.py
Labels: go, apex, ruby, scala

#4378 Modify rule S6711: SONARPY-2016: Make rule examples for S6711 module-level
  rules/S6711/python/rule.adoc
Labels: python

#4383 Modify rule S7108: Fix formatting and improve description
  rules/S7108/dart/rule.adoc
Labels: dart

#4384 Modify rule S7113: Fix link prefix under resources documentation
  rules/S7113/dart/rule.adoc
Labels: dart

#4380 SONARPY-2005: Modify rule S1721: Update rule for in (...)
  rules/S1721/python/rule.adoc
Labels: python

#4356 Modify S2612: add Ansible
  rules/S2612/ansible/metadata.json
  rules/S2612/ansible/rule.adoc
Labels: iac

#4386 Modify rule S3776: Exclude short-circuiting and null coalescing altogether
  rules/S3776/javascript/rule.adoc
Labels: jsts

#4394 CPP-5803 S7035 Add exception for casts to bool
  rules/S7035/cfamily/rule.adoc
Labels: cfamily

#4382 Modify rule S7107: Fix non-compliant example
  rules/S7107/dart/rule.adoc
Labels: dart

#4400 Modify rule S1190
  rules/S1190/java/rule.adoc
Labels: java

#4401 Modify rule S1190: Fix misinterpreted `_`
  rules/S1190/java/rule.adoc
Labels: java

#4403 Modify rule S7114: Improve "Why is this an issue" grammar
  rules/S7114/dart/rule.adoc
Labels: dart

#4402 Modify rule S7109: Improve grammar in "how to fix" section
  rules/S7109/dart/rule.adoc
Labels: dart

#4397 Modify rule S7113: Fix S7112 rule number in related rules
  rules/S7113/dart/rule.adoc
Labels: dart

#4396 Modify rule S7112: Add S7113 as related rule
  rules/S7112/dart/rule.adoc
Labels: dart

#4399 Modify Rule S3422: Add Compliant code examples
  rules/S3422/xml/rule.adoc
Labels: xml

#4406 Add minimal config for Codespaces
  .cirrus.yml
  .devcontainer/devcontainer.json
  .devcontainer/finalize-container.sh
  .gitignore
  ci/install_rspec_tools_dependencies.sh
Labels: rspec system

#4411 Modify rule S2068: Update title to "Hard-coded passwords are security-sensitive"
  rules/S2068/python/metadata.json
Labels: python

#4405 Modify rule S7124: fix non-compiling code example
  rules/S7124/dart/rule.adoc
Labels: dart

#4404 Modify rule S7120: Improve description and fix code example
  rules/S7120/dart/rule.adoc
Labels: dart

#4408 Modify rules S2710,S5685: Fix How to fix it section level
  rules/S2710/python/rule.adoc
  rules/S5685/python/rule.adoc
Labels: python

#4415 SONARXML-194 S3422: Add Compliant code examples
  rules/S3422/xml/rule.adoc
Labels: xml

#4409 Modify rule S2699: Fix How to fix it section level
  rules/S2699/csharp/rule.adoc
Labels: dotnet

#4416 Modify rule S6929: Corrected quickfix metadata
  rules/S6929/python/metadata.json
Labels: python

#4407 Detect title as subsections
  rspec-tools/README.adoc
  rspec-tools/rspec_tools/validation/description.py
  rspec-tools/tests/resources/invalid-rules/S100/php/metadata.json
  rspec-tools/tests/resources/invalid-rules/S100/php/rule.adoc
  rspec-tools/tests/resources/invalid-rules/S100/php/rule.html
  rspec-tools/tests/validation/test_description_validation.py
Labels: rspec system

#4413 Add guidelines to format references to code elements
  docs/description.adoc
  docs/styling_guide.adoc
Labels: rspec system

#4424 Modify rule S7024 & S7025: Update example to trigger the rule
  rules/S7024/secrets/rule.adoc
  rules/S7025/secrets/rule.adoc
Labels: secrets

#4425 Convention: use colon as separator in comments within code blocks
  docs/description.adoc
Labels: common

#4428 Ensure issue severities are consistent between old model and CCT
  rules/S6709/python/metadata.json
  rules/S6727/python/metadata.json
  rules/S6729/python/metadata.json
  rules/S6734/python/metadata.json
  rules/S6735/python/metadata.json
  rules/S6740/python/metadata.json
  rules/S6882/python/metadata.json
  rules/S6883/python/metadata.json
  rules/S6886/python/metadata.json
  rules/S6887/python/metadata.json
  rules/S6890/python/metadata.json
  rules/S6894/python/metadata.json
  rules/S6899/python/metadata.json
  rules/S6900/python/metadata.json
  rules/S6903/python/metadata.json
  rules/S6908/python/metadata.json
  rules/S6911/python/metadata.json
  rules/S6918/python/metadata.json
  rules/S6919/python/metadata.json
  rules/S6925/python/metadata.json
  rules/S6928/python/metadata.json
  rules/S6929/python/metadata.json
  rules/S6969/python/metadata.json
  rules/S6971/python/metadata.json
  rules/S6972/python/metadata.json
  rules/S6973/python/metadata.json
  rules/S6974/python/metadata.json
  rules/S6978/python/metadata.json
  rules/S6984/python/metadata.json
  rules/S6985/python/metadata.json
Labels: python

#4429 Modify rule S6473: Fix Kubernetes service code example
  rules/S6473/kubernetes/rule.adoc
Labels: iac

#4431 Modified S5144(C#): Use HttpClient instead of old WebRequest
  rules/S5144/csharp/how-to-fix-it/dotnet.adoc
Labels: dotnet

#4434 Modify rule S6473: Add parameter
  rules/S6473/ansible/rule.adoc
  rules/S6473/docker/rule.adoc
Labels: iac

#4440 Modify rule S2260: Improve title and description
  rules/S2260/dart/metadata.json
  rules/S2260/dart/rule.adoc
Labels: dart

#4443 Modify rule S6870: Improve description
  rules/S6870/kubernetes/rule.adoc
Labels: iac

#4446 Modify rule S2245: Clarify the naming of random number generators
  rules/S2245/ask-yourself.adoc
  rules/S2245/cfamily/rule.adoc
  rules/S2245/csharp/rule.adoc
  rules/S2245/description.adoc
  rules/S2245/go/rule.adoc
  rules/S2245/java/rule.adoc
  rules/S2245/javascript/rule.adoc
  rules/S2245/kotlin/rule.adoc
  rules/S2245/php/rule.adoc
  rules/S2245/see.adoc
Labels: appsec

#4438 Modify rule S6602: Update benchmark
  rules/S6602/metadata.json
  rules/S6602/resources-dotnet.adoc
  rules/S6602/why-dotnet.adoc
Labels: dotnet

#4445 NET-407 Update S2551 rule description.
  rules/S2551/csharp/rule.adoc
  rules/S2551/resources-dotnet.adoc
  rules/S2551/vbnet/rule.adoc
  rules/S2551/why-dotnet.adoc
Labels: dotnet

#4450 Modify rule S6603: Remove from SonarWay and update benchmarks
  rules/S6603/metadata.json
  rules/S6603/resources-dotnet.adoc
  rules/S6603/why-dotnet.adoc
Labels: dotnet

#4451 Modify rule S6377: Clarify C# compliant code sample (APPSEC-1731)
  rules/S6377/common/impact.adoc
  rules/S6377/common/impacts/injection.adoc
  rules/S6377/common/impacts/spoofing.adoc
  rules/S6377/common/rationale.adoc
  rules/S6377/csharp/how-to-fix/net-core.adoc
Labels: dotnet

#4454 Modify Rule S5144: Add information on blacklisting
  rules/S5144/common/fix/blacklist.adoc
  rules/S5144/common/fix/pre-approved-list.adoc
  rules/S5144/common/pitfalls/blacklist-toctou.adoc
  rules/S5144/csharp/how-to-fix-it/dotnet.adoc
  rules/S5144/java/how-to-fix-it/java-se.adoc
  rules/S5144/javascript/how-to-fix-it/node.adoc
  rules/S5144/php/how-to-fix-it/core.adoc
  rules/S5144/php/how-to-fix-it/guzzle.adoc
  rules/S5144/python/how-to-fix-it/httpx.adoc
  rules/S5144/python/how-to-fix-it/python.adoc
  rules/S5144/python/how-to-fix-it/requests.adoc
Labels: appsec

#4457 Modify rule S2260: Fix list of actions to deal with analyzer failures
  rules/S2260/dart/rule.adoc
Labels: dart

#4439 Modify rule S5334: Add noncompliant comment in C# (APPSEC-258)
  rules/S5334/csharp/how-to-fix-it/dotnet.adoc
Labels: appsec, dotnet

#4455 Modify Rule S6287: Improve Message
  rules/S6287/message.adoc
Labels: appsec

#4459 NET-567 Modify rule S6605: Remove from SonarWay and update benchmarks
  rules/S6605/metadata.json
  rules/S6605/resources-dotnet.adoc
  rules/S6605/why-dotnet.adoc
Labels: dotnet
