Repository SonarSource/rspec, pull requests merged in 2024-09, with the labels that each got.

#4212 Modify S6865(K8s): Rework Rule for realistic detection
  rules/S6865/kubernetes/metadata.json
  rules/S6865/kubernetes/rule.adoc
Labels: iac

#4128 Modify rule S5146: Add fix for Blazor (APPSEC-1905)
  rules/S5146/csharp/how-to-fix-it/blazor.adoc
  rules/S5146/csharp/rule.adoc
Labels: appsec

#4216 Modify rule S6680: Add correct Clean Code Taxonomy attributes
  rules/S6680/metadata.json
Labels: appsec

#4200 Modify Rule S1578: Update Dart description
  rules/S1578/dart/metadata.json
  rules/S1578/dart/rule.adoc
Labels: dart

#4225 Update rule S7058: Add additional link to Dart Docs
  rules/S7058/dart/rule.adoc
Labels: dart

#4215 Modify rule S2755: Simplify how to fix it section
  docs/header_names/allowed_framework_names.adoc
  rules/S2755/java/how-to-fix-it/dom4j.adoc
  rules/S2755/java/how-to-fix-it/java-se.adoc
  rules/S2755/java/how-to-fix-it/jdom2.adoc
  rules/S2755/java/how-to-fix-it/sax.adoc
  rules/S2755/java/rule.adoc
Labels: java

#4228 Modify rules S6651,S6649,S6646,S6555,S6976,S6707,S6780: Add to SonarWay
  rules/S6555/java/metadata.json
  rules/S6646/java/metadata.json
  rules/S6649/java/metadata.json
  rules/S6651/java/metadata.json
  rules/S6707/java/metadata.json
  rules/S6780/java/metadata.json
  rules/S6976/java/metadata.json
Labels: java

#2456 Modify rule S6249: Fix code CloudFornation code examples (APPSEC-50)
  rules/S6249/cloudformation/rule.adoc
Labels: iac

#4235 Modify rule S2637(cfamily): CPP-5602 allow assigning nullptr to params
  rules/S2637/cfamily/metadata.json
  rules/S2637/cfamily/rule.adoc
Labels: cfamily

#4239 Fix dead link
  rules/S6430/kubernetes/rule.adoc
Labels: iac

#4238 Modify rule S6147: refactor directory structure, set quickfix and code-snippet language
  rules/S6147/cfamily/metadata.json
  rules/S6147/cfamily/rule.adoc
  rules/S6147/metadata.json
  rules/S6147/rule.adoc
Labels: cfamily

#4158 Modify Rule S2260: Add Dart language
  rules/S2260/dart/metadata.json
  rules/S2260/dart/rule.adoc
Labels: dart

#4244 Modify Rule S2260: update Dart metadata
  rules/S2260/dart/metadata.json
Labels: dart

#4242 Modify rule S3329: Correct example code
  rules/S3329/java/how-to-fix-it/java-cryptography-extension.adoc
  rules/S3329/kotlin/how-to-fix-it/java-cryptography-extension.adoc
  rules/S3329/python/how-to-fix-it/pyca.adoc
  rules/S3329/python/how-to-fix-it/pycryptodome.adoc
Labels: appsec

#4243 Modify rule S1607: Allow to add an explanation comment after the test disabling
  rules/S1607/javascript/rule.adoc
Labels: jsts

#4249 Mark S2424 as duplicated of S2137
  rules/S2137/javascript/rule.adoc
  rules/S2424/javascript/rule.adoc
Labels: jsts

#4245 Modify rules S2259;S2583;S2589;S3518;S3655;S3959: undo deprecation
  rules/S2259/java/metadata.json
  rules/S2259/java/rule.adoc
  rules/S2583/java/metadata.json
  rules/S2583/java/rule.adoc
  rules/S2589/java/metadata.json
  rules/S2589/java/rule.adoc
  rules/S3518/java/metadata.json
  rules/S3518/java/rule.adoc
  rules/S3655/java/metadata.json
  rules/S3655/java/rule.adoc
  rules/S3959/java/metadata.json
  rules/S3959/java/rule.adoc
Labels: java

#4252 Modify rules S6651,S6649,S6646,S6555,S6976,S6707,S6780: Undo adding to SonarWay
  rules/S6555/java/metadata.json
  rules/S6646/java/metadata.json
  rules/S6649/java/metadata.json
  rules/S6651/java/metadata.json
  rules/S6707/java/metadata.json
  rules/S6780/java/metadata.json
  rules/S6976/java/metadata.json
Labels: java

#4255 Merge all rule validation scripts under a single task
  .cirrus.yml
  ci/validate_file_extensions.sh
Labels: rspec system

#4257 Modify rule S7054: fix typo in the Dart description
  rules/S7054/dart/rule.adoc
Labels: dart

#4230 Modify rule S7026: Add exceptions
  rules/S7026/docker/rule.adoc
Labels: iac

#2514 Modify Rule S6382: Fix outdated properties (APPSEC-773)
  rules/S6382/terraform/highlighting.adoc
  rules/S6382/terraform/message.adoc
  rules/S6382/terraform/rule.adoc
Labels: iac

#4251 Add rule S4328 to Sonar way quality profile
  rules/S4328/javascript/metadata.json
Labels: jsts

#4260 Close S7063 for javascript
  rules/S7063/javascript/metadata.json
Labels: jsts

#4264 Modify rule S3881: Remove typo in code example
  rules/S3881/csharp/rule.adoc
Labels: dotnet

#4261 Remove S4328 from "Sonar way" profile
  rules/S4328/javascript/metadata.json
Labels: jsts

#4263 Modify rule S3457: Fix link format
  rules/S3457/csharp/rule.adoc
Labels: dotnet

#4266 JS-332 Add `type-dependent` tag to TypeScript variant of RSPEC 2301
  rules/S2301/javascript/metadata.json
Labels: jsts, javascript

#4269 Modify S120: update Dart description
  rules/S120/dart/rule.adoc
Labels: dart

#4274 S927: Add Exception for .NET
  rules/S927/why-dotnet.adoc
Labels: dotnet

#4246 Explicit permissions for GITHUB_TOKEN where write is needed
  .github/workflows/add_language.yml
  .github/workflows/create_new_rspec.yml
  .github/workflows/update_quickfix_status.yml
Labels: rspec system

#4297 JS-277 Update rules with missing `code` tag
  rules/S1441/javascript/metadata.json
  rules/S1537/metadata.json
  rules/S2260/javascript/metadata.json
  rules/S2310/javascript/metadata.json
  rules/S3523/javascript/metadata.json
  rules/S3723/metadata.json
  rules/S6660/javascript/metadata.json
  rules/S6661/javascript/metadata.json
  rules/S6666/javascript/metadata.json
  rules/S6671/javascript/metadata.json
  rules/S6676/javascript/metadata.json
  rules/S6679/javascript/metadata.json
Labels: jsts, javascript

#4275 Modify rule S4782: Add an exception for when exactOptionalPropertyTypes is enabled
  rules/S4782/javascript/rule.adoc
Labels: jsts

#4307 Modify rule S6813 Specify that rule doesn't target only Spring
  rules/S6813/java/rule.adoc
Labels: java

#4308 Modify rule S1301: Update the rule title to match the implementation behavior
  rules/S1301/javascript/metadata.json
Labels: jsts

#4303 Modify rule S3776: Clarify the behavior of function nesting
  rules/S3776/javascript/rule.adoc
Labels: jsts

#4310 Modify rule S2933: Add to Sonar way quality profile
  rules/S2933/javascript/metadata.json
Labels: jsts

#4309 Modify rule S1854: Remove from Sonar-Way
  rules/S1854/dart/metadata.json
Labels: dart

#3956 Modify rule S6973: Adding PyTorch optimizers
  docs/header_names/allowed_framework_names.adoc
  rules/S6973/python/how-to-fix-it/pytorch.adoc
  rules/S6973/python/how-to-fix-it/scikit-learn.adoc
  rules/S6973/python/metadata.json
  rules/S6973/python/rule.adoc
Labels: python

#4314 Modify rule S6847: Reduce the set of handlers to consider
  rules/S6847/javascript/rule.adoc
Labels: jsts

#4317 Include "sonar-dart" in the list of repos for updating rules coverage script
  rspec-tools/rspec_tools/coverage.py
Labels: dart

#4322 Modify rule S7036: Update rule description
  rules/S7036/text/rule.adoc
Labels: text

#4319 Modify rule S7027: Update description and align with S7091
  rules/S7027/java/metadata.json
  rules/S7027/java/rule.adoc
Labels: java

#4330 Modify rule S7036: mark as `beta`
  rules/S7036/text/metadata.json
Labels: text

#4331 Modify rule S7036: Remove from Sonar Way
  rules/S7036/text/metadata.json
Labels: text

#4318 Modify rule S6177: improve rule description
  rules/S6177/cfamily/rule.adoc
Labels: cfamily

#4271 Modify rules S101 and S7046: add related rules
  rules/S101/dart/rule.adoc
  rules/S7046/dart/rule.adoc
Labels: dart

#4301 Modify rule S5856: Improve resources
  rules/S5856/dart/rule.adoc
Labels: dart

#4338 Modify rule S7079: Fix inline code formatting
  rules/S7079/dart/rule.adoc
Labels: dart

#3984 Modify rule S6929: add the PyTorch library
  docs/header_names/allowed_framework_names.adoc
  rules/S6929/python/metadata.json
  rules/S6929/python/rule.adoc
Labels: python

#4339 Modify rule S7090: Fix formatting of inline code
  rules/S7090/dart/rule.adoc
Labels: dart

#4333 Modify rule S7089: Add S7090 to related rules in resources
  rules/S7089/dart/rule.adoc
Labels: dart

#4332 Add a new language identifier for Ansible
  docs/header_names/allowed_framework_names.adoc
  frontend/src/RulePage.tsx
  frontend/src/utils/useRuleCoverage.ts
  rspec-tools/rspec_tools/utils.py
  supported_languages.adoc
Labels: rspec system

#4346 Modify rule S7084: Remove from Sonar-Way
  rules/S7084/dart/metadata.json
Labels: dart

#4353 Modify rule S6485: quickfix set to covered
  rules/S6485/java/metadata.json
Labels: java
