Repository SonarSource/rspec, pull requests merged in 2024-11, with the labels that each got.

#4453 Modify rule S1155: Adopt standard library method names
  rules/S1155/cfamily/metadata.json
  rules/S1155/cfamily/rule.adoc
Labels: cfamily

#4461 Modify rule S5131: Fix dead link
  rules/S5131/python/rule.adoc
Labels: python

#4467 Modify rule S6096: Update resources (APPSEC-2257)
  rules/S6096/common/resources/articles.adoc
  rules/S6096/common/resources/docs.adoc
  rules/S6096/csharp/rule.adoc
  rules/S6096/java/rule.adoc
  rules/S6096/javascript/rule.adoc
Labels: common

#4473 S2068: Update description for C# and VB.NET
  rules/S2068/csharp/rule.adoc
  rules/S2068/vbnet/rule.adoc
Labels: dotnet

#4478 Modify rule S6096: Improve the resources section
  rules/S6096/common/resources/articles.adoc
Labels: java, python, dotnet, php, jsts

#4456 Modify S3281: Manual update of issue severities to MQR
  rules/S3281/xml/metadata.json
Labels: xml

#4426 Add Jira integration
  .github/workflows/PullRequestClosed.yml
  .github/workflows/RequestReview.yml
  .github/workflows/SubmitReview.yml
Labels: rspec system

#4444 Update impact or defaultSeverity to match each other
  rules/S6667/metadata.json
  rules/S6668/metadata.json
  rules/S6669/metadata.json
  rules/S6670/metadata.json
  rules/S6672/metadata.json
  rules/S6674/metadata.json
  rules/S6675/metadata.json
  rules/S6776/metadata.json
  rules/S6798/csharp/metadata.json
  rules/S6800/csharp/metadata.json
  rules/S6930/metadata.json
  rules/S6931/metadata.json
  rules/S6932/csharp/metadata.json
  rules/S6934/metadata.json
  rules/S6960/metadata.json
  rules/S6964/metadata.json
  rules/S6967/metadata.json
  rules/S6968/csharp/metadata.json
Labels: dotnet

#4485 SONARIAC-1789 Align software quality impact and defaultSeverities on IaC Rules
  rules/S6869/kubernetes/metadata.json
  rules/S7018/docker/metadata.json
  rules/S7019/docker/metadata.json
  rules/S7019/docker/rule.adoc
  rules/S7020/docker/metadata.json
  rules/S7021/docker/metadata.json
  rules/S7023/docker/metadata.json
  rules/S7026/docker/metadata.json
  rules/S7030/docker/metadata.json
  rules/S7031/docker/metadata.json
Labels: iac

#4480 Modify shared `phising.adoc`
  shared_content/secrets/impact/phishing.adoc
Labels: secrets

#4496 Modify rule S2068: Description should not recommend customizing it with tokens
  rules/S2068/php/rule.adoc
Labels: php

#4502 Modify rule S6249: fix Terraform code examples
  rules/S6249/terraform/rule.adoc
Labels: iac

#4513 Modify rule S6418: Fix typo in a variable
  rules/S6418/java/rule.adoc
Labels: java

#4507 S5408 Remove constexpr static data members from rspec (CPP-5809)
  rules/S5408/cfamily/rule.adoc
Labels: cfamily

#4515 NET-700 Modify S7133: Remove Monitor
  rules/S7133/description-dotnet.adoc
  rules/S7133/resources-dotnet.adoc
Labels: dotnet

#4517 Update cirrus-modules to v3
  .cirrus.star
Labels: rspec system

#4519 Fix link checker
  rspec-tools/rspec_tools/checklinks.py
  rules/S6639/common/resources/documentation.adoc
Labels: appsec, rspec system

#4528 Modify S7133: Update rule description
  rules/S7133/description-dotnet.adoc
Labels: dotnet

#4529 JS-399 - Fix MQR / legacy severity discrepancies
  rules/S1441/javascript/metadata.json
  rules/S2310/javascript/metadata.json
  rules/S3523/javascript/metadata.json
  rules/S3723/metadata.json
  rules/S6661/javascript/metadata.json
  rules/S6666/javascript/metadata.json
  rules/S6671/javascript/metadata.json
  rules/S6676/javascript/metadata.json
  rules/S6679/javascript/metadata.json
  rules/S6749/javascript/metadata.json
  rules/S6754/javascript/metadata.json
  rules/S6759/javascript/metadata.json
  rules/S6767/javascript/metadata.json
  rules/S6770/javascript/metadata.json
  rules/S6775/javascript/metadata.json
  rules/S6836/javascript/metadata.json
  rules/S6849/javascript/metadata.json
Labels: javascript

#3823 Modify rule S5148: Adjust description to fit improved detection
  rules/S5148/html/rule.adoc
  rules/S5148/recommended.adoc
Labels: html

#4530 Modify rule S6294: "Log Groups" should be declared explicitly
  rules/S6294/cloudformation/rule.adoc
Labels: iac

#4521 Modify rule S6258: Update S3 bucket examples
  rules/S6258/cloudformation/rule.adoc
  rules/S6258/terraform/rule.adoc
Labels: appsec, iac

#4532 Modify rule S3490 Improve RSPEC: explain that `= default` can be in TU/out of line CPP-5407
  rules/S3490/cfamily/rule.adoc
Labels: cfamily

#4533 Modify rule S6194 Improve rule description for coroutine cognitive complexity CPP-4992
  rules/S6194/rule.adoc
Labels: cfamily

#4531 Modify rule S1820: Consecutive bit fields now only count as one CPP-5889
  rules/S1820/cfamily/rule.adoc
Labels: cfamily

#4537 Update S6584 and S6595 with gdebi package manager
  rules/S6584/docker/rule.adoc
  rules/S6595/docker/rule.adoc
Labels: iac

#4538 Modify rule S2175: SONARJAVA-5186 Improve Test Code Support Part 3
  rules/S2175/java/rule.adoc
Labels: java

#4535 Modify rule S6721: Fix description
  rules/S6721/secrets/rule.adoc
Labels: appsec, secrets

#4540 NET-762 Remove S3649 mention from S2077 rspec
  rules/S2077/vbnet/rule.adoc
Labels: dotnet

#4534 Modify rule S5411: explain that @NonNull values are ignored.
  rules/S5411/java/rule.adoc
Labels: java

#4541 Deprecate S6299: Disabling Vue.js built-in escaping is security-sensitive
  rules/S6299/javascript/metadata.json
Labels: jsts

#4526 Modify S6463: Update rule description
  rules/S6463/python/rule.adoc
Labels: python

#4542 Modify rule S2068: Focus on passwords only
  rules/S2068/javascript/metadata.json
  rules/S2068/javascript/rule.adoc
Labels: jsts

#4543 Modify S6327: Improve the recommended fix
  rules/S6327/metadata.json
  rules/S6327/recommended.adoc
Labels: jsts, iac

#4544 SONARPLSQL-805 S3921: Update RSPEC to mention data dictionary
  rules/S3618/plsql/rule.adoc
  rules/S3641/compliant.adoc
  rules/S3641/how.adoc
  rules/S3641/noncompliant.adoc
  rules/S3641/plsql/rule.adoc
  rules/S3641/tsql/rule.adoc
  rules/S3651/plsql/rule.adoc
  rules/S3921/plsql/rule.adoc
  shared_content/plsql/data_dictionary.adoc
Labels: plsql

#4546 Modify rule S2325: Add WinForms and WPF EventHandler exception
  rules/S2325/csharp/rule.adoc
Labels: dotnet

#4548 Modify S6255: Remove rule from SonarWay (APPSEC-2291)
  rules/S6255/terraform/metadata.json
Labels: iac

#4549 SONARJAVA-5222 Modify rule S115: explain that CONST_CASE applies to String, primitiv…
  rules/S115/java/rule.adoc
Labels: java

#4551 Modify rule S6433: Remove Kubernetes from Sonar Way profile (APPSEC-2276)
  rules/S6433/kubernetes/metadata.json
Labels: appsec, iac

#4550 Deprecate S5594
  rules/S5594/xml/metadata.json
Labels: xml

#4552 Close S3271 for javascript
  rules/S3271/javascript/metadata.json
Labels: jsts
