Repository SonarSource/rspec, pull requests merged in 2025-09, with the labels that each got.

#5353 SONARPY-3313 Fix the metadata of S7614
  rules/S7614/python/metadata.json
Labels: python

#5358 Modify S6967: Clarify a bit better the security vulnerability point.
  rules/S6967/csharp/rule.adoc
Labels: dotnet

#5364 RIS-132 New github action to create multiple rules in one PR
  .github/workflows/create_multiple_new_rspecs.yml
  rspec-tools/rspec_tools/cli.py
  rspec-tools/rspec_tools/create_rule.py
  rspec-tools/rspec_tools/repo.py
  rspec-tools/tests/test_create_rule.py
  rspec-tools/tests/test_repo.py
Labels: rspec system

#5369 SONARGO-468 Adapt S2053 rule description for Argon2
  rules/S2053/go/rule.adoc
Labels: go

#5351 Update classification for S7678 and S7682
  rules/S7678/shell/metadata.json
  rules/S7682/shell/metadata.json
Labels: shell

#5378 Modify S6109(js): Make the rule LayC compliant
  rules/S6109/javascript/rule.adoc
Labels: jsts

#5383 Update Shell rules with consistent severity
  rules/S7674/shell/metadata.json
  rules/S7679/shell/metadata.json
  rules/S7688/shell/metadata.json
  rules/S7689/shell/metadata.json
Labels: shell

#5393 Remove from Sonar Way S7727 - `no-array-callback-reference`
  rules/S7727/javascript/metadata.json
Labels: javascript

#5392 Modify rule S6383: update key vault argument
  rules/S6383/terraform/rule.adoc
Labels: iac

#5528 Modify Rule S4830 : Fix Wrong Code Example
  rules/S4830/cfamily/how-to-fix-it/openssl.adoc
Labels: cfamily, appsec

#5531 Migrate to new gh-actions runners
  .github/workflows/create_multiple_new_rspecs.yml
Labels: rspec system

#5536 APPSEC-2651 Change Salt Length from 32 to 16 bytes for Go Language.
  rules/S2053/common/fix/salt-New.adoc
  rules/S2053/go/rule.adoc
Labels: go

#5540 Modify rule S2053: .Net & VB.Net Adjust minimum salt length to 16
  rules/S2053/csharp/how-to-fix-it/dot-net.adoc
  rules/S2053/vbnet/how-to-fix-it/dot-net.adoc
Labels: dotnet, vb6

#5667 SKUNK-613 Mark DRE Ruby rules as beta
  rules/S7794/ruby/metadata.json
  rules/S7807/ruby/metadata.json
  rules/S7809/ruby/metadata.json
  rules/S7814/ruby/metadata.json
  rules/S7815/ruby/metadata.json
  rules/S7816/ruby/metadata.json
  rules/S7817/ruby/metadata.json
  rules/S7835/ruby/metadata.json
  rules/S7836/ruby/metadata.json
  rules/S7840/ruby/metadata.json
  rules/S7841/ruby/metadata.json
  rules/S7844/ruby/metadata.json
  rules/S7849/ruby/metadata.json
  rules/S7865/ruby/metadata.json
  rules/S7867/ruby/metadata.json
  rules/S7870/ruby/metadata.json
  rules/S7872/ruby/metadata.json
  rules/S7874/ruby/metadata.json
  rules/S7875/ruby/metadata.json
  rules/S7891/ruby/metadata.json
  rules/S7895/ruby/metadata.json
  rules/S7896/ruby/metadata.json
  rules/S7897/ruby/metadata.json
  rules/S7899/ruby/metadata.json
  rules/S7904/ruby/metadata.json
  rules/S7905/ruby/metadata.json
  rules/S7907/ruby/metadata.json
  rules/S7911/ruby/metadata.json
  rules/S7916/ruby/metadata.json
  rules/S7917/ruby/metadata.json
Labels: ruby
