Repository SonarSource/rspec, pull requests merged in 2025-02, with the labels that each got.

#4640 Modify rule S4036: Fix Code Example
  rules/S4036/go/rule.adoc
Labels: appsec, go

#3428 Modify rule S4507: Add support for Flask-GraphQL
  rules/S4507/python/rule.adoc
Labels: appsec, python

#4647 Modify S7179: change scope from Tests to Main
  rules/S7179/java/metadata.json
Labels: java

#4650 RSPEC Tools: Adjust language label for Go
  rspec-tools/rspec_tools/utils.py
Labels: rspec system

#4649 SONARPY-2586 Point coverage script to the enterprise sonar-python repository
  rspec-tools/rspec_tools/coverage.py
Labels: python, rspec system

#4651 SONARJAVA-5322 Modify rule S7177: add tests to tags
  rules/S7177/java/metadata.json
Labels: java

#4654 NET-1118 S3385: Remove Exit For, Do, While and Try
  rules/S3385/vbnet/rule.adoc
Labels: dotnet

#4653 Deprecate rule S1227 (CPP-6131 and NET-1116)
  rules/S1227/metadata.json
Labels: cfamily, dotnet

#4664 Fix Secrets template rule
  rspec-tools/rspec_template/single_language/secrets/metadata.json
Labels: secrets

#4665 S6418/php: fix typo in variable name
  rules/S6418/php/rule.adoc
Labels: php

#4667 Delete rules/S5742/javascript/metadata.json
  rules/S5742/javascript/metadata.json
Labels: javascript

#4666 Modify rule S7190: add tests tag
  rules/S7190/java/metadata.json
Labels: java

#4693 RULEAPI-832 Fix missing automatically updatable rules
  rules/S2144/java/metadata.json
  rules/S2150/java/metadata.json
  rules/S3273/javascript/metadata.json
  rules/S3853/xml/metadata.json
  rules/S5383/apex/metadata.json
  rules/S5497/apex/metadata.json
  rules/S5631/python/metadata.json
  rules/S5650/python/metadata.json
  rules/S5651/python/metadata.json
  rules/S5654/python/metadata.json
  rules/S5755/python/metadata.json
  rules/S6745/java/metadata.json
  rules/S6950/jcl/metadata.json
  rules/S6951/jcl/metadata.json
Labels: common

#4695 RULEAPI-834 Update remaining rules where defaultSeverity is different from MQR
  rules/S1050/cfamily/metadata.json
  rules/S5405/cfamily/metadata.json
  rules/S5410/cfamily/metadata.json
  rules/S5782/cfamily/metadata.json
  rules/S6778/java/metadata.json
  rules/S6826/java/metadata.json
  rules/S6879/java/metadata.json
  rules/S6888/java/metadata.json
  rules/S6938/jcl/metadata.json
  rules/S6942/jcl/metadata.json
  rules/S6947/jcl/metadata.json
  rules/S6952/azureresourcemanager/metadata.json
  rules/S6975/azureresourcemanager/metadata.json
  rules/S6991/cfamily/metadata.json
  rules/S7072/javascript/metadata.json
  rules/S7073/javascript/metadata.json
  rules/S7081/javascript/metadata.json
Labels: common

#4696 RULEAPI-834 Update remaining rules where defaultSeverity is different from MQR
  rules/S935/python/metadata.json
Labels: python

#4703 Modify S6660: Fix impacts and default severity
  rules/S6660/python/metadata.json
Labels: python

#4709 DART-210 Fix discrepancies between MQR and severity for Dart rules
  rules/S7058/dart/metadata.json
  rules/S7064/dart/metadata.json
  rules/S7066/dart/metadata.json
  rules/S7083/dart/metadata.json
  rules/S7095/dart/metadata.json
  rules/S7103/dart/metadata.json
  rules/S7104/dart/metadata.json
  rules/S7105/dart/metadata.json
  rules/S7120/dart/metadata.json
Labels: dart

#4706 Modify rule S6977: Change type to BUG
  rules/S6977/jcl/metadata.json
Labels: jcl

#4707 Modify rule S6945: Add MAINTAINABILITY quality, increase severity and impact levels
  rules/S6945/jcl/metadata.json
Labels: jcl

#4705 Modify rule S6953, S7021: Fix MQR inconsistencies
  rules/S6953/azureresourcemanager/metadata.json
  rules/S7021/docker/metadata.json
  rules/S7021/docker/rule.adoc
Labels: iac

#4672 CPP-6162 S1265 Require sized delete since C++14 and definitions in the same file
  rules/S1265/cfamily/rule.adoc
Labels: cfamily

#4711 Update S2053: Align recommended salt length
  rules/S2053/message.adoc
  rules/S2053/php/how-to-fix-it/core.adoc
Labels: appsec, go

#4704 Modify S1135: remove flex
  rules/S1135/flex/metadata.json
  rules/S1135/flex/rule.adoc
Labels: flex

#4708 Update S4507: Add kotlin code examples (SONARKT-580)
  rules/S4507/kotlin/metadata.json
  rules/S4507/kotlin/rule.adoc
  rules/S4507/see-mobile.adoc
  rules/S4507/xml/metadata.json
  rules/S4507/xml/rule.adoc
Labels: kotlin

#4712 Fix multiple broken links
  rules/S6702/secrets/rule.adoc
  rules/S6768/secrets/rule.adoc
  shared_content/secrets/impact/personal_data_compromise.adoc
Labels: secrets

#4716 Update S6426 to scope Tests
  rules/S6426/javascript/metadata.json
Labels: jsts
