Repository SonarSource/rspec, pull requests merged in 2025-06, with the labels that each got.

#5093 Fix title levels for many rules
  rules/S100/php/rule.adoc
  rules/S1191/java/rule.adoc
  rules/S1192/azureresourcemanager/rule.adoc
  rules/S1195/java/rule.adoc
  rules/S1444/javascript/rule.adoc
  rules/S1472/javascript/rule.adoc
  rules/S1710/java/rule.adoc
  rules/S1844/java/rule.adoc
  rules/S1849/java/rule.adoc
  rules/S1854/cfamily/rule.adoc
  rules/S2095/cfamily/rule.adoc
  rules/S2259/cfamily/rule.adoc
  rules/S2273/java/rule.adoc
  rules/S2293/java/rule.adoc
  rules/S2637/cfamily/rule.adoc
  rules/S2876/python/rule.adoc
  rules/S3034/java/rule.adoc
  rules/S3518/cfamily/rule.adoc
  rules/S3519/cfamily/rule.adoc
  rules/S3588/cfamily/rule.adoc
  rules/S3807/cfamily/rule.adoc
  rules/S3949/csharp/rule.adoc
  rules/S3949/vbnet/rule.adoc
  rules/S5273/cfamily/rule.adoc
  rules/S5280/cfamily/rule.adoc
  rules/S5283/cfamily/rule.adoc
  rules/S5308/cfamily/rule.adoc
  rules/S5485/cfamily/rule.adoc
  rules/S5488/cfamily/rule.adoc
  rules/S5553/cfamily/rule.adoc
  rules/S5642/python/rule.adoc
  rules/S5650/python/rule.adoc
  rules/S5679/java/rule.adoc
  rules/S6183/cfamily/rule.adoc
  rules/S6377/java/rule.adoc
  rules/S6570/docker/rule.adoc
  rules/S6584/docker/rule.adoc
  rules/S6793/common/rule.adoc
  rules/S946/cfamily/rule.adoc
Labels: rspec system

#5098 SONARSEC-6500 Add "Beta" tag to Go security rules
  rules/S2076/go/metadata.json
  rules/S2083/go/metadata.json
  rules/S3649/go/metadata.json
  rules/S5144/go/metadata.json
  rules/S5145/go/metadata.json
  rules/S5146/go/metadata.json
  rules/S6096/go/metadata.json
  rules/S6350/go/metadata.json
Labels: go

#5107 JS-737 [WIP] New key in extra `requiredDependency`
  rspec-tools/rspec_tools/validation/rule-metadata-schema.json
  rules/S1534/javascript/metadata.json
  rules/S4423/javascript/metadata.json
  rules/S6245/javascript/metadata.json
  rules/S6249/javascript/metadata.json
  rules/S6252/javascript/metadata.json
  rules/S6265/javascript/metadata.json
  rules/S6270/javascript/metadata.json
  rules/S6275/javascript/metadata.json
  rules/S6281/javascript/metadata.json
  rules/S6302/javascript/metadata.json
  rules/S6303/javascript/metadata.json
  rules/S6304/javascript/metadata.json
  rules/S6308/javascript/metadata.json
  rules/S6317/javascript/metadata.json
  rules/S6319/javascript/metadata.json
  rules/S6321/javascript/metadata.json
  rules/S6327/javascript/metadata.json
  rules/S6329/javascript/metadata.json
  rules/S6330/javascript/metadata.json
  rules/S6332/javascript/metadata.json
  rules/S6333/javascript/metadata.json
  rules/S6435/javascript/metadata.json
  rules/S6438/javascript/metadata.json
  rules/S6440/javascript/metadata.json
  rules/S6441/javascript/metadata.json
  rules/S6477/javascript/metadata.json
  rules/S6478/javascript/metadata.json
  rules/S6479/javascript/metadata.json
  rules/S6480/javascript/metadata.json
  rules/S6481/javascript/metadata.json
  rules/S6746/javascript/metadata.json
  rules/S6747/javascript/metadata.json
  rules/S6748/javascript/metadata.json
  rules/S6749/javascript/metadata.json
  rules/S6750/javascript/metadata.json
  rules/S6754/javascript/metadata.json
  rules/S6756/javascript/metadata.json
  rules/S6757/javascript/metadata.json
  rules/S6761/javascript/metadata.json
  rules/S6763/javascript/metadata.json
  rules/S6766/javascript/metadata.json
  rules/S6767/javascript/metadata.json
  rules/S6770/javascript/metadata.json
  rules/S6772/javascript/metadata.json
  rules/S6774/javascript/metadata.json
  rules/S6775/javascript/metadata.json
  rules/S6788/javascript/metadata.json
  rules/S6789/javascript/metadata.json
  rules/S6790/javascript/metadata.json
  rules/S6791/javascript/metadata.json
  rules/S6957/javascript/metadata.json
Labels: javascript

#5110 Modify S1871: Update Exception message
  rules/S1871/csharp/exceptions.adoc
Labels: dotnet

#5115 NOJIRA Remove more react
  rules/S6749/javascript/metadata.json
Labels: javascript

#5094 Modify Rule S1215: Add reference to GC.GetTotalMemory
  rules/S1215/csharp/rule.adoc
Labels: dotnet

#5072 DART-260: Specify S7435 for Dart
  rules/S7435/dart/metadata.json
  rules/S7435/dart/rule.adoc
Labels: appsec, dart

#5125 DART-287 Modify rule S5547: Add rspec for Dart
  rules/S5547/dart/how-to-fix-it/pointycastle-extension.adoc
  rules/S5547/dart/metadata.json
  rules/S5547/dart/rule.adoc
Labels: appsec, dart

#5129 SONARJAVA-5622: Modify rule S7158, extend description to also cover CharSequence
  rules/S7158/java/rule.adoc
Labels: java

#5137 Move java S6555 description to java S2259
  rules/S2259/java/compliant-code.adoc
  rules/S2259/java/noncompliant-code.adoc
  rules/S2259/java/rule.adoc
  rules/S6555/java/metadata.json
  rules/S6555/java/rule.adoc
  rules/S6555/metadata.json
Labels: java

#5139 Modify rule S6418 for Java: Add mobile metadata and link
  rules/S6418/java/metadata.json
  rules/S6418/java/rule.adoc
Labels: java, appsec

#5138 CPP-6594 S817 Add C++23 context and Unicode string literal examples
  rules/S817/cfamily/rule.adoc
Labels: cfamily

#5156 Add missing sonar-java-symbolic-execution repository to coverage
  rspec-tools/rspec_tools/coverage.py
Labels: java

#5162 Modify rule S2253: Fix broken formatting
  rules/S2253/cfamily/rule.adoc
Labels: cfamily

#5165 Multiple rules update: Add CWE/CERT mappings to CFamily rules
  rules/S1246/cfamily/metadata.json
  rules/S1246/cfamily/rule.adoc
  rules/S5262/cfamily/metadata.json
  rules/S5262/cfamily/rule.adoc
  rules/S5658/cfamily/metadata.json
  rules/S5658/cfamily/rule.adoc
  rules/S855/cfamily/metadata.json
  rules/S855/cfamily/rule.adoc
  rules/S940/cfamily/metadata.json
  rules/S940/cfamily/rule.adoc
  rules/S940/metadata.json
Labels: cfamily

#5171 NET-2100 Modify S3885: Add AssemblyResolve event exception
  rules/S3885/csharp/rule.adoc
Labels: dotnet
