Repository SonarSource/rspec, pull requests merged in 2025-05, with the labels that each got.

#4979 SONARJAVA-5517 Modify rule S1481: Format code examples
  rules/S1481/java/rule.adoc
Labels: java

#4984 SONARSEC-6382 Modify rules: kotlin taint rules have beta status
  rules/S2076/kotlin/metadata.json
  rules/S2078/kotlin/metadata.json
  rules/S2083/kotlin/metadata.json
  rules/S2091/kotlin/metadata.json
  rules/S2631/kotlin/metadata.json
  rules/S3649/kotlin/metadata.json
  rules/S5131/kotlin/metadata.json
  rules/S5135/kotlin/metadata.json
  rules/S5144/kotlin/metadata.json
  rules/S5145/kotlin/metadata.json
  rules/S5146/kotlin/metadata.json
  rules/S5147/kotlin/metadata.json
  rules/S5334/kotlin/metadata.json
  rules/S5496/kotlin/metadata.json
  rules/S5883/kotlin/metadata.json
  rules/S6096/kotlin/metadata.json
  rules/S6173/kotlin/metadata.json
  rules/S6287/kotlin/metadata.json
  rules/S6350/kotlin/metadata.json
  rules/S6384/kotlin/metadata.json
  rules/S6390/kotlin/metadata.json
  rules/S6398/kotlin/metadata.json
  rules/S6399/kotlin/metadata.json
  rules/S6547/kotlin/metadata.json
  rules/S6549/kotlin/metadata.json
  rules/S7044/kotlin/metadata.json
Labels: kotlin

#4986 NET-1371 Modify S1699: Fix bullet list issue
  rules/S1699/csharp/rule.adoc
Labels: dotnet

#4989 SONARJAVA-5437 Hint in S1186 to add comment to explain why the method is empty
  rules/S1186/java/rule.adoc
Labels: java

#4985 SONARJAVA-4473 Add exception on S2384 for private methods
  rules/S2384/java/rule.adoc
Labels: java

#5007 DART-250 Modify S4790: Update description
  rules/S4790/description.adoc
Labels: appsec, common

#5002 SONARJAVA-4917 Modify rule S6857: add information about property placeholder and new code samples
  rules/S6857/java/rule.adoc
Labels: java

#5008 Add Python async libraries in allowed framework names
  docs/header_names/allowed_framework_names.adoc
Labels: python

#5015 Modify rules S3753, S4682, S6818, S6829, S6838, S7180: small edition to respect the guidelines
  rules/S3753/java/rule.adoc
  rules/S4682/java/rule.adoc
  rules/S6818/java/rule.adoc
  rules/S6829/java/rule.adoc
  rules/S6838/java/rule.adoc
  rules/S7180/java/rule.adoc
Labels: java

#5022 Modify rule S7470: fix typo on conjunction
  rules/S7470/python/metadata.json
  rules/S7470/python/rule.adoc
Labels: python

#5024 SONARSEC-6447: Modify Rule S3649: Add sqlx example
  docs/header_names/allowed_framework_names.adoc
  rules/S3649/go/how-to-fix-it/sqlx.adoc
  rules/S3649/go/rule.adoc
Labels: appsec, go

#4969 SONARJAVA-4881 Update S2230 to only target Spring <= 5
  rules/S2230/java/rule.adoc
Labels: java

#5049 Modify rule S6691: Use a truly non-compliant example
  rules/S6691/secrets/rule.adoc
  shared_content/secrets/examples.adoc
Labels: secrets

#5047 APPSEC-2441 Get rid of mentions of OWASP's A6 and A9 for non-SCA rules
  rules/S1079/cfamily/metadata.json
  rules/S1079/cfamily/rule.adoc
  rules/S1081/cfamily/metadata.json
  rules/S1081/common/resources/standards.adoc
  rules/S2070/see.adoc
  rules/S2817/javascript/rule.adoc
  rules/S2976/java/rule.adoc
  rules/S5435/python/metadata.json
  rules/S5435/python/rule.adoc
  rules/S5445/common/resources/standards.adoc
  rules/S5445/metadata.json
  rules/S5679/java/rule.adoc
  rules/S5679/metadata.json
  rules/S5782/cfamily/metadata.json
  rules/S5782/common/resources/standards.adoc
  rules/S5801/cfamily/metadata.json
  rules/S5801/cfamily/rule.adoc
  rules/S5814/cfamily/metadata.json
  rules/S5814/cfamily/rule.adoc
  rules/S5815/cfamily/metadata.json
  rules/S5815/cfamily/rule.adoc
  rules/S5816/cfamily/metadata.json
  rules/S5816/cfamily/rule.adoc
  rules/S5824/cfamily/metadata.json
  rules/S5824/cfamily/rule.adoc
  rules/S6069/cfamily/metadata.json
  rules/S6069/cfamily/rule.adoc
Labels: rspec system

#5048 SONARGO-465 Modify rule S5344: Add GO code samples
  docs/header_names/allowed_framework_names.adoc
  rules/S5344/go/how-to-fix-it/argon2.adoc
  rules/S5344/go/how-to-fix-it/bcrypt.adoc
  rules/S5344/go/how-to-fix-it/pbkdf2.adoc
  rules/S5344/go/how-to-fix-it/scrypt.adoc
  rules/S5344/go/rule.adoc
Labels: go

#5056 SONARIAC-1972 Modify rule S7019: Fix list display
  rules/S7019/docker/rule.adoc
Labels: iac

#5037 BUILD-8073 Migrate public repositories workflows to large runners
  .github/workflows/PullRequestClosed.yml
  .github/workflows/PullRequestCreated.yml
  .github/workflows/RequestReview.yml
  .github/workflows/SubmitReview.yml
  .github/workflows/add_language.yml
  .github/workflows/create_new_rspec.yml
  .github/workflows/ensure_label.yml
  .github/workflows/main.yml
  .github/workflows/update_quickfix_status.yml
Labels: rspec system

#5063 SONARJAVA-4473 Update exception for S2384 to correspond to update in implementation
  rules/S2384/java/rule.adoc
Labels: java

#4980 Modify rule S4790: Add Dart language
  rules/S4790/dart/metadata.json
  rules/S4790/dart/rule.adoc
  rules/S4790/description.adoc
Labels: appsec, dart

#5051 SONARJAVA-5537 Modify rule S7476: update the documentation to corresponds to rule implementation
  rules/S7476/java/metadata.json
  rules/S7476/java/rule.adoc
Labels: java

#4978 DART-247 Modify rule S4830: Add Dart language
  docs/header_names/allowed_framework_names.adoc
  rules/S4830/dart/how-to-fix-it/dart-io-library.adoc
  rules/S4830/dart/metadata.json
  rules/S4830/dart/rule.adoc
Labels: appsec, dart

#5031 SONARKT-659 Deprecate rule S6291 and S6300
  rules/S6291/metadata.json
  rules/S6300/metadata.json
Labels: java, kotlin

#5071 Update scope for architecture rules
  rules/S7134/javascript/metadata.json
  rules/S7197/javascript/metadata.json
Labels: javascript

#5068 Add dogfood approach to publish `update-coverage` to `dogfood-automerge` and then to `gh-pages`
  .github/workflows/dogfood.yml
  .github/workflows/main.yml
  .github/workflows/update_coverage.yml
Labels: rspec system

#5016 DART-248 Modify rule S6362: Add Dart language
  rules/S6362/dart/metadata.json
  rules/S6362/dart/rule.adoc
Labels: appsec, dart

#5029 DART-246 Modify rule S7409: Add Dart language
  rules/S7409/dart/metadata.json
  rules/S7409/dart/rule.adoc
  rules/S7409/metadata.json
Labels: appsec, dart

#5073 Update architecture rule status to "beta"
  rules/S7027/csharp/metadata.json
  rules/S7027/java/metadata.json
  rules/S7091/csharp/metadata.json
  rules/S7091/java/metadata.json
  rules/S7134/metadata.json
  rules/S7197/metadata.json
Labels: architecture

#5077 Modify rule S3016: Add comment about rule
  rules/S3016/java/rule.adoc
Labels: java

#5076 SONARJAVA-5575 Add benchmark average-time results for rule S3009
  rules/S3009/java/rule.adoc
Labels: java

#5081 Modify rule S2083 - Fix const redefinition in js compliant code sample
  rules/S2083/javascript/how-to-fix-it/node.adoc
Labels: javascript

#5080 Modify rule S5334 - remove Noncompliant comment in compliant code
  rules/S5334/javascript/how-to-fix-it/mongo.adoc
Labels: javascript

#5084 SONARARMOR-1147 Modify rules S5146 S5883: Adapt JS compliant example
  rules/S5146/javascript/how-to-fix-it/express.adoc
  rules/S5883/javascript/how-to-fix-it/express.adoc
Labels: javascript

#5082 SONARJAVA-5580 modify S3024: add performance benchmark table
  rules/S3024/java/rule.adoc
Labels: java

#5086 SONARJAVA-5581 modify S3033: add performance benchmark table
  rules/S3033/java/rule.adoc
Labels: java

#5091 Modify rules S5308,S6183: Fix section level
  rules/S5308/cfamily/rule.adoc
  rules/S6183/cfamily/rule.adoc
Labels: cfamily

#5089 SONARJAVA-5587 S4635 Add benchmark for Java
  rules/S4635/java/rule.adoc
Labels: java

#5079 Modify rule S2864: add benchmark results
  rules/S2864/java/rule.adoc
Labels: java

#5078 Modify rule S3345: add benchmark results
  rules/S3345/java/rule.adoc
Labels: java

#5090 Modify rule S3009: update performance table
  rules/S3009/java/rule.adoc
Labels: java
