Repository SonarSource/rspec, pull requests merged in 2025-07, with the labels that each got.

#5179 Fix typos
  rules/S1523/javascript/rule.adoc
  rules/S1854/howtofixit.adoc
  rules/S2814/rule.adoc
  rules/S2819/javascript/how-to-fix-it/origin.adoc
  rules/S3513/javascript/rule.adoc
  rules/S5443/description.adoc
  rules/S5689/description.adoc
  rules/S5867/javascript/rule.adoc
  rules/S5876/common/resources/standards.adoc
  rules/S6299/javascript/rule.adoc
  rules/S6426/javascript/metadata.json
  rules/S6583/javascript/rule.adoc
  rules/S6671/javascript/rule.adoc
  rules/S6676/javascript/rule.adoc
Labels: jsts

#5180 SONARPY-3028 update wording to include async test method
  rules/S5899/python/rule.adoc
Labels: python

#5183 Create rule S7578: ngrok API keys should not be disclosed
  rules/S7578/metadata.json
  rules/S7578/secrets/metadata.json
  rules/S7578/secrets/rule.adoc
Labels: secrets

#5186 SONARIAC-2102 Modify rule S6418: add JSON/YAML languages
  rules/S6418/json/metadata.json
  rules/S6418/json/rule.adoc
  rules/S6418/yaml/metadata.json
  rules/S6418/yaml/rule.adoc
Labels: yaml, json

#5190 Fix broken links to cppreference
  rules/S1048/cfamily/documentation.adoc
  rules/S1669/cfamily/rule.adoc
Labels: cfamily

#5191 SONARIAC-2106 Add GitHub Actions language
  frontend/src/RulePage.tsx
  frontend/src/utils/useRuleCoverage.ts
  rspec-tools/rspec_tools/utils.py
  supported_languages.adoc
Labels: rspec system

#5195 s2078
  rules/S2078/vbnet/how-to-fix-it/dotnet.adoc
Labels: security, dotnet

#5193 SONARIAC-2099 Modify rule S2068: add JSON/YAML languages
  rules/S2068/json/metadata.json
  rules/S2068/json/rule.adoc
  rules/S2068/yaml/metadata.json
  rules/S2068/yaml/rule.adoc
Labels: yaml, json

#5200 S5144 S6173 S6350 S6399 S6641 S7044
  rules/S5144/vbnet/how-to-fix-it/dotnet.adoc
  rules/S6173/vbnet/how-to-fix-it/dotnet.adoc
  rules/S6350/vbnet/rule.adoc
  rules/S6399/vbnet/how-to-fix-it/dotnet.adoc
  rules/S6641/vbnet/how-to-fix-it/dotnet-core.adoc
  rules/S7044/vbnet/how-to-fix-it/dotnet.adoc
Labels: security, dotnet

#5184 Modify S6781(C#): Align message with reality
  rules/S6781/csharp/rule.adoc
Labels: dotnet

#5145 Modify rule S5131: Add support for NanoHTTPD (APPSEC-2480)
  docs/header_names/allowed_framework_names.adoc
  rules/S5131/java/how-to-fix-it/nanohttpd.adoc
  rules/S5131/java/rule.adoc
  rules/S5131/kotlin/how-to-fix-it/nanohttpd.adoc
  rules/S5131/kotlin/rule.adoc
Labels: java, appsec, kotlin

#5223 Extract common github action impacts into shared content
  rules/S7630/githubactions/rule.adoc
  shared_content/githubactions/impact/information_disclosure.adoc
  shared_content/githubactions/impact/repository_manipulation.adoc
  shared_content/githubactions/impact/supply_chain_attacks.adoc
  shared_content/githubactions/impact/system_compromise.adoc
Labels: appsec

#5234 Modify S6562, S6563: Add DateOnly and fix formating issues
  rules/S6562/csharp/rule.adoc
  rules/S6562/how-dotnet.adoc
  rules/S6562/resources-dotnet.adoc
  rules/S6562/vbnet/rule.adoc
  rules/S6563/resources-dotnet.adoc
Labels: dotnet

#5233 Modify S2083(all): Add example user input for readability
  rules/S2083/common/fix/code-rationale.adoc
Labels: java, python, dotnet, php, jsts, go

#5237 S2301 Fix inappropriate code example
  rules/S2301/javascript/why.adoc
Labels: jsts, javascript

#5240 CPP-6727 Revert MQR security impact from #5165
  rules/S1246/cfamily/metadata.json
  rules/S5262/cfamily/metadata.json
  rules/S5658/cfamily/metadata.json
  rules/S855/cfamily/metadata.json
Labels: cfamily

#5243 S1172 fix non compliant example that wasn't raising
  rules/S1172/python/rule.adoc
Labels: python

#5245 SONARIAC-2155 Add implementation specification for githubactions
  rules/S7630/githubactions/rule.adoc
  rules/S7631/githubactions/rule.adoc
  rules/S7633/githubactions/rule.adoc
  rules/S7634/githubactions/rule.adoc
  rules/S7635/githubactions/rule.adoc
  rules/S7636/githubactions/rule.adoc
  rules/S7637/githubactions/rule.adoc
Labels: iac

#5248 Modify rule S4426: remove references to AES
  rules/S4426/common/fix/aes.adoc
  rules/S4426/common/fix/fix.adoc
  rules/S4426/java/how-to-fix-it/java-cryptography-extension.adoc
  rules/S4426/kotlin/how-to-fix-it/java-cryptography-extension.adoc
  rules/S4426/rationale.adoc
Labels: java, appsec, kotlin
