Repository SonarSource/rspec, pull requests merged in 2025-03, with the labels that each got.

#4714 SONARTEXT-328 Improve generic secret template
  rspec-tools/rspec_template/single_language/secrets/metadata.json
  rspec-tools/rspec_template/single_language/secrets/rule.adoc
  rules/S6652/secrets/rule.adoc
  rules/S6689/secrets/rule.adoc
  rules/S6784/secrets/rule.adoc
  rules/S7169/secrets/rule.adoc
  shared_content/secrets/impact/generic_impact.adoc
  shared_content/secrets/impact/specific_impact_intro.adoc
Labels: secrets

#4718 Add newlines around includes in secrets template
  rspec-tools/rspec_template/single_language/secrets/rule.adoc
Labels: secrets

#4722 Autoclose issues created by Jira integration
  .github/workflows/PullRequestClosed.yml
Labels: rspec system

#4726 SONARGO-393 Modify rule S4423 for Go: remove examples for HTTP servers
  rules/S4423/go/how-to-fix-it/stdlib.adoc
Labels: go

#3985 Modify rule S1289 (`COBOL.UnusedDataItem`): Ignore `EXTERNAL` data items
  rules/S1289/cobol/rule.adoc
Labels: cobol

#4737 SONARJAVA-5401 S6809 Fix incomplete code in an example
  rules/S6809/java/rule.adoc
Labels: java

#4738 SONARGO-126 S1764 Improve RSPEC to cover a check for NaN
  rules/S1764/go/rule.adoc
Labels: go

#4748 Modify rule S7206: Fix Clean Code metadata
  rules/S7206/kotlin/metadata.json
Labels: kotlin

#4787 Modify rule S7186: update description to focus more explicitly on the Data Repository
  rules/S7186/java/rule.adoc
Labels: java

#4777 Modify rule S7180: improve description
  rules/S7180/java/rule.adoc
Labels: java

#4778 JS-641 Modify S3516 description: improve example
  rules/S3516/javascript/rule.adoc
Labels: javascript

#4795 Modify rule S7190: improve test samples
  rules/S7190/java/rule.adoc
Labels: java

#4755 Revert "Update S4507: Add kotlin code examples (SONARKT-580)"
  rules/S4507/kotlin/metadata.json
  rules/S4507/kotlin/rule.adoc
  rules/S4507/see-mobile.adoc
  rules/S4507/xml/metadata.json
  rules/S4507/xml/rule.adoc
Labels: kotlin

#4723 Update rule S6474: Update message and highlighting (SONARKT-600)
  rules/S6474/kotlin/rule.adoc
Labels: kotlin

#3381 Modify rule S3649: Add databases support (APPSEC-1251)
  docs/header_names/allowed_framework_names.adoc
  rules/S3649/common/fix/code-rationale.adoc
  rules/S3649/python/how-to-fix-it/databases.adoc
  rules/S3649/python/how-to-fix-it/sqlalchemy.adoc
  rules/S3649/python/how-to-fix-it/sqlite3.adoc
  rules/S3649/python/rule.adoc
Labels: python

#3413 Modify rule S2092: Add FastAPI (APPSEC-1260)
  rules/S2092/python/rule.adoc
Labels: appsec, python

#3414 Modify rule S3330: Add FastAPI (APPSEC-1260)
  rules/S3330/python/rule.adoc
Labels: appsec, python

#4749 Modify rule S7207: Add additional documentation
  rules/S7207/xml/rule.adoc
Labels: xml

#4800 Modify rule S4423 for Go: Add examples for HTTP servers
  rules/S4423/go/how-to-fix-it/stdlib.adoc
Labels: go

#4798 DART-124 Modify rules S3512, S7066, S7107, S7109: Update message
  rules/S3512/dart/rule.adoc
  rules/S7066/dart/rule.adoc
  rules/S7107/dart/rule.adoc
  rules/S7109/dart/rule.adoc
Labels: dart

#4750 CPP-6230 Modify rule S1172: Mention new exceptional options introduced in C23
  rules/S1172/cfamily/rule.adoc
Labels: cfamily

#4730 Create rule S1858: "to_string()" should never be called on a String value
  rules/S1858/rust/metadata.json
  rules/S1858/rust/rule.adoc
Labels: rust

#4799 DART-213 Modify rules S1161, S7055: update descriptions and messages
  rules/S1161/dart/rule.adoc
  rules/S7055/dart/rule.adoc
Labels: dart

#4804 Update Jira project keys for T-SQL, PL/SQL and VB6
  frontend/src/RulePage.tsx
Labels: rspec system

#4805 Modify S5542: Fix missing CWE link
  rules/S5542/common/resources/standards-mobile.adoc
Labels: appsec

#935 Modify rule S6249: update message
  rules/S6249/cloudformation/rule.adoc
  rules/S6249/highlighting.adoc
  rules/S6249/message.adoc
  rules/S6249/terraform/rule.adoc
Labels: iac

#4811 Revert "Update coverage information (#4808)"
  .github/workflows/update_coverage.yml
  frontend/public/covered_rules.json
Labels: rspec system

#4814 Add line to conflict with coverage update
  frontend/public/covered_rules.json
Labels: rspec system

#4816 Add line to conflict with coverage update
  frontend/public/covered_rules.json
Labels: rspec system

#4820 Modify rules S106,S126,S1612,S2148,S7411,S920 Remove from SonarWay
  rules/S106/rust/metadata.json
  rules/S126/rust/metadata.json
  rules/S1612/rust/metadata.json
  rules/S2148/rust/metadata.json
  rules/S7411/rust/metadata.json
  rules/S920/rust/metadata.json
Labels: rust

#4806 Adjust update_coverage GH Action to work with Merge Queue
  .github/workflows/update_coverage.yml
Labels: rspec system

#4803 Create rule S5344 for Kotlin (SONARKT-582)
  rules/S5344/kotlin/highlighting.adoc
  rules/S5344/kotlin/message.adoc
  rules/S5344/kotlin/metadata.json
  rules/S5344/kotlin/rule.adoc
Labels: kotlin

#4836 Revert "Fix frontend_tests job long running times (#4829)"
  frontend/sonar-project.properties
Labels: rspec system

#4837 Modify rule S5443(cfamily): Fix src blocks highlighting
  rules/S5443/cfamily/rule.adoc
Labels: cfamily

#4802 Update rule S7201: Disable rule and move rule text to S6363 (SONARKT-636)
  rules/S6363/ask-yourself.adoc
  rules/S6363/description.adoc
  rules/S6363/kotlin/rule.adoc
  rules/S6363/metadata.json
  rules/S6363/recommended.adoc
  rules/S6363/see.adoc
  rules/S7201/kotlin/metadata.json
  rules/S7201/metadata.json
Labels: kotlin

#4823 SONARGO-118 Update S2068 exception category
  rules/S2068/go/rule.adoc
Labels: go

#4826 Update rule S7409: Clarify rule title and rule text (SONARKT-637)
  rules/S6362/see.adoc
  rules/S7409/kotlin/metadata.json
  rules/S7409/kotlin/rule.adoc
Labels: appsec, kotlin

#4861 SONARJAVA-5412 Modify rule S7409: Add Java language
  rules/S7409/ask-yourself.adoc
  rules/S7409/description.adoc
  rules/S7409/java/metadata.json
  rules/S7409/java/rule.adoc
  rules/S7409/kotlin/metadata.json
  rules/S7409/kotlin/rule.adoc
  rules/S7409/metadata.json
  rules/S7409/recommended.adoc
  rules/S7409/see.adoc
Labels: java, appsec
