Repository SonarSource/rspec, pull requests merged in 2025-08, with the labels that each got.

#5278 Modify S6350(python): Fix typo
  rules/S6350/python/rule.adoc
Labels: python

#5280 Modify rule S7315: use valid Palantir JWT
  rules/S7315/secrets/rule.adoc
Labels: secrets

#5285 Modify S6096: Improve code examples for Go
  rules/S6096/go/how-to-fix-it/archive_zip.adoc
Labels: go

#5303 Add missing comp langs for plugin `eslint-plugin-n`
  rules/S7657/javascript/metadata.json
  rules/S7659/javascript/metadata.json
  rules/S7662/javascript/metadata.json
  rules/S7663/javascript/metadata.json
  rules/S7664/javascript/metadata.json
  rules/S7665/javascript/metadata.json
  rules/S7666/javascript/metadata.json
  rules/S7667/javascript/metadata.json
  rules/S7668/javascript/metadata.json
  rules/S7669/javascript/metadata.json
  rules/S7670/javascript/metadata.json
Labels: javascript

#5309 Add shell to rule S4830
  rules/S4830/shell/how-to-fix-it/common.adoc
  rules/S4830/shell/metadata.json
  rules/S4830/shell/rule.adoc
Labels: shell
